Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat(discord-bot): add status command
  apps/discord-bot/src/commands/status.command.tsx
Due: discord-bot

fix(player): correctly check if status is hidden
  packages/schemas/src/player/status.ts
Due: schemas

feat(schemas): rework gamecounts
  packages/schemas/src/gamecounts/index.ts
Due: schemas

feat(discord-bot): add parkour command
  apps/discord-bot/src/commands/parkour.command.tsx
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(api): add hypixel resource endpoint
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
Due: api

feat(discord-bot): add gamecounts command
  apps/discord-bot/src/commands/gamecounts.command.ts
  locales/en-US/discord-bot/emojis.json
Due: discord-bot

fix: resolve requested changes
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/parkour.command.tsx
  apps/discord-bot/src/commands/status.command.tsx
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/player/status.ts
  packages/schemas/src/status/index.ts
Due: api, discord-bot, schemas

feat(commands): add guild list and finish guild overall
  apps/api/src/app.module.ts
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/guild-rankings.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/index.ts
  apps/api/src/leaderboards/leaderboard.module.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/guild/guild-list.profile.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  packages/api-client/src/api.service.ts
  packages/api-client/src/enums/leaderboard-query.enum.ts
  packages/api-client/src/responses/index.ts
  packages/api-client/src/responses/post.guild-leaderboard.response.ts
  packages/api-client/src/responses/post.leaderboard.response.ts
  packages/api-client/src/responses/post.player-rankings.response.ts
  packages/api-client/src/responses/post.rankings.response.ts
  packages/assets/src/index.ts
  packages/schemas/src/game.ts
  packages/schemas/src/guild/index.ts
Due: api, discord-bot, schemas

fix(limiting): add better leaderboard limits for guilds
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/guild/rank.ts
Due: schemas

feat(commands): add guild member command
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-daily.profile.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  locales/en-US/discord-bot/default.json
  packages/schemas/src/metadata/metadata.interface.ts
Due: api, discord-bot, schemas

feat: better name handling
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/status.command.tsx
  packages/schemas/src/game.ts
Due: discord-bot, schemas

fix: use locale
  apps/discord-bot/src/commands/status.command.tsx
Due: discord-bot

fix(blitz): fix blitz solo wins being incorrect sometimes
  packages/schemas/src/player/gamemodes/blitzsg/mode.ts
Due: schemas

chore(lint): relint code with new rules
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/parkour.command.tsx
  apps/discord-bot/src/commands/status.command.tsx
  packages/api-client/src/responses/get.gameinfo.response.ts
Due: api, discord-bot

feat(commands) add status, parkour, and gamecounts (#223)
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/parkour.command.tsx
  apps/discord-bot/src/commands/status.command.tsx
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/player/status.ts
  packages/schemas/src/status/index.ts
  packages/util/src/index.ts
Due: api, discord-bot, schemas, util

fix(blitz): blitz solo wins (#227)
  packages/schemas/src/player/gamemodes/blitzsg/mode.ts
Due: schemas

perf(images): switch loadImage implementations
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  packages/api-client/src/api.service.ts
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/hooks/index.ts
  packages/rendering/src/hooks/loadImage.ts
  yarn.lock
Due: api, discord-bot

fix(locales): remove merge markers
  locales/en-US/discord-bot/default.json
Due: none

feat(guild): add guild top command
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/guild/guild-daily.profile.tsx
  apps/discord-bot/src/commands/guild/guild-list.profile.tsx
  apps/discord-bot/src/commands/guild/guild-top.profile.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/components/List.tsx
  apps/discord-bot/src/components/index.ts
Due: discord-bot

fix: clean up guild command code
  apps/discord-bot/src/commands/guild/guild-list.profile.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/components/Background.tsx
  apps/discord-bot/src/components/Skin.tsx
  packages/rendering/src/components/Image.ts
Due: discord-bot

feat(commands): add guild leaderboards
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/arguments/guild-leaderboard.argument.ts
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/index.ts
  packages/assets/package.json
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  yarn.lock
Due: api, discord-bot, schemas

ci(actions): fix lint action
  .github/workflows/lint.yml
Due: none

ci(actions): add `--ignore-scripts` to speed up actions
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

ci(actions): remove --ignore-scripts
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

ci(actions): move lint action into ci action
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

fix: lint scripts
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/build-watch.js
  apps/scripts/src/limit-redis.js
  apps/scripts/src/purge.js
  apps/scripts/src/rank-emojis.js
  apps/scripts/src/utils.js
Due: none

ci(actions): make linter auto commit
  .github/workflows/ci.yml
  apps/scripts/src/api-key.js
Due: none

style(lint): lint packages/logger
  packages/logger/jest.config.js
Due: logger

style(lint): lint apps/scripts
  apps/scripts/src/api-key.js
Due: none

style(lint): lint packages/discord
  packages/discord/jest.config.js
Due: none

style(lint): lint packages/schemas
  packages/schemas/jest.config.js
Due: schemas

style(lint): lint packages/math
  packages/math/jest.config.js
Due: math

style(lint): lint packages/rendering
  packages/rendering/jest.config.js
Due: none

style(lint): lint packages/util
  packages/util/jest.config.js
Due: util

style(lint): lint apps/api
  apps/api/jest.config.js
Due: api

fix: math jest config
  packages/math/jest.config.js
Due: math

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
