Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

feat: update website stats and git submodules
  apps/site/pages/index.tsx
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

fix: pnpm overrides issues and submodule package level esm
  .nvmrc
  apps/site/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(events): add pagination and summer 2023 event stats
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

fix: pm2 script
  pm2.config.js
Due: none

chore(i18n): update crowdin translation (#510)
  locales/cs/default.json
  locales/es-ES/default.json
  locales/fr/default.json
  locales/it/default.json
  locales/ko/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ru/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix: esm issues with support-bot
  apps/support-bot/src/index.ts
  apps/support-bot/src/services/font-loader.service.ts
  apps/support-bot/src/services/mongo-loader.service.ts
  apps/support-bot/src/services/tag.service.ts
  apps/support-bot/src/services/ticket.service.ts
  apps/support-bot/src/services/user.service.ts
Due: none

ci: update node version
  .github/workflows/ci.yml
Due: none

fix: update to use chalk 5.0 syntax, and type cast i18next issue
  .vscode/settings.json
  packages/discord/src/messages/localize.ts
  packages/logger/src/index.ts
Due: logger

fix: patch @m8a/nestjs-typegoose type issue
  .vscode/settings.json
  package.json
  patches/@m8a__nestjs-typegoose@11.0.1.patch
  pnpm-lock.yaml
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

fix: fuse exports
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  package.json
  patches/fuse.js@6.6.2.patch
  pnpm-lock.yaml
  tsconfig.base.json
Due: discord-bot

fix: remove incorrect tests
  packages/util/src/util.ts
Due: util

feat: switch to in-source testing
  .vscode/settings.json
  apps/api/tsconfig.json
  package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/messages/embed.ts
  packages/discord/tests/command.builder.spec.ts
  packages/discord/tests/embed.builder.spec.ts
  packages/logger/src/index.ts
  packages/logger/tests/index.spec.ts
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  packages/rendering/tests/index.spec.tsx
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/serialize.ts
  packages/schemas/tests/deserialize.spec.ts
  packages/schemas/tests/metadata.spec.ts
  packages/schemas/tests/serialize.spec.ts
  packages/util/src/config.ts
  pnpm-lock.yaml
  vitest.shared.ts
Due: api, logger, math, schemas, util

refactor: clean up tsconfigs
  apps/discord-bot/tsconfig.json
  apps/verify-server/tsconfig.eslint.json
  package.json
  packages/api-client/tsconfig.json
  packages/discord/tsconfig.json
  packages/logger/tsconfig.json
  packages/math/tsconfig.json
  packages/rendering/tsconfig.json
  packages/schemas/tsconfig.json
  packages/util/tsconfig.json
Due: discord-bot, logger, math, schemas, util

remove api tests because they don't test much functionality
  apps/api/src/player/player.service.ts
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  apps/api/tests/hypixel-resources.spec.ts
  apps/api/tests/mocks/auth.mock.ts
  apps/api/tests/mocks/guild-leaderboard.mock.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/index.ts
  apps/api/tests/mocks/leaderboard.mock.ts
  apps/api/tests/mocks/mock.type.ts
  apps/api/tests/mocks/mongo-leaderboard.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
  apps/api/tests/player.spec.ts
  apps/api/tests/test.constants.ts
  package.json
  vite.swc.ts
  vitest.workspace.ts
Due: api

remove console log
  vite.swc.ts
Due: none

remove console log
  packages/discord/src/services/api.service.ts
Due: none

update eslint rules
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: none

fix: skin-renderer import
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/assets/src/index.ts
Due: none

add credits and rename pm2 config
  .github/workflows/deploy.yml
  apps/api/src/redis/index.ts
  pm2.config.cjs
  vite.swc.ts
Due: api

fix(scripts): update rank-emojis imports
  apps/scripts/src/rank-emojis.js
  packages/schemas/src/player/index.ts
Due: schemas

fix(scripts): update rank-emojis imports (#533)
  apps/scripts/src/rank-emojis.js
  packages/schemas/src/player/index.ts
Due: schemas

fix(scripts): update rank-emoji request code
  apps/scripts/src/rank-emojis.js
Due: none

chore(i18n): update crowdin translation (#532)
  locales/sv-SE/default.json
Due: none

chore(deps): update @m8a/nestjs-typegoose
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: api

feat(discord-bot): make the server command use lunar server backgrounds
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.interface.ts
  apps/discord-bot/src/commands/minecraft/server/server.profile.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  packages/assets/src/index.ts
  patches/@m8a__nestjs-typegoose@11.0.1.patch
Due: discord-bot

fmt
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
Due: discord-bot

feat(discord-bot): use lunar server backgrounds for /server (#534)
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.interface.ts
  apps/discord-bot/src/commands/minecraft/server/server.profile.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  packages/assets/src/index.ts
  patches/@m8a__nestjs-typegoose@11.0.1.patch
Due: discord-bot

feat(languages): update /ping and /language with new names and languages
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot
