Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

feat: new buildbattle theme list
  apps/discord-bot/words.json
Due: discord-bot

feat/removed words from the list
  apps/discord-bot/words.json
Due: discord-bot

words changes
  apps/discord-bot/words.json
Due: discord-bot

feat: add winter theme
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/util/src/minecraft-colors.ts
  pnpm-lock.yaml
Due: discord-bot, util

feat(discord-bot): new build battle theme list (#728)
  apps/discord-bot/words.json
Due: discord-bot

add darkness
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
Due: discord-bot

add winter footer
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

aa
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/winter-theme.service.ts
Due: discord-bot

update colors
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/util/src/minecraft-colors.ts
Due: discord-bot, util

feat: add winter theme 2025 (#729)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/util/src/minecraft-colors.ts
  pnpm-lock.yaml
Due: discord-bot, util

add few game stats
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
  apps/discord-bot/src/commands/arcade/wins.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
Due: discord-bot

fix: prevent box overlay from rendering twice
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

fix: prevent box overlay from rendering twice (#730)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

fix(tntgames): show storm wizard stats and use proper arcane wizard stats
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix(discord-bot): show latest event's exp in session general stats
  apps/discord-bot/src/commands/events/event-colors.ts
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

fix(tntgames): convert wizards air time from ticks to ms
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix(arenabrawl): correct cooperation challenge stats
  packages/schemas/src/player/gamemodes/challenges/modes/arenabrawl.ts
Due: schemas

fix(arenabrawl): correct cooperation challenge stats (#734)
  packages/schemas/src/player/gamemodes/challenges/modes/arenabrawl.ts
Due: schemas

fix(tntgames): convert wizards air time from ticks to ms (#733)
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
