Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat(SpeedUHC): add speeduhc mastery leaderboards and stats
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/mastery.ts
Due: schemas

feat(discord): added `CommandListener` to have one api for `InteractionServer` & `WebSocketShard`
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  packages/discord/package.json
  packages/discord/src/command/command.listener.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/index.ts
  yarn.lock
Due: discord-bot

feat(discord): add `Interaction` class
  .gitignore
  apps/discord-bot/src/index.ts
  packages/discord/src/command/command.listener.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/index.ts
  packages/discord/src/interaction/interaction.content.ts
  packages/discord/src/interaction/interaction.ts
Due: discord-bot

fix(discord): `CommandListener` so that it will function with both gateway and interaction url bots
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.listener.ts
  packages/discord/src/command/index.ts
  packages/discord/src/interaction/interaction.ts
Due: discord-bot

refactor(discord): refactor `CommandListener` and remove useless if statement
  apps/discord-bot/src/command.listener.ts
Due: discord-bot

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/site/package.json
  package.json
  packages/logger/package.json
  yarn.lock
Due: api, logger

Update actions/checkout action to v3
  .github/workflows/ci.yml
Due: none

test(discord): add tests for `CommandBuilder`
  packages/discord/tests/command.builder.spec.ts
  packages/discord/tests/index.spec.ts
Due: none

feat(discord): add basic argument interface
  apps/discord-bot/src/commands/help.command.ts
  packages/discord/src/arguments/argument.interface.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/index.ts
  packages/discord/tests/command.builder.spec.ts
Due: discord-bot

feat(discord): add command library to the `discord-bot` app (#74)
  .env.schema
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitignore
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  packages/discord/jest.config.js
  packages/discord/package.json
  packages/discord/src/arguments/argument.interface.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/index.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/index.ts
  packages/discord/src/interaction/interaction.content.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/tests/command.builder.spec.ts
  packages/discord/tsconfig.eslint.json
  packages/discord/tsconfig.json
  yarn.lock
Due: discord-bot

fix(warlords): fix Warlords losses
  packages/schemas/src/player/gamemodes/warlords/index.ts
Due: schemas

fix(warlords): Fix Warlords losses (#78)
  packages/schemas/src/player/gamemodes/warlords/index.ts
Due: schemas

feat(achievements): added an achievements route
  apps/api/src/dtos/index.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/responses/get.achievements.response.ts
  apps/api/src/responses/index.ts
  packages/schemas/src/achievements/game.ts
  packages/schemas/src/achievements/iachievement.ts
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/achievements/one-time-achievement.ts
  packages/schemas/src/achievements/tiered-achievement.ts
  packages/schemas/src/decorators/field.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/util/deserialize.ts
  packages/schemas/src/util/serialize.ts
Due: api, schemas

feat(achievements): added an achievements route (#79)
  apps/api/src/dtos/index.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/responses/get.achievements.response.ts
  apps/api/src/responses/index.ts
  packages/schemas/src/achievements/game.ts
  packages/schemas/src/achievements/iachievement.ts
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/achievements/one-time-achievement.ts
  packages/schemas/src/achievements/tiered-achievement.ts
  packages/schemas/src/decorators/field.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/util/deserialize.ts
  packages/schemas/src/util/serialize.ts
Due: api, schemas

fix(discord bot): fix Interaction Server with a port not working
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/achievements/index.ts
Due: schemas

fix(discord bot): Fix Interaction Server with a port not working (#80)
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/achievements/index.ts
Due: schemas

fix(speeduhc): various fixes
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/mastery.ts
Due: schemas

feat(SpeedUHC): add speeduhc mastery leaderboards and stats (#75)
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/mastery.ts
Due: schemas

feat(api auth): add api key auth and a rolling ratelimit
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.decorator.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.role.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/index.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  apps/api/tests/hypixel-resources.spec.ts
  apps/api/tests/player.spec.ts
  apps/api/tests/test.constants.ts
Due: api

test(discord): improve testing and mocks
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  apps/api/tests/hypixel-resources.spec.ts
  apps/api/tests/mocks/auth.mock.ts
  apps/api/tests/mocks/guild-leaderboard.mock.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/index.ts
  apps/api/tests/mocks/leaderboard.mock.ts
  apps/api/tests/mocks/mock.type.ts
  apps/api/tests/mocks/mongo-leaderboard.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
  apps/api/tests/player.spec.ts
  packages/schemas/src/achievements/game.ts
Due: api, schemas

feat(auth): add key salting and api key creation route
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/dtos/key.dto.ts
Due: api

feat(auth): add `ApiSecurity` decorator when using `Auth` decorator
  apps/api/src/auth/auth.decorator.ts
  apps/api/src/index.ts
Due: api

feat(redoc): add ApiKey section to Redoc
  apps/api/src/auth/auth.decorator.ts
  apps/api/src/index.ts
Due: api

feat(api auth): add api key auth and a rolling ratelimit (#81)
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.decorator.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.role.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/index.ts
  apps/api/src/dtos/key.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/index.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  apps/api/tests/hypixel-resources.spec.ts
  apps/api/tests/mocks/auth.mock.ts
  apps/api/tests/mocks/guild-leaderboard.mock.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/index.ts
  apps/api/tests/mocks/leaderboard.mock.ts
  apps/api/tests/mocks/mock.type.ts
  apps/api/tests/mocks/mongo-leaderboard.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
  apps/api/tests/player.spec.ts
  apps/api/tests/test.constants.ts
  packages/schemas/src/achievements/game.ts
Due: api, schemas

docs(redoc css): change background color of redoc authentication table
  apps/api/views/redoc.handlebars
Due: api

docs(redoc): change background color of redoc authentication table (#82)
  apps/api/views/redoc.handlebars
Due: api

feat(discord-bot): basic command handling
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/belp.ts
  apps/discord-bot/src/index.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/tests/command.builder.spec.ts
Due: discord-bot

feat(discord-bot): added a new `CommandContext`
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/help.command.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/index.ts
Due: discord-bot

feat(discord-bot): make discord bot commands be injectable (dependency injection)
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/belp.ts
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/services/example.service.ts
  apps/discord-bot/tsconfig.json
  packages/discord/package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.loader.ts
  yarn.lock
Due: discord-bot

feat(discord-bot): basic command handling (#83)
  apps/discord-bot/package.json
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/example.service.ts
  apps/discord-bot/tsconfig.json
  packages/discord/package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/index.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/tests/command.builder.spec.ts
  yarn.lock
Due: discord-bot

feat(discord): added a reply method to `CommandContext`
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.content.ts
  packages/discord/src/interaction/interaction.ts
Due: discord-bot

feat(discord): added an `EmbedBuilder` to help create embeds
  apps/discord-bot/src/commands/example.command.ts
  packages/discord/src/embed/index.ts
  packages/discord/src/index.ts
  packages/discord/tests/embed.builder.spec.ts
Due: discord-bot

feat(discord): make attachments functional
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.ts
  packages/discord/src/interaction/interaction.content.ts
  packages/discord/src/interaction/interaction.ts
  yarn.lock
Due: discord-bot

feat(discord): add more functionality to `CommandContext` (#84)
  apps/discord-bot/package.json
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/embed/index.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/interaction.content.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/tests/embed.builder.spec.ts
  yarn.lock
Due: discord-bot

fix(deps): update dependency fastify-swagger to v5
  apps/api/package.json
  yarn.lock
Due: api

feat(assets): add assets git submodule
  .gitmodules
  assets/api/defaultSkin.png
Due: none

feat(assets): add assets library to load private assets
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/assets/tsconfig.eslint.json
  packages/assets/tsconfig.json
  yarn.lock
Due: none

fix(skin service): fix default skin not working
  apps/api/package.json
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  packages/assets/src/index.ts
  yarn.lock
Due: api

feat(skin module): add 3d skin rendering
  apps/api/package.json
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  packages/assets/src/index.ts
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  yarn.lock
Due: api, math

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
