Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

try skip build
  .github/workflows/ci.yml
Due: none

chore(i18n): update crowdin translation (#462)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

remove chartjs
  apps/support-bot/package.json
  apps/support-bot/src/services/hypixel-status.service.ts
  apps/support-bot/src/services/index.ts
  yarn.lock
Due: none

chore(deps): remove chartjs because it is unused (#463)
  apps/support-bot/package.json
  apps/support-bot/src/services/hypixel-status.service.ts
  apps/support-bot/src/services/index.ts
  yarn.lock
Due: none

perf(mongo): dont fetch duplicate/unnecassary data
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
Due: api

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

refactor(historical): move/Add nextReset/lastReset to historical.service and display in h-lbs
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

fix(build): build errors from merge
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
Due: discord-bot

feat(script): add a script to add lastReset & nextReset to the historical documents missing it
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/timestamp.js
  packages/schemas/src/util/create-historical-player.ts
Due: api, schemas

fix(scripts): fix timestamp script issue with passing in the current time period
  apps/scripts/src/timestamp.js
Due: none

feat(scrpt): temp script to reset lastReset & nextReset
  apps/scripts/package.json
  apps/scripts/src/reset.js
Due: none

fix(scripts): fix getLastResetTime
  apps/scripts/src/reset.js
  apps/scripts/src/timestamp.js
Due: none

feat(historical): finish new lastReset/nextReset implemenation
  .vscode/settings.json
  apps/api/src/hypixel/hypixel.module.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
Due: api, discord-bot

feat(historical): add a sweeper to update skippeed historical resets
  apps/api/src/historical/historical.service.ts
Due: api

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

feat(hypixel-api): super strong types
  packages/hypixel-api-client/src/index.ts
  packages/hypixel-api-client/src/types/helpers.d.ts
  packages/hypixel-api-client/src/types/index.ts
  packages/hypixel-api-client/src/types/player-stats.d.ts
  packages/hypixel-api-client/src/types/player.d.ts
  packages/hypixel-api-client/src/types/ranks.d.ts
  packages/hypixel-api-client/src/types/stats/index.ts
  packages/hypixel-api-client/src/types/stats/pit-stats.d.ts
  packages/schemas/package.json
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/stats.ts
  yarn.lock
Due: schemas

fix(historical): optimize sweeper requests
  apps/api/src/historical/historical.service.ts
Due: api

Update default.json
  locales/en-US/default.json
Due: none

style(unicorn): disable unicorn/switch-case-braces
  .eslintrc
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/tests/mocks/index.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/lib/format-position.ts
  apps/discord-bot/src/themes/boxes/index.ts
  apps/discord-bot/src/themes/palette.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/purge.js
  packages/assets/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/logger/src/index.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/util.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/user/index.ts
Due: api, discord-bot, logger, schemas

fix(pit): fix pit gold & lifetime gold lbs
  packages/schemas/src/player/gamemodes/pit/index.ts
Due: schemas

fix(vampirez): fix vampirez prefixes rounding when they shouldnt
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Due: schemas

fix(speeduhc): fix speeduhc masteries
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
Due: discord-bot

style(unicorn): disable unicorn/switch-case-braces (#473)
  .eslintrc
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/tests/mocks/index.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/lib/format-position.ts
  apps/discord-bot/src/themes/boxes/index.ts
  apps/discord-bot/src/themes/palette.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/purge.js
  packages/assets/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/logger/src/index.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/util.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/user/index.ts
Due: api, discord-bot, logger, schemas

update to node 18
  .nvmrc
Due: none

move away from axios and rename some interfaces
  packages/hypixel-api-client/package.json
  packages/hypixel-api-client/src/index.ts
  packages/hypixel-api-client/src/types/base-hypixel-response.d.ts
  packages/hypixel-api-client/src/types/helpers.d.ts
  packages/hypixel-api-client/src/types/player-stats.d.ts
  packages/hypixel-api-client/src/types/player.d.ts
  packages/hypixel-api-client/src/types/ranks.d.ts
  packages/hypixel-api-client/src/types/stats/pit-stats.d.ts
  yarn.lock
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

feat(historical): add a temp premium lock to D/W/M leaderboards while we test the feature
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

chore(i18n): update crowdin translation (#472)
  locales/cs/default.json
  locales/es-ES/default.json
  locales/pt-BR/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

feat(guild): add gexp positions (#383)
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  locales/en-US/default.json
Due: discord-bot

refactor(text): remove useless theme igonre prop
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  packages/rendering/src/components/Text.ts
Due: api, discord-bot

refactor(text): remove useless theme ignore prop (#474)
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  packages/rendering/src/components/Text.ts
Due: api, discord-bot

feat(text): add alignment options to text command
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  packages/rendering/src/jsx/render.ts
Due: discord-bot

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
