Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat(discord-bot): add basic command arguments (#161)
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/guild.command.ts
  apps/discord-bot/src/commands/profile.command.tsx
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/argument.interface.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/tests/command.builder.spec.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: discord-bot, schemas

chore(deps): pin actions/labeler action to v4
  .github/workflows/pr_labeler.yml
Due: none

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  apps/verify-server/package.json
  package.json
  packages/discord/package.json
  yarn.lock
Due: api, discord-bot

test(schemas): fix metadata tests
  packages/schemas/tests/metadata.spec.ts
Due: schemas

fix(deps): update dependency ioredis to v5
  apps/api/package.json
  yarn.lock
Due: api

feat(scripts): add script to create rank emojis
  .env.schema
  apps/discord-bot/emojis.json
  apps/scripts/package.json
  apps/scripts/src/rank-emojis.js
  packages/schemas/src/index.ts
  packages/schemas/src/player/util.ts
  yarn.lock
Due: discord-bot, schemas

style: fix linting
  packages/schemas/src/index.ts
Due: schemas

feat(scripts): add script to create rank emojis (#164)
  .env.schema
  apps/discord-bot/emojis.json
  apps/scripts/package.json
  apps/scripts/src/rank-emojis.js
  packages/schemas/src/index.ts
  packages/schemas/src/player/util.ts
  yarn.lock
Due: discord-bot, schemas

feat(i18n): basic localization features
  .vscode/settings.json
  apps/discord-bot/package.json
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/guild.command.ts
  apps/discord-bot/src/commands/language.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/font.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/paginate.service.ts
  apps/discord-bot/src/util/error.response.ts
  apps/discord-bot/src/util/index.ts
  locales/en-GB/discord-bot/default.json
  locales/en-US/discord-bot/default.json
  packages/discord/package.json
  packages/discord/src/command/command.context.ts
  packages/discord/src/components/button.builder.ts
  packages/discord/src/embed/index.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/base.message.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/index.ts
  packages/discord/src/messages/embed.ts
  packages/discord/src/messages/error.message.ts
  packages/discord/src/messages/index.ts
  packages/discord/src/messages/localize.ts
  packages/discord/src/util/content.response.ts
  packages/discord/src/util/index.ts
  packages/discord/tests/embed.builder.spec.ts
  packages/util/src/index.ts
  yarn.lock
Due: discord-bot, util

style: fix linting
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/embed.ts
  packages/discord/src/messages/index.ts
  packages/util/src/index.ts
Due: discord-bot, util

chore(deps): Update all non-major dependencies
  .github/workflows/issue_labeler.yml
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/logger/package.json
  yarn.lock
Due: api, discord-bot, logger

chore(deps): update dependency @types/cron to v2
  apps/api/package.json
  yarn.lock
Due: api

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: none

feat(scripts): add build watch script and fix purge script
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/build-watch.js
  apps/scripts/src/create-env.js
  apps/scripts/src/purge.js
  apps/scripts/src/utils.js
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/jsx/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/schemas/package.json
  packages/util/package.json
  turbo.json
  yarn.lock
Due: api, discord-bot, logger, math, schemas, util

fix: make it so the build:watch script does an initial build first
  package.json
Due: none

feat(scripts): add build watch script and fix purge script (#170)
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/build-watch.js
  apps/scripts/src/create-env.js
  apps/scripts/src/purge.js
  apps/scripts/src/utils.js
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/jsx/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/schemas/package.json
  packages/util/package.json
  turbo.json
  yarn.lock
Due: api, discord-bot, logger, math, schemas, util

feat(jsx): improve table and fix some sidebar issues
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/profile.command.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Table.tsx
  apps/discord-bot/src/components/Table/Table.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/components/Table/TableRow.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/components/Table/index.ts
  apps/scripts/src/build-watch.js
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/tests/command.builder.spec.ts
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Div.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/hooks/useComponentSize.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/types.ts
  packages/jsx/src/jsx/util.ts
Due: discord-bot

feat(woolgames): add woolgames stats
  .vscode/launch.json
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/woolgames/class.ts
  packages/schemas/src/player/gamemodes/woolgames/index.ts
  packages/schemas/src/player/gamemodes/woolgames/util.ts
  packages/schemas/src/player/stats.ts
Due: schemas

chore: add woolwars to gamecounts and guilds
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
Due: schemas

fix(achievements): add woolwars
  packages/schemas/src/achievements/index.ts
Due: schemas

chore(schemas): call wool games 'wool wars'
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/game.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/player/stats.ts
Due: schemas

fix: woolwars leveling
  packages/schemas/src/player/gamemodes/woolgames/class.ts
  packages/schemas/src/player/gamemodes/woolgames/index.ts
  packages/schemas/src/player/gamemodes/woolgames/util.ts
Due: schemas

fix(woolwars): leveling progression
  packages/schemas/src/player/gamemodes/woolgames/util.ts
Due: schemas

feat(woolwars): add woolwars stats (#165)
  .vscode/launch.json
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/player/stats.ts
Due: schemas

feat(schema): add more stats and disable some leaderboards
  .eslintrc
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/commands/profile.command.tsx
  packages/assets/src/index.ts
  packages/math/src/index.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/trophy.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/progression.ts
Due: api, discord-bot, math, schemas

fix(coverage): commit new code that apsses coverage tests
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: schemas

fix(coverage): fix coverage tests failing'
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

feat(schema): resolve jacob's requested changes
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/progression.ts
Due: math, schemas

fix(wkr): sort WKR leaderboard ASC
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

fix(wlr): remove WLR as win rate does pretty much the same thing
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

feat(schema): add BedWars challenges
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
Due: schemas

feat(schema): add more stats and disable some leaderboards (#172)
  .eslintrc
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/profiles/skywars.profile.tsx
  packages/assets/src/index.ts
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/trophy.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/progression.ts
Due: api, discord-bot, math, schemas

ci: fix format on save with imports
  .vscode/settings.json
Due: none

chore(deps): update actions/setup-node digest to 17f8bd9
  .github/workflows/ci.yml
Due: none

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/verify-server/package.json
  package.json
  packages/discord/package.json
  yarn.lock
Due: api, discord-bot

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
