Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix: minecraft using bad symbols for spaces in certain languages
  packages/discord/src/services/i18n-loader.service.ts
  packages/rendering/sizes.json
  packages/util/src/index.ts
Due: util

fix: update skin routes to use caching and fix leaderboard validation
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/services/pit-panda.service.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  yarn.lock
Due: discord-bot

fix(buildbattle): remove maxPoints because the stat is broken
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
Due: discord-bot, schemas

update leaderboard validation
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

fix: rc2 bugs
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/site/components/About/about.module.scss
  apps/site/components/About/index.tsx
  apps/site/components/Feature/feature.module.scss
  apps/site/components/StatCircle/StatCircleContainer.tsx
  apps/site/components/StatCircle/stat-circle-container.module.scss
  apps/site/components/StatCircle/stat-circle.module.scss
  apps/site/pages/_app.tsx
  packages/assets/src/index.ts
  packages/discord/src/util/error.message.ts
  packages/schemas/src/user/footer.ts
Due: api, discord-bot, schemas

fix: rc2 bugs (#293)
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/site/components/About/about.module.scss
  apps/site/components/About/index.tsx
  apps/site/components/Feature/feature.module.scss
  apps/site/components/StatCircle/StatCircleContainer.tsx
  apps/site/components/StatCircle/stat-circle-container.module.scss
  apps/site/components/StatCircle/stat-circle.module.scss
  apps/site/pages/_app.tsx
  packages/assets/src/index.ts
  packages/discord/src/util/error.message.ts
  packages/schemas/src/user/footer.ts
Due: api, discord-bot, schemas

fix: error messages with attachments not sending when not deferring the response
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  locales/en-US/emojis.json
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  yarn.lock
Due: discord-bot

fix: error messages with attachments not sending when not deferring the response (#294)
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  locales/en-US/emojis.json
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  yarn.lock
Due: discord-bot

chore(pm2): add support bot to pm2 config
  pm2.config.js
Due: none

fix: localization messages and request errors in support bot
  locales/en-US/default.json
  packages/discord/src/util/parse-discord-error.ts
Due: none

fix(tnt): tnt run losses doesnt exist but deaths do
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix(tnt): tnt run losses doesnt exist but deaths do (#295)
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix: historical stats, discord error parsing, and friends list
  apps/api/src/historical/historical.service.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  locales/en-US/default.json
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: api, schemas

fix: historical stats, discord error parsing, and friends list (#296)
  apps/api/src/historical/historical.service.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/friends/friend.ts
Due: api, schemas

fix: tag newlines, & spelling in user command
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

fix: sentry posting 10000s of transactions for /skin
  apps/api/src/sentry/sentry.interceptor.ts
  packages/api-client/src/api.service.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: api, schemas

fix: tag newlines, & spelling in user command (#297)
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/index.ts
  packages/api-client/src/api.service.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: api, discord-bot, schemas

feat(api): add a route to get a list of players
  apps/api/src/auth/auth.role.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-group.dto.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/status.ts
Due: api, schemas

fix(support-bot): fix some of the support-bot events
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/events/message-create.event.ts
Due: none

feat(commands): add /bridge
  apps/discord-bot/src/commands/duels/bridge.command.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: discord-bot, schemas

feat(commands): add /bridge (#299)
  apps/discord-bot/src/commands/duels/bridge.command.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: discord-bot, schemas

fix(bridge): add goals to the sidebar
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

fix(bridge): add goals to the sidebar (#300)
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

fix(support-bot): findAllPremium all premium method not accounting for netherite tier
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
Due: none

feat(api): add a route to get a list of players (#298)
  apps/api/src/auth/auth.role.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-group.dto.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/events/message-create.event.ts
  apps/support-bot/src/services/user.service.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/status.ts
Due: api, schemas

fix(support-bot): ignore server booster status if the user is a patreon
  apps/support-bot/src/events/guild-member-update.event.ts
Due: none

feat(arcade): add more stats
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
Due: discord-bot, schemas

feat(arcade): hypixel says max score
  apps/discord-bot/src/commands/arcade/tables/hypixel-says.table.tsx
  locales/en-US/default.json
Due: discord-bot

feat(arcade): add new arcade stats (#301)
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hypixel-says.table.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
Due: discord-bot, schemas

fix(skywars): add the word stats to the skywars title
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(skywars): add the word stats to the skywars title (#304)
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat: add historical sidebar and classic tokens
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

fix(techoblade): fix technoblade display color
  packages/schemas/src/player/util.ts
Due: schemas

Update apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/Header.tsx
Due: discord-bot

style(column): make it column not row
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
Due: discord-bot

feat: add historical sidebar and classic tokens (#305)
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/player/util.ts
Due: discord-bot, schemas

fix: namemc link in player error message being malformed
  packages/discord/src/services/api.service.ts
Due: none

fix: namemc link in player error message being malformed (#306)
  packages/discord/src/services/api.service.ts
Due: none

fix(support-bot): tickets deleting when a member leaves the server regardless if they had a ticket
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/message-create.event.ts
  apps/support-bot/src/services/ticket.service.ts
Due: none
