Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

feat(discord-bot): command and argument localization (#194)
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.-loader.service.ts
  apps/discord-bot/src/services/i18n-loader.service.ts
  apps/discord-bot/src/services/index.ts
  locales/en-US/discord-bot/default.json
  locales/fr/discord-bot/default.json
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/messages/localize.ts
  packages/discord/tests/command.builder.spec.ts
Due: discord-bot

chore(deps): Update all non-major dependencies
  apps/discord-bot/package.json
  package.json
  packages/discord/package.json
  yarn.lock
Due: discord-bot

feat(jsx): make jsx autoscale and no longer require set dimensions
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/general.command.tsx
  apps/discord-bot/src/commands/hypixel.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/general.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
  packages/rendering/jest.config.js
  packages/rendering/src/components/Box.ts
  packages/rendering/src/components/Div.ts
  packages/rendering/src/components/Image.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/hooks/useComponentSize.ts
  packages/rendering/src/jsx/convert.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/jsx/util.ts
  packages/rendering/tests/index.spec.tsx
  packages/rendering/tsconfig.json
  packages/schemas/src/metadata/metadata-scanner.ts
Due: api, discord-bot, schemas

fix(font): make it so the font centers itself vertically when there are different sizes
  packages/rendering/src/font/font-renderer.ts
Due: none

refactor(backgrounds): move background fetching to the constants and clean up `HypixelCommand`
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/general.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

refactor: move hypixel commands to the minigames folder
  apps/discord-bot/src/commands/minigames/base.hypixel-command.ts
  apps/discord-bot/src/commands/minigames/bedwars.command.tsx
  apps/discord-bot/src/commands/minigames/general.command.tsx
  apps/discord-bot/src/commands/minigames/hypixel.command.tsx
  apps/discord-bot/src/commands/minigames/skywars.command.tsx
Due: discord-bot

fix: fix the spelling of instructions
  packages/rendering/tests/index.spec.ts
  packages/rendering/tests/index.spec.tsx
Due: none

feat(commands): bedwars, buildbattle, duels, general, megawalls, murdermystery, skywars & tntgames
  apps/discord-bot/src/commands/minigames/base.hypixel-command.ts
  apps/discord-bot/src/commands/minigames/bedwars.command.tsx
  apps/discord-bot/src/commands/minigames/buildbattle.command.tsx
  apps/discord-bot/src/commands/minigames/duels.command.tsx
  apps/discord-bot/src/commands/minigames/general.command.tsx
  apps/discord-bot/src/commands/minigames/megawalls.command.tsx
  apps/discord-bot/src/commands/minigames/murdermystery.command.tsx
  apps/discord-bot/src/commands/minigames/skywars.command.tsx
  apps/discord-bot/src/commands/minigames/tntgames.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/buildbattle.command.tsx
  apps/discord-bot/src/profiles/duels-tables/bridge-duels.table.tsx
  apps/discord-bot/src/profiles/duels-tables/index.ts
  apps/discord-bot/src/profiles/duels-tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/profiles/duels-tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/profiles/duels-tables/uhc-duels.table.tsx
  apps/discord-bot/src/profiles/duels.profile.tsx
  apps/discord-bot/src/profiles/general.profile.tsx
  apps/discord-bot/src/profiles/megawalls.profile.tsx
  apps/discord-bot/src/profiles/murdermystery.command.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/profiles/tntgames.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/rendering/src/components/Box.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
Due: discord-bot, schemas

refactor(skywars): refactor skywars profile and remove useless skywars table component
  apps/discord-bot/src/profiles/skywars.profile.tsx
Due: discord-bot

docs(readme): add a line about fetching public assets
  README.md
Due: none

feat(commands): add woolwars
  apps/discord-bot/src/commands/minigames/woolwars.command.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/profiles/woolwars.profile.tsx
  apps/scripts/src/utils.js
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: discord-bot, schemas

feat(commands): add smash heroes
  apps/discord-bot/src/commands/minigames/buildbattle.command.tsx
  apps/discord-bot/src/commands/minigames/murdermystery.command.tsx
  apps/discord-bot/src/commands/minigames/smashheroes.command.tsx
  apps/discord-bot/src/profiles/buildbattle.profile.tsx
  apps/discord-bot/src/profiles/murdermystery.profile.tsx
  apps/discord-bot/src/profiles/smashheroes.profile.tsx
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
Due: discord-bot, schemas

fix(commands): move assists to be after kdr
  apps/discord-bot/src/profiles/megawalls.profile.tsx
  apps/discord-bot/src/profiles/woolwars.profile.tsx
Due: discord-bot

feat(commands): add speeduhc
  apps/discord-bot/src/commands/minigames/smashheroes.command.tsx
  apps/discord-bot/src/commands/minigames/speeduhc.command.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/profiles/speeduhc.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
Due: discord-bot, schemas

feat(commands): add uhc
  apps/discord-bot/src/commands/minigames/uhc.command.tsx
  apps/discord-bot/src/profiles/speeduhc.profile.tsx
  apps/discord-bot/src/profiles/uhc.profile.tsx
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(commands): add blitzsg
  apps/discord-bot/src/commands/minigames/base.hypixel-command.ts
  apps/discord-bot/src/commands/minigames/blitzsg.command.tsx
  apps/discord-bot/src/profiles/blitzsg.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: discord-bot, schemas

feat(command): add all 6 classic command profiles
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/minigames/arenabrawl.command.tsx
  apps/discord-bot/src/commands/minigames/buildbattle.command.tsx
  apps/discord-bot/src/commands/minigames/murdermystery.command.tsx
  apps/discord-bot/src/commands/minigames/paintball.command.tsx
  apps/discord-bot/src/commands/minigames/quake.command.tsx
  apps/discord-bot/src/commands/minigames/turbokartracers.command.tsx
  apps/discord-bot/src/commands/minigames/vampirez.command.tsx
  apps/discord-bot/src/commands/minigames/walls.command.tsx
  apps/discord-bot/src/profiles/arenabrawl.profile.tsx
  apps/discord-bot/src/profiles/buildbattle.profile.tsx
  apps/discord-bot/src/profiles/murdermystery.profile.tsx
  apps/discord-bot/src/profiles/paintball.profile.tsx
  apps/discord-bot/src/profiles/quake.profile.tsx
  apps/discord-bot/src/profiles/turbokartracers.profile.tsx
  apps/discord-bot/src/profiles/vampirez.profile.tsx
  apps/discord-bot/src/profiles/walls.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
Due: discord-bot, schemas

feat(commands): add CVC and Warlords Profile as well as 1.14 bb wins
  apps/discord-bot/src/commands/minigames/copsandcrims.command.tsx
  apps/discord-bot/src/commands/minigames/warlords.command.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/profiles/buildbattle.profile.tsx
  apps/discord-bot/src/profiles/copsandcrims.profile.tsx
  apps/discord-bot/src/profiles/quake.profile.tsx
  apps/discord-bot/src/profiles/warlords.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
Due: discord-bot, schemas

fix(general): make guild stats function for the general profile
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/profiles/duels-tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/profiles/duels-tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/profiles/general.profile.tsx
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: api, discord-bot, schemas

fix(general): fix date formatting in the general profile
  apps/discord-bot/package.json
  apps/discord-bot/src/profiles/general.profile.tsx
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/messages/localize.ts
  packages/discord/tests/embed.builder.spec.ts
  yarn.lock
Due: discord-bot

feat(commands): add skywars labs
  apps/discord-bot/src/profiles/blitzsg.profile.tsx
  apps/discord-bot/src/profiles/megawalls.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/skywars/index.ts
Due: discord-bot, schemas

fix(profiles): fix overall wins in cvc
  apps/discord-bot/src/profiles/copsandcrims.profile.tsx
  apps/discord-bot/src/profiles/duels.profile.tsx
Due: discord-bot

feat(compare): add a basic compare profile
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/commands/compare/compare.command.tsx
  apps/discord-bot/src/commands/compare/compare.profile.tsx
  packages/api-client/src/api.service.ts
Due: discord-bot

feat(smashheroes): add smash heroes kits as well as fix some default values
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.command.tsx
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/mode.ts
Due: api, discord-bot, schemas

fix(schema): skywars default kits, smash hero default kit, mega walls points
  apps/discord-bot/src/commands/base.hypixel-command.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
Due: discord-bot, schemas

feat(arcade): add arcade games command
  apps/discord-bot/src/commands/arcade/arcade-tables/blocking-dead.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/bounty-hunters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/creeper-attack.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/farm-hunt.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/galaxy-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hole-in-the-wall.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hypixel-says.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/index.ts
  apps/discord-bot/src/commands/arcade/arcade-tables/mini-walls.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/overall-arcade.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/party-games.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/pixel-painters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/seasonal.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/throw-out.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/zombies.table.tsx
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(arcade): review issues
  apps/discord-bot/src/commands/arcade/arcade-tables/index.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
Due: discord-bot

feat(arcade): add arcade games command (#199)
  apps/discord-bot/src/commands/arcade/arcade-tables/blocking-dead.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/bounty-hunters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/creeper-attack.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/farm-hunt.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/galaxy-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hole-in-the-wall.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hypixel-says.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/index.ts
  apps/discord-bot/src/commands/arcade/arcade-tables/mini-walls.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/overall-arcade.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/party-games.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/pixel-painters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/seasonal.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/throw-out.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/zombies.table.tsx
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat(smashheroes): add smash heroes kits (#198)
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.command.tsx
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/mode.ts
Due: api, discord-bot, schemas

fix(tests): add type checking to @statsify/rendering tests
  packages/rendering/tsconfig.json
Due: none

fix(assets): add functionality to public assets
  package.json
  packages/assets/src/index.ts
Due: none

chore(deps): update actions/cache digest to 30f413b
  .github/workflows/ci.yml
Due: none

fix(assets): add functionality to public assets (#202)
  package.json
  packages/assets/src/index.ts
Due: none

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: none

fix(deps): update dependency point-of-view to v6
  apps/api/package.json
  yarn.lock
Due: api
