Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

ci(github): make pr and issue labelers
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Due: none

fix(schemas): add duels stats (#127)
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

ci(github): make pr and issue labelers
  .devcontainer/install.sh
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: clean up debug code
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/services/font.service.ts
Due: discord-bot

feat(jsx): add more theming and style related features (#125)
  .github/labeler.yml
  .github/workflows/labeler.yml
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/Table.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.service.ts
  packages/jsx/package.json
  packages/jsx/src/colors/index.ts
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/components/Div.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/components/Image.tsx
  packages/jsx/src/components/Text.ts
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/components/index.ts
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/index.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-element.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/index.ts
  packages/jsx/src/jsx/instrinsics.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Due: discord-bot

feat(verify server): add verify server
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  apps/verify-server/tsconfig.eslint.json
  apps/verify-server/tsconfig.json
  package.json
  yarn.lock
Due: none

fix: fix `verify-server` in `issue_labeler`
  .github/issue_labeler.yml
Due: none

ci: add `verify-server` to debugger
  .vscode/launch.json
  .vscode/settings.json
Due: none

fix: my ability to type verify-server
  .github/issue_labeler.yml
  .vscode/launch.json
Due: none

feat(verify server): verify server functionality (add user code to db, etc)
  .env.schema
  apps/verify-server/package.json
  apps/verify-server/src/generate-code.ts
  apps/verify-server/src/index.ts
  apps/verify-server/src/module.d.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/field/index.ts
  packages/schemas/src/verify-codes/index.ts
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
  tsconfig.base.json
  yarn.lock
Due: schemas, util

ci(husky): fix husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(verify server): add server logo and clean up messages
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  yarn.lock
Due: none

feat(scripts): add createenv script
  apps/scripts/package.json
  apps/scripts/src/createenv.js
Due: none

feat(verify server): add verify server (#152)
  .env.schema
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .husky/commit-msg
  .husky/pre-commit
  .vscode/launch.json
  .vscode/settings.json
  apps/verify-server/package.json
  apps/verify-server/src/generate-code.ts
  apps/verify-server/src/index.ts
  apps/verify-server/src/module.d.ts
  apps/verify-server/tsconfig.eslint.json
  apps/verify-server/tsconfig.json
  package.json
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/field/index.ts
  packages/schemas/src/verify-codes/index.ts
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
  tsconfig.base.json
  yarn.lock
Due: schemas, util

feat(api): add `/api/user` and relevant methods
  apps/api/src/app.module.ts
  apps/api/src/dtos/historical-type.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/user.dto.ts
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/responses/get.user.response.ts
  apps/api/src/responses/index.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/user/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  packages/schemas/src/user/index.ts
Due: api, schemas

feat(api): add `/api/user` and relevant methods (#155)
  apps/api/src/app.module.ts
  apps/api/src/dtos/historical-type.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/user.dto.ts
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/responses/get.user.response.ts
  apps/api/src/responses/index.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/user/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  packages/schemas/src/user/index.ts
Due: api, schemas

fix: resolve requested changes
  .gitignore
  apps/scripts/package.json
  apps/scripts/src/create-env.js
  apps/scripts/src/createenv.js
Due: none

feat(scripts): add create-env script (#154)
  .gitignore
  apps/scripts/package.json
  apps/scripts/src/create-env.js
Due: none

fix(api): use http methods the way they are intended
  apps/api/src/user/user.controller.ts
Due: api

feat(api-client): add all routes
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
Due: none

fix(api-client): throw descriptive errors
  packages/api-client/src/api.service.ts
Due: none

feat(api service): make is so `getPlayer` can resolve multiple tags not just usernames and uuids
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/services/api.service.ts
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.ts
  yarn.lock
Due: api, discord-bot

refactor(api): move enums required for requests to `@statsify/api-client`
  apps/api/src/dtos/guild.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/index.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/index.ts
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  packages/api-client/src/enums/guild-query.enum.ts
  packages/api-client/src/enums/historical-type.enum.ts
  packages/api-client/src/enums/hypixel-cache.enum.ts
  packages/api-client/src/enums/index.ts
  packages/api-client/src/index.ts
  turbo.json
Due: api

fix(api): user http methods
  apps/api/src/user/user.controller.ts
Due: api

feat(api client): add remaining routes
  packages/api-client/src/api.service.ts
Due: none

chore(deps): Update all non-major dependencies
  .github/workflows/issue_labeler.yml
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/discord/package.json
  yarn.lock
Due: api, discord-bot

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: none

feat(api-client): make routes that respond with images use `loadImage` from `skia-canvas`
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Skin.tsx
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/jsx/package.json
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Due: discord-bot

feat(api-service): add error handling to friends and achievement routes
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
Due: discord-bot

ci(turbo): enable remote caching
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  turbo.json
Due: none

feat(quake): add kill win ratio to quake
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

ci(turbo): enable remote caching (#159)
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  turbo.json
Due: none

feat(api): status, recent games, and ranked skywars do uuid conversion and return extra player data
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/commands/profile.command.tsx
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.recentgames.response.ts
  packages/schemas/src/index.ts
  packages/schemas/src/rankedskywars/index.ts
  packages/schemas/src/recentgames/index.ts
  packages/schemas/src/recentgames/recentgame.ts
  packages/schemas/src/status/index.ts
  packages/schemas/src/util/selector.ts
Due: api, discord-bot, schemas

docs: add missing comment
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/services/api.service.ts
Due: api, discord-bot

feat(api): better errors from api and make it possible to request by username in the guild route
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/guild.command.ts
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/base.404.ts
  packages/api-client/src/exceptions/guild.404.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/exceptions/player.404.ts
  packages/api-client/src/exceptions/ranked-skywars.404.ts
  packages/api-client/src/exceptions/recentgames.404.ts
  packages/api-client/src/exceptions/status.404.ts
  packages/api-client/src/index.ts
  packages/schemas/src/player/index.ts
  yarn.lock
Due: api, discord-bot, schemas

fix(deps): update dependency ioredis to v5
  apps/api/package.json
  yarn.lock
Due: api

feat(discord-bot): add basic command arguments
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/commands/example.command.tsx
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/argument.interface.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/tests/command.builder.spec.ts
Due: discord-bot

feat(discord-bot): add autocomplete support
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/guild.command.ts
  apps/discord-bot/src/commands/profile.command.tsx
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/autocomplete.argument.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/tests/command.builder.spec.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: discord-bot, schemas

refactor(autocomplete): remove useless Autocomplete class
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/command.listener.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/autocomplete.argument.ts
  packages/discord/src/arguments/index.ts
Due: discord-bot

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
