Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

feat: implement miscellaneous stat suggestions
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/discord-bot/src/commands/arcade/modes/farm-hunt.tsx
  apps/discord-bot/src/commands/arcade/modes/galaxy-wars.tsx
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  locales/en-US/default.json
  packages/api-client/src/constants.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/stats.ts
Due: api, discord-bot, schemas

fix(profile): remove unnecessary table rows in GeneralProfile component
  apps/discord-bot/src/commands/general/general.profile.tsx
Due: discord-bot

feat(gamecounts): add mode filter option
  apps/discord-bot/src/commands/gamecounts.command.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.resolvable.ts
Due: discord-bot

fix: correct arcade disasters ratios
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

Apply suggestion from @ugcodrr
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

fix: stabilize guild monthly leaderboards
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/vitest.config.ts
Due: api

fix: address low-risk repo cleanup and performance issues
  README.md
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  apps/scripts/src/timestamp.js
  apps/scripts/src/validate-commands.js
Due: none

perf(api): reduce guild gexp merge allocations
  apps/api/src/guild/guild.service.ts
Due: api

perf(api): batch leaderboard stat lookups
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
Due: api

Add target calculation commands
  apps/discord-bot/src/commands/target/target.command.ts
  locales/en-US/default.json
Due: discord-bot

Revert "Add target calculation commands"
  apps/discord-bot/src/commands/target/target.command.ts
  locales/en-US/default.json
Due: discord-bot

Revert "Add target calculation commands" (#849)
  apps/discord-bot/src/commands/target/target.command.ts
  locales/en-US/default.json
Due: discord-bot

fix(disasters): correct order of losses and wlr calculations in constructor
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

fix: prepare misc stats PR for review
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
Due: api, discord-bot

feat: show zombies map kills
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
Due: discord-bot

fix: nest bedwars dream split modes
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

fix: show zombies fastest win seconds
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
Due: discord-bot

fix: show zombies leaderboard seconds
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

fix: expand record time formatting
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/woolgames/capture-the-wool.table.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/capture-the-wool.ts
Due: discord-bot, schemas

feat: add zombies rounds and quake headshot accuracy
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: discord-bot, schemas

fix: preserve quest active progress
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: discord-bot, schemas

refactor(farm-hunt): remove kills per win stats
  apps/discord-bot/src/commands/arcade/modes/farm-hunt.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: discord-bot, schemas

revert: defer quest progress display
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: discord-bot, schemas

fix: limit leaderboard value search input
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

refactor(leaderboard): improve parseLeaderboardValue function
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

refactor(leaderboard): simplify parseLeaderboardValue logic
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  pnpm-lock.yaml
Due: discord-bot

feat(leaderboard): enhance button labels and emojis * Added button labels for search inputs in leaderboard * Updated emoji for value search button
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  locales/en-US/default.json
  locales/en-US/emojis.json
Due: discord-bot

perf(leaderboard): optimize leaderboard queries and handle unknown entries
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
Due: api

feat: add shotsHit
  locales/en-US/default.json
Due: none

feat: add shotsHit
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

feat: add shotsHit
  apps/discord-bot/src/commands/duels/duels.profile.tsx
Due: discord-bot

fix: remove bad _
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix(discord): improve autocomplete choice sanitization
  packages/discord/src/command/abstract-command.listener.ts
Due: none

feat(duels): update duel arena title handling
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: discord-bot, schemas

refactor(duels): improve titles table structure and rendering
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
Due: discord-bot

feat(ratios): include duels submodes
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

refactor(duels): simplify duels modes and remove unused submodes
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

feat(duels): enhance bridge and mega walls modes
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

style(duels): format code for consistency
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

Update ci.yml
  .github/workflows/ci.yml
Due: none
