Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

Update packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

Update packages/schemas/src/player/gamemodes/uhc/mode.ts
  packages/schemas/src/player/gamemodes/uhc/mode.ts
Due: schemas

Update packages/assets/src/index.ts
  packages/assets/src/index.ts
Due: none

fix(ratios): fix ratios for historical
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

Update packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix(commands): remove exp from blitzsg
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/assets/src/index.ts
  packages/schemas/src/player/gamemodes/uhc/mode.ts
Due: discord-bot, schemas

feat(theme): add a really basic hd font theme (#208)
  README.md
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/services/font.-loader.service.ts
  apps/discord-bot/src/themes/hd.ts
  apps/discord-bot/src/themes/index.ts
  packages/assets/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

feat(theme): add a really basic hd font theme
  README.md
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/services/font.-loader.service.ts
  apps/discord-bot/src/themes/hd.ts
  apps/discord-bot/src/themes/index.ts
  packages/assets/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

fix(ratios): fix ratios for historical (#209)
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

Revert "fix(deps): update dependency point-of-view to v6 (#206)"
  apps/api/package.json
  yarn.lock
Due: api

revert(deps): update dependency point-of-view to v6 (#210)
  apps/api/package.json
  yarn.lock
Due: api

fix(historical): add more ratios to historical difference calculations
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/trophy.ts
Due: api, discord-bot, schemas

feat(minecraft): add colors command
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  packages/rendering/src/colors/index.ts
Due: discord-bot

feat(minecraft): add uuid command
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

feat(minecraft): add namehistory command
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/mojang-api.service.ts
Due: discord-bot

feat(minecraft): add text command
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  packages/rendering/src/components/Text.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
Due: discord-bot

chore(locale): add en-US for new strings
  locales/en-US/discord-bot/default.json
Due: none

fix(uuid): use correct locale namespace
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

feat(skin): add skin command
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  locales/en-US/discord-bot/default.json
Due: discord-bot

refactor(api): rename methods on API service
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
Due: api

refactor(api): rename methods on API service (#213)
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
Due: api

feat(api, discord-bot): implemented badges onto a user profile using media storage
  .env.schema
  .vscode/settings.json
  apps/api/src/index.ts
  apps/api/src/module.d.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/api-client/src/responses/put.user-badge.response.ts
  packages/assets/src/index.ts
  packages/schemas/src/user/index.ts
Due: api, discord-bot, schemas

fix(commands): resolve requested changes
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/services/mojang-api.service.ts
Due: discord-bot

feat(commands): add available command
  apps/discord-bot/src/commands/minecraft/available.command.ts
Due: discord-bot

fix(uuid): add trimmed uuid
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

fix(commands): available command
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(api-service, discord-bot): implement command which posts to the API to update badge
  apps/discord-bot/src/arguments/file.argument.ts
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/commands/badge.command.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/command.context.ts
Due: discord-bot

fix(api-service): typings for the request method
  packages/api-client/src/api.service.ts
Due: none

feat(commands): add the player leaderboard command
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/index.ts
  packages/discord/src/messages/components/modal.builder.ts
  packages/discord/src/messages/components/text-input.builder.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/tests/metadata.spec.ts
Due: api, discord-bot, schemas

fix(paginate): dont add buttons with only one page
  apps/discord-bot/src/services/paginate.service.ts
Due: discord-bot

feat(namehistory): paginate response
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
Due: discord-bot

feat(leaderboards): search by player and pos, add highlighting, and changes in api spec
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/guild-rankings.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/dtos/player-rankings.dto.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/enums/index.ts
  packages/api-client/src/enums/leaderboard-query.enum.ts
  packages/api-client/src/responses/post.guild-leaderboard.response.ts
  packages/api-client/src/responses/post.player-leaderboard.response.ts
  packages/discord/src/messages/components/button.builder.ts
  packages/rendering/src/components/Box.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  packages/schemas/src/util/selector.ts
  packages/schemas/tests/metadata.spec.ts
  packages/util/src/flat/flatten.ts
Due: api, discord-bot, schemas, util

feat(leaderboard): add subcommands and autocomplete
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/stats.ts
  yarn.lock
Due: api, discord-bot, schemas

fix(schemas): add extra displays and correct names for game stats
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/stats.ts
Due: api, schemas

chore(deps): update actions/cache digest to c3f1317
  .github/workflows/ci.yml
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
