Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix(woolwars): remove extra unicode characters from prestige icons
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

fix(woolwars): remove extra characters from prestige icons (#518)
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

refactor: fix formatting
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(skywars): update and add new SkyWars prestiges (#517)
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(events): add easter event stats
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

feat(events): add easter event stats (#519)
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

fix(events): make command layout look better
  apps/discord-bot/src/commands/events/events.profile.tsx
Due: discord-bot

fix(events): make command layout look better (#520)
  apps/discord-bot/src/commands/events/events.profile.tsx
Due: discord-bot

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

feat(bedwars): add new bedwars prestiges (3100-5000)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

feat(bedwars): add new bedwars prestiges (3100-5000) (#523)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

feat: dynamic loading of servermappings from cdn
  .devcontainer/create.sh
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/scripts/src/build-watch.js
  packages/assets/src/index.ts
Due: discord-bot

chore: cleanup
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  packages/assets/src/index.ts
Due: discord-bot

fix: attempt prefer offline
  .github/workflows/ci.yml
Due: none

fix: try use immutable cache
  .github/workflows/ci.yml
Due: none

fix: use inline-builds
  .github/workflows/ci.yml
Due: none

fix: see if it's stdout causing the issue
  .github/workflows/ci.yml
Due: none

chore: wip pnpm integration
  .devcontainer/Dockerfile
  .devcontainer/create.sh
  .devcontainer/devcontainer.json
  .eslintrc
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  .gitmodules
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/scripts/src/purge.js
  apps/scripts/src/validate-commands.js
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/discord/src/services/paginate.service.ts
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  pm2.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  yarn.lock
Due: api, discord-bot, logger, math, schemas

setup pnpm
  .github/workflows/ci.yml
Due: none

fix: use latest pnpm version
  .github/workflows/ci.yml
Due: none

fix: remove workspaces plugin
  .eslintrc
Due: none

fix: duplicated import
  packages/discord/src/services/paginate.service.ts
Due: none

fix: package typings
  apps/support-bot/package.json
  pnpm-lock.yaml
Due: none

fix: tiny-discord version
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  pnpm-lock.yaml
Due: discord-bot

fix(types): make it so typescript understands that the `children` attribute is a special property
  packages/rendering/src/index.ts
Due: none

use next/dynamic for countup
  apps/site/components/StatCircle/index.tsx
Due: none

fix(site): use umd version of countup.js
  apps/site/components/StatCircle/index.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: none

fix: remove container mount
  .devcontainer/devcontainer.json
Due: none

fix: cleanup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
Due: none

chore: cleanup workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: cleanup devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

build(vscode): remove possibly intrusive settings
  .vscode/settings.json
Due: none

feat: update website stats and git submodules
  apps/site/pages/index.tsx
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
