Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

feat(languages): add translators to /ping and new languages to /language
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  apps/site/components/About/index.tsx
  locales/bg/default.json
  locales/en-US/emojis.json
  locales/zh-TW /default.json
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

feat(autocomplete): make autocomplete show the result of what the user is typing
  packages/discord/src/arguments/player.argument.ts
Due: none

feat(i18n): add translators to /ping & languages to /language (#350)
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  apps/site/components/About/index.tsx
  locales/bg/default.json
  locales/en-US/emojis.json
  locales/zh-TW /default.json
  packages/discord/src/arguments/player.argument.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

chore(i18n): update crowdin translation (#349)
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix(challenges): fix MegaWalls & MurderMystery
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
Due: schemas

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

fix(challenges): remove double space in leaderboards
  packages/schemas/src/metadata/metadata-scanner.ts
Due: schemas

fix(challenges): fix MegaWalls & MurderMystery (#352)
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
Due: schemas

feat(historical): add historical pit stats
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  packages/schemas/src/player/gamemodes/pit/index.ts
Due: discord-bot, schemas

feat(historical): add historical pit stats (#353)
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  packages/schemas/src/player/gamemodes/pit/index.ts
Due: discord-bot, schemas

fix(buildbattle): remove repeating BB correct guesses
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
Due: schemas

fix(buildbattle): remove repeating BB correct guesses (#354)
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
Due: schemas

fix: use the translated word for translators in /ping
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none
