Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix(quests): parsing metadata for /quests
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/general/quests/index.ts
Due: discord-bot, schemas

aa
  apps/discord-bot/src/commands/quests/quests.command.tsx
Due: discord-bot

half working system for daily/weekly/overall quests
  packages/schemas/src/player/gamemodes/general/quests/game-quests.ts
  packages/schemas/src/player/gamemodes/general/quests/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/blitzsg.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/quests/quests-instance.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: schemas

feat(quests): rework game tables
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
Due: discord-bot

chore(i18n): add questing strings
  apps/discord-bot/src/commands/quests/quests.command.tsx
  locales/en-US/default.json
Due: discord-bot

fix todos
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: discord-bot, schemas

fix(quests): display correct time period
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
Due: discord-bot

feat(leaderboards): add leaderboard expiring
  apps/api/package.json
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/guild-rankings.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/dtos/player-rankings.dto.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  yarn.lock
Due: api, discord-bot, schemas

feat: add icons to pages for quests and challenges
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/challenges/challenges.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/GameList.tsx
  apps/discord-bot/src/constants.ts
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/parse-emoji.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/discord/src/services/paginate.service.ts
Due: discord-bot

add gradients & totals for /quest daily
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/GameList.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/hooks/index.ts
  packages/rendering/src/hooks/useGradient.ts
Due: discord-bot

fix(boxes): impliment safely overwriting box props
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/GameList.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  packages/rendering/src/components/Box.ts
Due: discord-bot

change gradient
  apps/discord-bot/src/commands/quests/quests.profile.tsx
Due: discord-bot

Update packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Due: schemas

chore(quests): resolve reviews
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/hooks/useGradient.ts
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/murdermystery.ts
Due: discord-bot, schemas

fix(challenges): correctly calculate total challenges
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/stats.ts
Due: schemas

fix(challenges): correctly calculate total challenges (#384)
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/stats.ts
Due: schemas

feat(leaderboards): add many additional fields
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
Due: schemas

chore: resolve requested changes
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

feat(leaderboards): add many additional fields (#385)
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
Due: schemas

feat(guild): add gexp positions
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  locales/en-US/default.json
Due: discord-bot

feat(themes): add more palettes
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/themes/palette.ts
  packages/schemas/src/user/theme.ts
Due: discord-bot, schemas

fix(paintball): prefix color for 75,000 kills
  packages/schemas/src/player/gamemodes/paintball/index.ts
Due: schemas

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none
