Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix(discord-bot): gamecounts command not sorting modes
  apps/discord-bot/src/commands/gamecounts.command.ts
Due: discord-bot

fix(discord-bot): gamecounts command not sorting modes (#788)
  apps/discord-bot/src/commands/gamecounts.command.ts
Due: discord-bot

feat(discord-bot): add halloween theme 2025
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  packages/assets/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

aaa
  apps/support-bot/src/events/guild-member-add.event.tsx
Due: none

bbb
  apps/discord-bot/src/commands/historical/session.command.tsx
Due: discord-bot

feat(discord-bot): add Halloween theme 2025 (#789)
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/events/guild-member-add.event.tsx
  packages/assets/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

feat(events): add halloween 2025
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix(duels): change megawalls title from 'MW' to 'Mega Walls'
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix(bedwars): correct 3100 star prestige colors
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

fix(bedwars): correct 3100 star prestige colors (#791)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

feat(events): add halloween 2025 (#790)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix(duels): change megawalls title from 'MW' to 'Mega Walls' (#792)
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix(support-bot): use default box colors instead of missing halloween colors
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

fix(support-bot): use default box colors instead of missing halloween colors (#794)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

fix(player): fall back to packageRank if newPackageRank is NONE
  packages/schemas/src/player/util.ts
Due: schemas

Revert "fix(support-bot): use default box colors instead of missing halloween…"
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

fix(skin-renderer): make wasm output texture use a lifetime to match node
  packages/skin-renderer/src/renderer/backend.rs
Due: none

fix(skin-renderer): make wasm output texture use a lifetime to match node (#800)
  packages/skin-renderer/src/renderer/backend.rs
Due: none

Revert "fix(support-bot): use default box colors instead of missing halloween colors" (#799)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

Revert "feat(discord-bot): add Halloween theme 2025 (#789)"
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/events/guild-member-add.event.tsx
  packages/assets/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

revert "feat(discord-bot): add Halloween theme 2025 (#789)" (#801)
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.util.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/events/guild-member-add.event.tsx
  packages/assets/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

fix(schemas): fall back to packageRank if newPackageRank is NONE (#798)
  packages/schemas/src/player/util.ts
Due: schemas

fix(schemas): events rank prefix name color
  packages/schemas/src/player/util.ts
Due: schemas

fix(schemas): events rank prefix name color (#802)
  packages/schemas/src/player/util.ts
Due: schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

feat(rendering): gradient font
  packages/rendering/sizes.json
  packages/rendering/src/font/font-renderer.ts
Due: none

chore(site): update nextjs dependencies
  apps/site/next-env.d.ts
  apps/site/next.config.ts
  apps/site/package.json
  pnpm-lock.yaml
Due: none

chore(site): update nextjs dependencies (#804)
  apps/site/next-env.d.ts
  apps/site/next.config.ts
  apps/site/package.json
  pnpm-lock.yaml
Due: none

feat: add christmas 2025 to /events
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix: lint
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/60bdc7b6eb08d03f-meta.json
  '.turbo'/60bdc7b6eb08d03f.tar.zst
  '.turbo'/86f8d17f21ee9012-meta.json
  '.turbo'/86f8d17f21ee9012.tar.zst
  packages/schemas/src/player/gamemodes/general/events.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/skin-renderer/src/skin_loader.rs
Due: schemas

feat: present boxes
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/themes/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

bbB
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/60bdc7b6eb08d03f-meta.json
  '.turbo'/60bdc7b6eb08d03f.tar.zst
  '.turbo'/86f8d17f21ee9012-meta.json
  '.turbo'/86f8d17f21ee9012.tar.zst
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: schemas

feat: add christmas 2025 to /events (#805)
  packages/schemas/src/player/gamemodes/general/events.ts
  packages/skin-renderer/src/skin_loader.rs
Due: schemas

feat: add snow, font fixes, and mroe
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/services/font-loader.service.ts
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/support-bot/src/services/font-loader.service.ts
  packages/rendering/sizes.json
  packages/rendering/src/christmas/colors.ts
  packages/rendering/src/christmas/patterns.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/intrinsics/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/schemas/src/user/theme.ts
  packages/skin-renderer/src/skin_loader.rs
Due: discord-bot, schemas

fix: type error
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/intrinsics/Box.ts
Due: none

fix: support bot font loading gradients
  apps/support-bot/src/services/font-loader.service.ts
Due: none
