Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix(tntgames): show storm wizard stats and use proper arcane wizard stats (#731)
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

feat: begin rewriting site for next 15
  .vscode/settings.json
  apps/site2/.gitignore
  apps/site2/README.md
  apps/site2/app/favicon.ico
  apps/site2/app/globals.css
  apps/site2/app/layout.tsx
  apps/site2/app/page.tsx
  apps/site2/eslint.config.mjs
  apps/site2/next.config.ts
  apps/site2/package.json
  apps/site2/postcss.config.mjs
  apps/site2/public/background.png
  apps/site2/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: bedwars stats
  .vscode/settings.json
  apps/site2/app/globals.css
  apps/site2/app/layout.tsx
  apps/site2/app/page.tsx
  apps/site2/app/players/[slug]/bedwars/page.tsx
  apps/site2/app/players/[slug]/context.tsx
  apps/site2/app/players/[slug]/layout.tsx
  apps/site2/app/players/[slug]/page.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/box.tsx
  apps/site2/components/ui/minecraft-text.tsx
  apps/site2/components/ui/table.tsx
  apps/site2/lib/util.ts
  apps/site2/next.config.ts
  apps/site2/package.json
  packages/schemas/package.json
  packages/schemas/src/game/constants.ts
  packages/schemas/src/game/game.ts
  pnpm-lock.yaml
Due: schemas

add background mask
  apps/site2/app/page.tsx
  apps/site2/app/players/[slug]/bedwars/page.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/box.tsx
  apps/site2/components/ui/table.tsx
  pnpm-lock.yaml
Due: none

create ticker component
  apps/site2/app/globals.css
  apps/site2/app/page.tsx
  apps/site2/app/players/[slug]/bedwars/page.tsx
  apps/site2/app/players/[slug]/layout.tsx
  apps/site2/app/players/[slug]/page.tsx
  apps/site2/components/ui/skin.tsx
  apps/site2/components/ui/ticker.tsx
Due: none

make hero look pretty
  apps/site2/app/globals.css
  apps/site2/app/page.tsx
  apps/site2/app/v1/page.tsx
  apps/site2/components/icons/logo.tsx
  apps/site2/components/icons/search.tsx
  apps/site2/components/ui/animated-number.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/spotlight-box.tsx
  pnpm-lock.yaml
Due: none

add player commands section
  apps/site2/app/(home)/interactive-logo.tsx
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/bedwars.tsx
  apps/site2/app/page.tsx
  apps/site2/components/ui/background.tsx
Due: none

add profile previews for other games
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/arcade.tsx
  apps/site2/app/(home)/previews/duels.tsx
  apps/site2/app/(home)/previews/skywars.tsx
  apps/site2/app/(home)/tabs.tsx
  apps/site2/app/globals.css
  apps/site2/app/players/[slug]/bedwars/page.tsx
  apps/site2/app/v1/page.tsx
  apps/site2/components/ui/skin.tsx
  apps/site2/components/ui/table.tsx
  apps/site2/package.json
  pnpm-lock.yaml
Due: none

feat: remove winter theme 2025
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/util/src/minecraft-colors.ts
Due: discord-bot, util

chore(deps): update dev dependencies and use turbo watch
  apps/scripts/package.json
  apps/scripts/src/build-watch.js
  package.json
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx-runtime/convert.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  pnpm-lock.yaml
  vitest.shared.ts
Due: schemas

chore(deps): update dev dependencies and use turbo watch (#736)
  apps/scripts/package.json
  apps/scripts/src/build-watch.js
  package.json
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx-runtime/convert.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  pnpm-lock.yaml
  vitest.shared.ts
Due: schemas

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

feat(sessions): make sessions deletable
  apps/api/src/dtos/user.dto.ts
  apps/api/src/session/session.controller.ts
  apps/api/src/session/session.module.ts
  apps/api/src/session/session.service.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/api.service.ts
  pnpm-lock.yaml
Due: api, discord-bot

feat: remove winter theme 2025 (#735)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/util/src/minecraft-colors.ts
Due: discord-bot, util

feat(sessions): make sessions deletable (#739)
  apps/api/src/dtos/user.dto.ts
  apps/api/src/session/session.controller.ts
  apps/api/src/session/session.module.ts
  apps/api/src/session/session.service.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/api.service.ts
  pnpm-lock.yaml
Due: api, discord-bot

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
