Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

Update apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
Due: discord-bot

fix: update site
  apps/site/app/(home)/previews/bedwars.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: schemas

fix(bedwars): use proper field for level progression
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/site/app/(home)/previews/bedwars.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

fix(font-renderer): reset formatting without inheriting parser state
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/index.spec.tsx
Due: none

feat(leaderboards): add value search
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/api-client/src/constants.ts
Due: api, discord-bot

feat(badge): support emoji input
  apps/discord-bot/src/commands/config/badge.command.tsx
  locales/en-US/default.json
Due: discord-bot

feat(stats): add miscellaneous stats
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/galaxy-wars.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolgames/capture-the-wool.table.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/capture-the-wool.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

fix(font-renderer): Add back &r (reset) formatting behavior (#891)
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/index.spec.tsx
Due: none

chore: revert files with strange comments
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

refactor(fishing): remove unnecessary decorators from catches
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: schemas

fix(ratios): improve mode stats retrieval logic
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
Due: discord-bot

fix(discord-bot): replace minecraft head URL with attachment
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
Due: discord-bot

feat(metrics): add active user metrics functionality
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/commands/commands.controller.ts
  apps/api/src/commands/commands.module.ts
  apps/api/src/dtos/active-users.dto.ts
  apps/api/src/dtos/command.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/metrics/activity.service.ts
  apps/api/src/metrics/index.ts
  apps/api/src/metrics/metrics.controller.ts
  apps/api/src/metrics/metrics.module.ts
  apps/discord-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
Due: api, discord-bot

feat(api): integrate posthog analytics
  .claude/skills/integration-javascript_node/.posthog-wizard
  .claude/skills/integration-javascript_node/SKILL.md
  .claude/skills/integration-javascript_node/references/basic-integration-1.0-begin.md
  .claude/skills/integration-javascript_node/references/basic-integration-1.1-edit.md
  .claude/skills/integration-javascript_node/references/basic-integration-1.2-revise.md
  .claude/skills/integration-javascript_node/references/basic-integration-1.3-conclude.md
  .claude/skills/integration-javascript_node/references/identify-users.md
  .claude/skills/integration-javascript_node/references/node.md
  .claude/skills/integration-javascript_node/references/posthog-node.md
  .gitignore
  apps/api/package.json
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/index.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/posthog.ts
  apps/api/src/session/session.controller.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/posthog.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  apps/verify-server/src/posthog.ts
  config.schema.js
  packages/discord/src/command/abstract-command.listener.ts
  packages/util/src/config.ts
  pnpm-lock.yaml
  posthog-setup-report.md
Due: api, discord-bot, util

fix(i18n-loader): Only load language files/folders
  packages/discord/src/services/i18n-loader.service.ts
Due: none

fix(i18n-loader): only load language files/folders (#897)
  packages/discord/src/services/i18n-loader.service.ts
Due: none

feat(metrics): implement active user metrics command
  apps/support-bot/src/commands/metrics.command.ts
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.active-metrics.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/i18n-loader.service.ts
Due: none

fix: use file extension in head name
  apps/discord-bot/src/lib/minecraft-head.ts
Due: discord-bot

fix(discord-bot): use statsify skin API for minecraft head URLs (#865)
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
Due: discord-bot

feat(command-listener): enhance posthog event tracking
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/posthog.ts
  apps/discord-bot/src/tips.ts
Due: discord-bot

feat: instrument command latency in sentry
  apps/api/package.json
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/redis/redis.utils.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/rendering/src/jsx/render.ts
  packages/util/src/config.ts
  pnpm-lock.yaml
Due: api, discord-bot, util

refactor: clean up sentry command tracing
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/redis/redis.utils.ts
  apps/api/src/sentry/index.ts
  apps/api/src/sentry/mongoose.ts
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/lib/command.listener.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/logger/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/canvas.ts
  packages/rendering/src/jsx/render.ts
  pnpm-lock.yaml
Due: api, discord-bot, logger

chore: add sentry profile sample config
  config.schema.js
Due: none

chore(.gitmodules): ensure consistent formatting for submodule URLs
  .gitmodules
Due: none

feat: attach hypixel ratelimit headers to spans
  apps/api/src/hypixel/hypixel.service.ts
Due: api

feat(hypixel, leaderboard, command, api, logger, rendering): enhance observability with additional Sentry attributes
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/logger/src/index.ts
  packages/rendering/src/canvas.ts
  packages/rendering/src/jsx/render.ts
Due: api, discord-bot, logger

chore(pnpm): add '@sentry-internal/node-cpu-profiler' to onlyBuiltDependencies
  pnpm-workspace.yaml
Due: none

feat(badge): add support for emoji and image badges
  apps/discord-bot/src/commands/config/badge.command.tsx
  locales/en-US/default.json
Due: discord-bot

refactor(stats): replace formatTime with formatTimeWithSeconds
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/woolgames/capture-the-wool.table.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/capture-the-wool.ts
  packages/schemas/src/player/stats.ts
  packages/util/src/util.ts
Due: discord-bot, schemas, util

feat(sentry): enhance observability with Sentry spans
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/redis/redis.utils.ts
  apps/api/src/sentry/mongoose.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/index.ts
  apps/support-bot/src/lib/command.listener.ts
  apps/verify-server/src/index.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/logger/src/index.ts
  packages/rendering/src/canvas.ts
  packages/rendering/src/jsx/render.ts
Due: api, discord-bot, logger

fix(stats): correct spelling of 'Travelled' to 'Traveled'
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

fix(quake): correct spelling of 'Travelled' to 'Traveled'
  apps/discord-bot/src/commands/quake/quake.profile.tsx
Due: discord-bot

chore: add .DS_Store to .gitignore (#833)
  .github/workflows/ci.yml
  .gitignore
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

refactor(discord-bot): load duels command mode icons once (#847)
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

feat(copsandcrims): add shots fired stats (#829)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

chore(lint): enable stricter no unused variable rules (#873)
  .github/workflows/ci.yml
  .oxlintrc.jsonc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  package.json
  packages/util/src/config.ts
Due: api, discord-bot, util

fix(rendering): ignore unsupported font glyphs (#837)
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/vitest.config.ts
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
