Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(i18n): update crowdin translation (#603)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix(events): display christmas 2023 event stats on /events
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix(events): display christmas 2023 event stats on /events (#604)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix tsconfig
  apps/site/tsconfig.json
Due: none

disable eslint in site building
  apps/site/next.config.js
  apps/site/tsconfig.json
Due: none

fix tailwind config
  apps/site/tailwind.config.ts
Due: none

rank chip + home page
  apps/site/app/(home)/layout.tsx
  apps/site/app/(home)/page.tsx
  apps/site/app/globals.css
  apps/site/app/layout.tsx
  apps/site/components/background.tsx
  apps/site/components/box.tsx
  apps/site/components/navbar.tsx
  apps/site/components/rank-chip.tsx
  apps/site/package.json
  apps/site/public/skin.png
  apps/site/tailwind.config.ts
  packages/schemas/src/player/index.ts
  pnpm-lock.yaml
Due: schemas

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

feat(site): add copyright to footer
  apps/site/components/Footer/footer.module.scss
  apps/site/components/Footer/index.tsx
  apps/site/tsconfig.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

feat: rename coins -> tokens and remove loot chests
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/skin-renderer/Cargo.toml
Due: discord-bot, schemas

revert: feat(christmas): add christmas theme (#599)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: discord-bot

update lockfile
  pnpm-lock.yaml
Due: none

revert: "feat(christmas): add christmas theme (#599)" (#611)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: discord-bot

chore(i18n): update crowdin translation (#609)
  locales/it/default.json
  locales/sv-SE/default.json
  locales/tr/default.json
Due: none

aa
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: schemas

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

feat: rename coins -> tokens and remove loot chests (#610)
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/skin-renderer/Cargo.toml
Due: discord-bot, schemas

chore(i18n): update crowdin translation (#612)
  locales/fr/default.json
Due: none

Update kit.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: schemas

fix(megawalls): fix megawalls playtime (#614)
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: schemas

fix(megawalls): make overall class the points the sum of each class's points
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/skin-renderer/index.cjs
Due: schemas

fix(megawalls): inconsistencies in overall class points (#616)
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/skin-renderer/index.cjs
Due: schemas

fix: spelling of 'berserk' for Arena Brawl ultimates
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
Due: schemas

fix(discord-bot): properly sort blitz kits by exp
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
Due: discord-bot

fix(schemas): format cops & crims prefix using overall kills
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
Due: schemas

feat: add new command for skywars challenge wins
  apps/discord-bot/src/commands/skywars/skywars-challenges.command.tsx
  apps/discord-bot/src/commands/skywars/skywars-challenges.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
Due: discord-bot, schemas

fix(discord-bot): add translator and rename translator
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

fix(parkour): update tnt lobby times
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

fix: miscellaneous command & schema bugs (#617)
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: discord-bot, schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
