Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

fix(events): level requirements
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix(events): update level requirements for halloween and summer (#429)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

fix(historical-lbs): dont improperly use promise.all
  apps/api/src/player/player.service.ts
Due: api

feat(historical): carry down disabling historical
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/stats.ts
Due: api, schemas

fix: rebase errors
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.service.ts
Due: api

feat(characters): add command character counter to monitor the 4000 limit
  apps/scripts/package.json
  apps/scripts/src/command-chars.js
Due: none

refactor(historical-lbs): rename historicalEnabled -> historical
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
Due: schemas

feat(historical-lbs): add command support
  apps/api/src/dtos/historical-leaderboard.dto.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: api, discord-bot

fix(historical-lbs): make sure players are removed upon delete
  apps/api/src/player/player.service.ts
Due: api

feat(historical): leaderboard support
  apps/api/src/dtos/historical-leaderboard.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/historical/historical.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.controller.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/leaderboards/historical-leaderboard.argument.ts
  packages/api-client/src/api.service.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/util/index.ts
  packages/schemas/src/util/merge.ts
Due: api, discord-bot, schemas

fix(limiting): fix issues with limiting, it would previously always treat it as historical
  apps/api/src/dtos/historical-leaderboard.dto.ts
  apps/scripts/src/limit-redis.js
Due: api

fix circular deps
  apps/api/src/historical/historical.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
Due: api

feat(historical-lbs): limit historical leaderboards
  apps/scripts/src/limit-redis.js
Due: none

fix(limiting): ignore historical disabled leaderboards to give an accurate count of historical lbs
  apps/scripts/src/limit-redis.js
Due: none

feat: added historical time to leaderboard and fixed autocomplete
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/tests/metadata.spec.ts
Due: discord-bot, schemas

fix(leaderboards): disable historical leaderboards that dont make sense
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/general/events.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

refactor(historical-lbs): resolve changes
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/historical-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  packages/api-client/src/api.service.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/guild-query.enum.ts
  packages/api-client/src/types/historical-types.ts
  packages/api-client/src/types/hypixel-cache.enum.ts
  packages/api-client/src/types/index.ts
  packages/api-client/src/types/leaderboard-query.enum.ts
  packages/schemas/src/util/merge.ts
  yarn.lock
Due: api, discord-bot, schemas

feat(historical-lbs): allow changing additional lbs in historical
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  packages/schemas/tests/metadata.spec.ts
Due: api, discord-bot, schemas

fix(player): exec on save
  apps/api/src/player/player.service.ts
Due: api

ci(historical-lbs): correctly use types and times
  apps/api/src/dtos/historical-leaderboard.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.controller.ts
  apps/api/tests/historical.spec.ts
  apps/discord-bot/src/commands/historical/daily.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/lastDay.command.tsx
  apps/discord-bot/src/commands/historical/lastMonth.command.tsx
  apps/discord-bot/src/commands/historical/lastWeek.command.tsx
  apps/discord-bot/src/commands/historical/monthly.command.tsx
  apps/discord-bot/src/commands/historical/weekly.command.tsx
  apps/discord-bot/src/commands/historical/yesterday.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
Due: api, discord-bot

style: remove debug console log
  apps/scripts/src/limit-redis.js
Due: none

revert(banning): remove leaderboard banning as there are no plans to use it
  apps/api/src/player/player.service.ts
  packages/schemas/src/player/index.ts
Due: api, schemas

feat(historical-lbs): correctly handle hidden fields
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: api, schemas

revert(autocomplete): use normal autocomplete name
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
Due: discord-bot

fix(metadata): fix historical field names and stuff i dont know
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/index.ts
  apps/api/src/player/player.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: api, schemas

test(metadata): fix test
  packages/schemas/tests/metadata.spec.ts
Due: schemas

fix(tests): fix historical type tests
  packages/schemas/tests/metadata.spec.ts
Due: schemas

fix(historical-lbs): correctly validate if the leaderboard is historical
  apps/scripts/src/limit-redis.js
Due: none

test(schemas): fix tests again :/
  apps/scripts/src/limit-redis.js
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/tests/metadata.spec.ts
Due: schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
