Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

refactor(components): change the location of some components and the font renderer
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.service.ts
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/types.ts
  packages/logger/tests/index.spec.ts
Due: discord-bot, logger

feat(player): add player status info (#107)
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/status.ts
Due: schemas

chore(scripts): init scripts for vampirez number
  .eslintrc
  apps/scripts/package.json
  apps/scripts/src/test.js
  package.json
  yarn.lock
Due: none

chore(scripts)
  apps/scripts/package.json
Due: none

refactor(api): use process env instead of config service
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/module.d.ts
Due: api

fix(auth): make response headers lowercase
  apps/api/src/auth/auth.guard.ts
Due: api

fix(test): use test constants
  apps/api/tests/mocks/auth.mock.ts
Due: api

feat(api): add key data headers to api response (#112)
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.service.ts
  apps/api/tests/mocks/auth.mock.ts
Due: api

fix(api): add all env vars to module def
  apps/api/src/module.d.ts
Due: api

fix(api): remove casts
  apps/api/src/app.module.ts
  apps/api/src/hypixel/hypixel.module.ts
Due: api

refactor(api): use process env instead of config service (#114)
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/module.d.ts
Due: api

chore: update development tools
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  .swcrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

fix: remove asset download
  .devcontainer/devcontainer.json
Due: none

fix: changelog generation
  package.json
Due: none

chore(scripts): init scripts for vampirez number (#113)
  .eslintrc
  apps/scripts/package.json
  apps/scripts/src/test.js
  package.json
  yarn.lock
Due: none

chore: update development tools (#115)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  .swcrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
Due: none

fix(api): make sure process env is setup
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
Due: api

feat(create key): a script for creating statsify api keys (#118)
  apps/scripts/package.json
  apps/scripts/src/create-key.mjs
  apps/scripts/src/test.js
  yarn.lock
Due: none

feat(create key): a script for creating statsify api keys
  apps/scripts/package.json
  apps/scripts/src/create-key.mjs
  apps/scripts/src/test.js
  yarn.lock
Due: none

chore: change organizeImports
  .vscode/settings.json
Due: none

feat(metadata): make metadata carry down from object to object properties and add formatter field
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/tests/metadata.spec.ts
Due: api, schemas

fix(metadata): make it so things other than leaderboard fields can have a formatter
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
Due: schemas

test(api tests): change api tests so only status codes are checked bc the responses are mocked
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  apps/api/tests/hypixel-resources.spec.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
Due: api

style: remove some todo comments
  packages/schemas/tests/deserialize.spec.ts
  packages/schemas/tests/serialize.spec.ts
Due: schemas

feat(api): add key info endpoint
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/dtos/key.dto.ts
Due: api

fix: remove artifacts of dirty history
  apps/api/src/app.module.ts
  apps/api/src/hypixel/hypixel.module.ts
Due: api

feat(auth): `GET /api/auth/key` (#119)
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/dtos/key.dto.ts
Due: api

chore: add commitizen as a dev dep & change file nesting
  .vscode/settings.json
  package.json
  yarn.lock
Due: none

chore(deps): update deps & remove packages from `renovate.json`
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/discord/package.json
  packages/schemas/package.json
  renovate.json
  yarn.lock
Due: discord-bot, schemas

chore(deps): update deps & `renovate.json` (#120)
  .vscode/settings.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/discord/package.json
  packages/schemas/package.json
  renovate.json
  yarn.lock
Due: discord-bot, schemas

feat(api service): api service for `discord-bot`
  .env.schema
  apps/api/package.json
  apps/api/tsconfig.json
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/module.d.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/example.service.ts
  packages/discord/src/command/command.loader.ts
  packages/math/package.json
  packages/math/tests/index.spec.ts
  packages/schemas/package.json
  packages/schemas/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: api, discord-bot, math, schemas

feat(pagination): basic pagination
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/example.service.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/components/action-row.builder.ts
  packages/discord/src/components/button.builder.ts
  packages/discord/src/components/index.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/interaction.ts
Due: discord-bot

feat(pagination): basic pagination for `discord-bot` (#122)
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/example.service.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/components/action-row.builder.ts
  packages/discord/src/components/button.builder.ts
  packages/discord/src/components/index.ts
  packages/discord/src/index.ts
  packages/discord/src/interaction/interaction.ts
Due: discord-bot

fix(lint): allow linting js files
  .eslintrc
Due: none

chore(devcontainer): remove useless path
  .devcontainer/install.sh
Due: none

chore(devcontainer): add node 18
  .devcontainer/Dockerfile
Due: none

chore(devcontainer): automatically create "TESTKEY"
  .devcontainer/devcontainer.json
  apps/scripts/src/create-key.mjs
  tsconfig.base.json
Due: none
