Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix: use file urls for dynamic imports (#874)
  .github/workflows/ci.yml
  packages/discord/src/command/command.loader.ts
  packages/discord/src/event/event.loader.ts
  packages/util/src/config.ts
Due: util

fix(discord): import event handlers from correct file path (#888)
  packages/discord/src/event/event.loader.ts
Due: none

fix(skywars): add missing prestige schemes (#840)
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat: add bedwars dreamfest levelling and challenges (#887)
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/deprecated/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

chore: remove .turbo folder
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/560fb9e86b65f150-meta.json
  '.turbo'/560fb9e86b65f150.tar.zst
  '.turbo'/5de5b3be5565a1d4-meta.json
  '.turbo'/5de5b3be5565a1d4.tar.zst
  '.turbo'/6df68d36259bce9e-meta.json
  '.turbo'/6df68d36259bce9e.tar.zst
  '.turbo'/6e55f2172ff48f6f-meta.json
  '.turbo'/6e55f2172ff48f6f.tar.zst
  '.turbo'/87c54e168150e584-meta.json
  '.turbo'/87c54e168150e584.tar.zst
  '.turbo'/8ec1ba9b0fa0ad92-meta.json
  '.turbo'/8ec1ba9b0fa0ad92.tar.zst
  '.turbo'/928fdb17552f72c8-meta.json
  '.turbo'/928fdb17552f72c8.tar.zst
  '.turbo'/bf4fc849fd54c438-meta.json
  '.turbo'/bf4fc849fd54c438.tar.zst
  '.turbo'/c1c2543d8c410791-meta.json
  '.turbo'/c1c2543d8c410791.tar.zst
  '.turbo'/c57e3a1fe2240051-meta.json
  '.turbo'/c57e3a1fe2240051.tar.zst
  '.turbo'/dda3b3af35eb510f-meta.json
  '.turbo'/dda3b3af35eb510f.tar.zst
  '.turbo'/eb9eb96f6e1ed9be-meta.json
  '.turbo'/eb9eb96f6e1ed9be.tar.zst
  .gitignore
Due: none

fix(discord-bot): use statsify skin API for minecraft head URLs (#865)
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
Due: discord-bot

refactor(leaderboard): improve handling of additional stats
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
Due: api

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix(font-renderer): Add back &r (reset) formatting behavior (#891)
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/index.spec.tsx
Due: none

chore(deploy): install node modules with frozen lockfile
  .github/workflows/deploy.yml
Due: none

fix(bedwars): use proper field for level progression
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/site/app/(home)/previews/bedwars.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

chore: pin minecraft-protocol to 1.61.0
  apps/verify-server/package.json
Due: none

fix(i18n-loader): only load language files/folders (#897)
  packages/discord/src/services/i18n-loader.service.ts
Due: none

fix(bedwars): Change light color scheme to use white
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

fix(bedwars): make light color scheme use white (#902)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

chore(pnpm): update node-cpu-profiler package name
  apps/api/package.json
  apps/api/src/index.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/support-bot/package.json
  apps/support-bot/src/index.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api, discord-bot, logger

chore: remove @typescript/native-preview and use tsc over tsgo
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

fix(bedwars): make wind color scheme use white
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

Fix color schemes for summer, autumn, and mystic
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

fix(support-bot): remove unnecessary messsage content intent
  apps/support-bot/src/index.ts
Due: none

fix(support-bot): remove unnecessary messsage content intent (#914)
  apps/support-bot/src/index.ts
Due: none

fix(schemas): Mini skywars data parsing using solo kit instead of mini kit
  packages/schemas/src/player/gamemodes/skywars/index.ts
Due: schemas

fix(schemas): mini skywars data using solo kit instead of mini kit (#918)
  packages/schemas/src/player/gamemodes/skywars/index.ts
Due: schemas

fix(bedwars): correct prestige colors (wind, summer, autumn, mystic) (#912)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

feat(schemas): add bold, underline and strikethrough bedwars level formatting
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: schemas

fix(schemas): implement bold, underline and strikethrough bedwars level formatting (#919)
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: schemas

fix(parkour): times being n/a when they equal 0
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
Due: discord-bot

fix(parkour): show 0ms times instead of N/A
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
Due: discord-bot

style(parkour): remove trailing whitespace
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
Due: discord-bot

fix(turbo): point globalDependencies at files that exist
  turbo.json
Due: none

fix(skin-renderer): cache native binary in turbo build outputs
  packages/skin-renderer/turbo.json
Due: none

fix(build): remove stale dist output before building
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
Due: api, discord-bot, logger, math, schemas, util

fix(pnpm): exclude generated wasm package from the workspace
  pnpm-workspace.yaml
Due: none

feat(scripts): add setup-worktree script for new checkouts
  apps/scripts/package.json
  apps/scripts/src/setup-worktree.js
Due: none

fix(build): only clean dist for the packages being built
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  turbo.json
Due: api, discord-bot, logger, math, schemas, util

fix(scripts): keep submodules on the pinned commit in setup-worktree
  apps/scripts/src/setup-worktree.js
Due: none

fix(turbo): track root tool configs in task hashes
  packages/skin-renderer/turbo.json
  turbo.json
Due: none

fix(scripts): normalize repo root path in setup-worktree
  apps/scripts/src/setup-worktree.js
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
