Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

revert: christmas 2025 theme
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/themes/index.ts
  packages/rendering/src/christmas/colors.ts
  packages/rendering/src/christmas/patterns.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

fix: use default mc font
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/themes/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
Due: discord-bot

revert: christmas 2025 theme (#815)
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/themes/index.ts
  packages/rendering/src/christmas/colors.ts
  packages/rendering/src/christmas/patterns.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
Due: discord-bot

feat(arcade): add disasters powerups
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat(arcade): add disasters powerups (#816)
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

feat(murdermystery): add prefixes
  .gitignore
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/rendering/src/font/intrinsics/Box.ts
  packages/rendering/src/font/intrinsics/Div.ts
  packages/rendering/src/font/intrinsics/Image.ts
  packages/rendering/src/font/intrinsics/Text.ts
  packages/rendering/src/font/intrinsics/index.ts
  packages/rendering/src/font/tokens.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/stats.ts
  packages/skin-renderer/src/renderer/backend.rs
  packages/skin-renderer/src/renderer/mod.rs
  packages/skin-renderer/src/renderer/native.rs
  packages/util/src/util.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: discord-bot, schemas, util

chore: undo folder move
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/intrinsics/Div.ts
  packages/rendering/src/intrinsics/Image.ts
  packages/rendering/src/intrinsics/Text.ts
  packages/rendering/src/intrinsics/index.ts
Due: none

fix: format
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
Due: discord-bot

feat(murdermystery): add prefixes (#819)
  .gitignore
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/rendering/src/font/tokens.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/stats.ts
  packages/skin-renderer/src/renderer/backend.rs
  packages/skin-renderer/src/renderer/mod.rs
  packages/skin-renderer/src/renderer/native.rs
  packages/util/src/util.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: discord-bot, schemas, util

Fixed wrong rotation
  apps/site/components/ui/carousel.tsx
Due: none

feat/ bingo 2026/13th card
  apps/site/app/players/[slug]/general/bingo/boards.ts
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

add more tasks to bingo 13th
  apps/site/app/players/[slug]/general/bingo/page.tsx
  packages/schemas/src/player/gamemodes/general/bingo.ts
  pnpm-lock.yaml
Due: schemas

add more tasks to bingo
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

add bingo tasks
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

lint
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/560fb9e86b65f150-meta.json
  '.turbo'/560fb9e86b65f150.tar.zst
  '.turbo'/5de5b3be5565a1d4-meta.json
  '.turbo'/5de5b3be5565a1d4.tar.zst
  '.turbo'/6df68d36259bce9e-meta.json
  '.turbo'/6df68d36259bce9e.tar.zst
  '.turbo'/6e55f2172ff48f6f-meta.json
  '.turbo'/6e55f2172ff48f6f.tar.zst
  '.turbo'/87c54e168150e584-meta.json
  '.turbo'/87c54e168150e584.tar.zst
  '.turbo'/8ec1ba9b0fa0ad92-meta.json
  '.turbo'/8ec1ba9b0fa0ad92.tar.zst
  '.turbo'/928fdb17552f72c8-meta.json
  '.turbo'/928fdb17552f72c8.tar.zst
  '.turbo'/bf4fc849fd54c438-meta.json
  '.turbo'/bf4fc849fd54c438.tar.zst
  '.turbo'/c1c2543d8c410791-meta.json
  '.turbo'/c1c2543d8c410791.tar.zst
  '.turbo'/c57e3a1fe2240051-meta.json
  '.turbo'/c57e3a1fe2240051.tar.zst
  '.turbo'/dda3b3af35eb510f-meta.json
  '.turbo'/dda3b3af35eb510f.tar.zst
  '.turbo'/eb9eb96f6e1ed9be-meta.json
  '.turbo'/eb9eb96f6e1ed9be.tar.zst
  apps/site/app/players/[slug]/general/bingo/boards.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: schemas

fix: lint
  packages/schemas/src/player/gamemodes/quests/util.ts
  pnpm-lock.yaml
Due: schemas

feat: bingo 2026 tasks (#824)
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/560fb9e86b65f150-meta.json
  '.turbo'/560fb9e86b65f150.tar.zst
  '.turbo'/5de5b3be5565a1d4-meta.json
  '.turbo'/5de5b3be5565a1d4.tar.zst
  '.turbo'/6df68d36259bce9e-meta.json
  '.turbo'/6df68d36259bce9e.tar.zst
  '.turbo'/6e55f2172ff48f6f-meta.json
  '.turbo'/6e55f2172ff48f6f.tar.zst
  '.turbo'/87c54e168150e584-meta.json
  '.turbo'/87c54e168150e584.tar.zst
  '.turbo'/8ec1ba9b0fa0ad92-meta.json
  '.turbo'/8ec1ba9b0fa0ad92.tar.zst
  '.turbo'/928fdb17552f72c8-meta.json
  '.turbo'/928fdb17552f72c8.tar.zst
  '.turbo'/bf4fc849fd54c438-meta.json
  '.turbo'/bf4fc849fd54c438.tar.zst
  '.turbo'/c1c2543d8c410791-meta.json
  '.turbo'/c1c2543d8c410791.tar.zst
  '.turbo'/c57e3a1fe2240051-meta.json
  '.turbo'/c57e3a1fe2240051.tar.zst
  '.turbo'/dda3b3af35eb510f-meta.json
  '.turbo'/dda3b3af35eb510f.tar.zst
  '.turbo'/eb9eb96f6e1ed9be-meta.json
  '.turbo'/eb9eb96f6e1ed9be.tar.zst
  apps/site/app/players/[slug]/general/bingo/boards.ts
  apps/site/app/players/[slug]/general/bingo/page.tsx
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

fix/rewards formatting and main title
  apps/site/app/players/[slug]/general/bingo/boards.ts
  apps/site/app/players/[slug]/general/bingo/layout.tsx
  apps/site/app/players/page.tsx
Due: none

fix: quake dash task
  apps/site/app/players/[slug]/general/bingo/boards.ts
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

fix: lint
  apps/site/app/players/[slug]/general/bingo/boards.ts
Due: none

fix(bingo): rewards formatting and quake dash task (#825)
  apps/site/app/players/[slug]/general/bingo/boards.ts
  apps/site/app/players/[slug]/general/bingo/layout.tsx
  apps/site/app/players/page.tsx
  packages/schemas/src/player/gamemodes/general/bingo.ts
Due: schemas

feat(skywars): add core mode stats
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
Due: discord-bot, schemas

chore(rendering): support cross-platform skia-canvas
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/scripts/src/rank-emojis.js
  package.json
  packages/rendering/src/canvas.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  pnpm-lock.yaml
Due: api, discord-bot

feat(discord-bot): add guild text exports (#365)
  apps/discord-bot/src/commands/guild/guild-export.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
Due: discord-bot

fix(discord-bot): sort guild export imports
  apps/discord-bot/src/commands/guild/guild-export.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
Due: discord-bot

fix(discord): sanitize autocomplete choices
  packages/discord/src/command/abstract-command.listener.ts
Due: none

fix: harden request and search handling
  apps/api/src/player/search/player-search.service.ts
  apps/site/app/api.ts
  apps/site/app/players/search.tsx
  packages/api-client/src/api.service.ts
Due: api

feat(api): add hypixel proxy endpoints
  apps/api/src/app.module.ts
  apps/api/src/hypixel-proxy/dtos.ts
  apps/api/src/hypixel-proxy/hypixel-proxy.controller.ts
  apps/api/src/hypixel-proxy/hypixel-proxy.module.ts
  apps/api/src/hypixel-proxy/responses.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/mojang/mojang.module.ts
  apps/api/src/mojang/player-uuid-resolver.service.ts
  apps/api/src/skin/skin.module.ts
  apps/api/src/skin/skin.service.ts
Due: api

chore(api): add OpenAPI yaml export
  apps/api/package.json
  apps/api/src/auth/auth.controller.ts
  apps/api/src/dtos/cache.dto.ts
  apps/api/src/dtos/guild.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/js-yaml.d.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/openapi.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/player/search/player-search.controller.ts
  apps/api/src/session/session.controller.ts
  apps/api/src/session/session.service.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/swagger.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  packages/api-client/package.json
  packages/api-client/src/constants.ts
  pnpm-lock.yaml
  statsify.openapi.yaml
Due: api

chore(rendering): support cross-platform skia-canvas (#835)
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/scripts/src/rank-emojis.js
  package.json
  packages/rendering/src/canvas.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  pnpm-lock.yaml
Due: api, discord-bot
