Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(deps) update lock file
  pnpm-lock.yaml
Due: none

feat(discord-bot): update deprecated command descriptions
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Due: discord-bot

feat(discord-bot): update deprecated command descriptions (#688)
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Due: discord-bot

feat(discord-bot): update deprecated command messages
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
Due: discord-bot

aa
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Due: discord-bot

feat(discord-bot): update deprecated command messages (#689)
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Due: discord-bot

fix: parkour command and interaction server issues
  apps/discord-bot/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: discord-bot, schemas

fix: parkour command and interaction server issues (#690)
  apps/discord-bot/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: discord-bot, schemas

fix(verify-server): disable online mode
  apps/verify-server/src/index.ts
Due: none

fix(leaderboards): fix party games best time lbs and woolgames level lb
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/index.ts
Due: schemas

fix(gamecounts): catch possibly undefined access of classic games player counts
  packages/schemas/src/gamecounts/index.ts
Due: schemas

fix(verify-server): disable online mode (#691)
  apps/verify-server/src/index.ts
Due: none

fix(leaderboards): party games best time and woolgames level lb (#692)
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/index.ts
Due: schemas

fix: possibly undefined access of classic games gamecounts (#693)
  packages/schemas/src/gamecounts/index.ts
Due: schemas

fix(verify-server): use minecraft-protocol fork due to node incompatibility
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  pnpm-lock.yaml
Due: none

fix(verify-server): use mc-protocol fork for node 22 compat (#694)
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
