Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix: lint
  apps/support-bot/src/services/font-loader.service.ts
Due: none

aa
  packages/rendering/src/intrinsics/Box.ts
Due: none

feat: add christmas 2025 theme (#806)
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/services/font-loader.service.ts
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/support-bot/src/services/font-loader.service.ts
  packages/rendering/src/christmas/colors.ts
  packages/rendering/src/christmas/patterns.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/intrinsics/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/schemas/src/user/theme.ts
Due: discord-bot, schemas

fix(discord-bot): use default font instead of christmas font in /text
  apps/discord-bot/src/commands/minecraft/text.command.tsx
Due: discord-bot

fix: lint
  apps/discord-bot/src/commands/minecraft/text.command.tsx
Due: discord-bot

fix(discord-bot): use default font instead of christmas font in /text (#811)
  apps/discord-bot/src/commands/minecraft/text.command.tsx
Due: discord-bot

fix: rename mite to ender, and add actual mite scheme
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

fix(schemas): mite and ender skywars kit prestige colors #812
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat: add disasters stats to /arcade
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/disasters.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
  apps/site/app/(home)/previews/arcade.tsx
  locales/en-US/emojis.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix: disasters leaderboard metadata
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

chore: fix fmt
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/skin-renderer/src/skin_loader.rs
Due: schemas

feat: add overall survivals and deaths
  apps/discord-bot/src/commands/arcade/modes/disasters.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix: lint
  apps/discord-bot/src/commands/arcade/modes/disasters.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat: add disasters stats to /arcade (#813)
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/disasters.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
  apps/site/app/(home)/previews/arcade.tsx
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(site): arcade layout with disasters
  apps/site/app/(home)/previews/arcade.tsx
  apps/site/next-env.d.ts
  pnpm-lock.yaml
Due: none

fix(site): arcade layout with disasters (#814)
  apps/site/app/(home)/previews/arcade.tsx
  apps/site/next-env.d.ts
  pnpm-lock.yaml
Due: none

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none
