Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

fix(boxes): fix themed boxes not making copies of border before mutating
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/font/font-renderer.ts
Due: discord-bot

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

fix(boxes): fix themed boxes not making copies of border before mutating (#376)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/font/font-renderer.ts
Due: discord-bot

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

fix(discord): use the rest api to defer command interactions as early as possible
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/discord/src/command/abstract-command.listener.ts
Due: discord-bot

aa
  packages/discord/src/command/abstract-command.listener.ts
Due: none

fix(discord): use rest api to defer command interactions earlier (#378)
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/discord/src/command/abstract-command.listener.ts
Due: discord-bot

fix(verify-server) Add enforceSecureProfile
  apps/verify-server/src/index.ts
Due: none

fix: walls prefixes and /server not respecting themes
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.interface.ts
  apps/discord-bot/src/commands/minecraft/server/server.profile.tsx
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
Due: discord-bot, schemas

fix(text): remove handling from `FontRenderer` and let jsx handle it properly
  apps/discord-bot/src/components/Multiline.tsx
  packages/rendering/src/components/Text.ts
  packages/rendering/src/font/font-renderer.ts
Due: discord-bot

feat(site): add translate redirect
  apps/site/next.config.js
Due: none

feat(site): add translate redirect (#381)
  apps/site/next.config.js
Due: none

fix: walls prefixes, /server themes, & /text \n issues (#380)
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.interface.ts
  apps/discord-bot/src/commands/minecraft/server/server.profile.tsx
  apps/discord-bot/src/components/Multiline.tsx
  packages/rendering/src/components/Text.ts
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
Due: discord-bot, schemas

chore(i18n): update crowdin translations (#351)
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

feat(cvc): add cops and crims overall stats
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: api, discord-bot, schemas

feat(discord-bot): add GameList component
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/components/GameList.tsx
  apps/discord-bot/src/components/index.ts
Due: discord-bot

feat(metadata): allow defaulting to null
  packages/schemas/src/metadata/field/get-store-metadata.ts
Due: schemas

feat(quests): reset weekly/daily quest lbs accordingly
  packages/schemas/src/player/gamemodes/general/quests/index.ts
Due: schemas

fix(quests): rename total leaderboards
  packages/schemas/src/player/gamemodes/general/quests/index.ts
Due: schemas

fix: carrying down resetEvery and getting leaderboard expiry time
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/general/quests/index.ts
Due: api, schemas

feat: shrink verified and cross icons
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/assets/src/index.ts
Due: api, discord-bot

fix(quests): use correct total lb
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/blitzsg.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/pit.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/smashheroes.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/woolwars.ts
  packages/schemas/src/player/gamemodes/general/quests/quests-instance.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: api, schemas

fix(quests): use additional fields and only use once
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/player/gamemodes/general/quests/quests-instance.ts
Due: api, schemas

y
  packages/schemas/src/player/gamemodes/general/quests/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: schemas

add all the games
  packages/schemas/src/player/gamemodes/general/quests/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/pit.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/smashheroes.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/woolwars.ts
  packages/schemas/src/player/gamemodes/general/quests/quests-instance.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: schemas

feat(quests): add quest data, commands, and leaderboards
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/quests/game-quests.ts
  packages/schemas/src/player/gamemodes/general/quests/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/blitzsg.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/pit.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/smashheroes.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/woolwars.ts
  packages/schemas/src/player/gamemodes/general/quests/quests-instance.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: discord-bot, schemas

style(quests): code cleanup
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
Due: discord-bot

fix: ci errors
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/general/quests/index.ts
Due: discord-bot, schemas

fix(quests): week dates off by 1
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  packages/schemas/src/player/gamemodes/general/quests/util.ts
Due: discord-bot, schemas

fix(leaderboards): change leaderboard metadata to properly use "this" with additional fields
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/blitzsg.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/smashheroes.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/woolwars.ts
  packages/schemas/src/player/gamemodes/general/challenges/util.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: api, schemas

fix(quests): keep leaderboard metadata
  packages/schemas/src/player/gamemodes/general/quests/modes/arenabrawl.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/warlords.ts
Due: schemas

feat(metadata): carry down `resetEvery` to all children
  packages/schemas/src/metadata/metadata-scanner.ts
Due: schemas

add more type safety
  packages/schemas/src/player/gamemodes/general/quests/index.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/blitzsg.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/quests/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/quests/util.ts
  packages/util/src/index.ts
Due: schemas, util
