Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(deps): update lock file
  pnpm-lock.yaml
Due: none

Update index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

Update index.ts (#653)
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

replace import assertions
  apps/api/src/index.ts
  apps/discord-bot/src/commands/gtbhelper/find-solutions.ts
  apps/scripts/src/validate-commands.js
  packages/rendering/src/font/font-renderer.ts
Due: api, discord-bot

update swc
  .swcrc
  apps/api/package.json
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/index.cjs
  packages/util/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: api, discord-bot, logger, math, schemas, util

make eslint config less strict
  apps/api/src/mod.ts
  eslint.config.js
Due: api

chore(pnpm): upgrade to pnpm 9.7.0
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(node): upgrade to node v22.6.0
  .github/workflows/ci.yml
  .nvmrc
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas

update lockfile
  pnpm-lock.yaml
Due: none

make ci run on pr
  .github/workflows/ci.yml
Due: none

chore(pnpm): upgrade to pnpm 9.7.0 (#655)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

fix ci yaml
  .github/workflows/ci.yml
Due: none

chore(typescript): update to typescript 5.5.4
  apps/site/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(turbo): upgrade to turborepo v2
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore(deps): upgrade to swc 1.7
  .swcrc
  apps/api/package.json
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

chore(node): upgrade to node 22.6.0 (#656)
  .github/workflows/ci.yml
  .nvmrc
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas

chore(deps): upgrade to typescript 5.5.4 (#657)
  apps/site/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade to turborepo 2.0 (#658)
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore(deps): upgrade to swc 1.7
  .swcrc
  .vscode/settings.json
  apps/api/package.json
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

revert vscode settings
  .vscode/settings.json
Due: none

chore(deps): upgrade to swc 1.7 (#660)
  .swcrc
  .vscode/settings.json
  apps/api/package.json
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

chore(deps): upgrade to vitest 2.0
  package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/messages/embed.ts
  packages/logger/src/index.ts
  packages/math/src/index.ts
  packages/rendering/tests/index.spec.tsx
  packages/rendering/vitest.config.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/serialize.ts
  packages/util/src/flatten.ts
  packages/util/src/unflatten.ts
  packages/util/src/util.ts
  pnpm-lock.yaml
  vitest.shared.ts
Due: logger, math, schemas, util

chore(deps): upgrade to vitest 2.0 (#661)
  package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/messages/embed.ts
  packages/logger/src/index.ts
  packages/math/src/index.ts
  packages/rendering/tests/index.spec.tsx
  packages/rendering/vitest.config.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/serialize.ts
  packages/util/src/flatten.ts
  packages/util/src/unflatten.ts
  packages/util/src/util.ts
  pnpm-lock.yaml
  vitest.shared.ts
Due: logger, math, schemas, util

chore(deps): update non-major dependencies
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
  turbo.json
Due: api, discord-bot, logger, schemas

update turbo config
  turbo.json
Due: none

chore(deps): update non-major dependencies (#662)
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
  turbo.json
Due: api, discord-bot, logger, schemas

chore(deps): update some major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/scripts/package.json
  apps/site/components/Hero/index.tsx
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  patches/fuse.js@6.6.2.patch
  pnpm-lock.yaml
Due: api, discord-bot

chore(deps): update some major dependencies (#663)
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/scripts/package.json
  apps/site/components/Hero/index.tsx
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  patches/fuse.js@6.6.2.patch
  pnpm-lock.yaml
Due: api, discord-bot

chore(deps): update tiny-discord
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/member.service.ts
  packages/discord/src/util/parse-discord-error.ts
  pnpm-lock.yaml
Due: discord-bot

chore(deps): update tiny-discord (#664)
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/member.service.ts
  packages/discord/src/util/parse-discord-error.ts
  pnpm-lock.yaml
Due: discord-bot

fix(api): attempt to use cached skins if mojang api fails
  apps/api/src/skin/skin.service.ts
Due: api

fix(api): attempt to use cached skins if mojang api fails (#665)
  apps/api/src/skin/skin.service.ts
Due: api

install wasm-pack in ci
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

aa
  apps/site/components/skin.tsx
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
  apps/site/pages/skin.tsx
  apps/site/tsconfig.json
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/package.json
  packages/skin-renderer/src/geometry/prism.rs
  packages/skin-renderer/src/model.rs
  packages/skin-renderer/src/wasm.rs
  pnpm-lock.yaml
Due: none

line @statsify/util
  packages/util/eslint.config.js
  packages/util/src/config.ts
  packages/util/src/flatten.ts
  packages/util/src/types.ts
  packages/util/src/util.ts
Due: util

update brace style
  eslint.config.js
Due: none
