Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

fix(discord-bot): properly show woolwars kit stats
  apps/discord-bot/src/commands/woolgames/woolwars.table.tsx
  pnpm-lock.yaml
Due: discord-bot

fix: remove minecraft version from player status stats
  apps/discord-bot/src/commands/status/status.profile.tsx
  packages/schemas/src/player/status.ts
Due: discord-bot, schemas

chore(deps): update minor dependencies and skia-canvas
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger

lint code
  apps/api/src/auth/auth.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/session/session.controller.ts
Due: api

fix(schemas): remove capture the wool challenge from arcade challenges
  packages/schemas/src/player/gamemodes/challenges/modes/arcade.ts
Due: schemas

fix: use github release of skia-canvas v0.9.30
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

chore(deps): use github release of skia-canvas v0.9.30 (#701)
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

fix(schemas): remove capture the wool from arcade challenges (#700)
  packages/schemas/src/player/gamemodes/challenges/modes/arcade.ts
Due: schemas

fix(discord-bot): properly show woolwars kit stats (#696)
  apps/discord-bot/src/commands/woolgames/woolwars.table.tsx
  pnpm-lock.yaml
Due: discord-bot

fix: remove minecraft version from player status stats (#697)
  apps/discord-bot/src/commands/status/status.profile.tsx
  packages/schemas/src/player/status.ts
Due: discord-bot, schemas

chore(deps): update non-major dependencies
  apps/api/package.json
  apps/api/src/auth/auth.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/session/session.controller.ts
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger

chore(deps): update non-major dependencies (#702)
  apps/api/package.json
  apps/api/src/auth/auth.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/session/session.controller.ts
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

feat: allow languages to force unicode characters to improve readibility
  packages/rendering/src/font/font-renderer.ts
  pnpm-lock.yaml
Due: none

feat: add halloween logo, footer, background and events
  .github/workflows/deploy.yml
  apps/discord-bot/src/components/Footer.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
  pnpm-lock.yaml
Due: discord-bot, schemas

feat: add halloween logo, footer, background and events (#708)
  .github/workflows/deploy.yml
  apps/discord-bot/src/components/Footer.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
  pnpm-lock.yaml
Due: discord-bot, schemas

feat(buildbattle): add speed builders and emblems
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

feat(copsandcrims): add levelling and new stats
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: discord-bot, schemas

feat: add knife kills
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

fix cvc progression localization
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
Due: discord-bot

show cvc score
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
Due: discord-bot

aa
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

fix cvc rainbow and headshot kils
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: discord-bot, schemas

fix cvc icons
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

add alpha wins, knife stats, and emblems
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: api, discord-bot, schemas

feat(copsandcrims): add levelling and knife kills (#711)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: discord-bot, schemas

aa
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

add emblem to lbs
  packages/schemas/src/player/stats.ts
Due: schemas

feat(murdermystery): add emblems, knife stats, & alpha wins/kills (#712)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/stats.ts
Due: api, discord-bot, schemas

feat(buildbattle): add speed builders and emblems (#710)
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

feat(warlords): add titles and fix cryomancer stats (#713)
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

feat(murdermystery): add hero kills
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

feat(pit): add lifetime renown and other misc stats
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  locales/en-US/default.json
  packages/schemas/package.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/renown-upgrades.json
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: discord-bot, schemas

feat(pit): add lifetime renown and other misc stats (#715)
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  locales/en-US/default.json
  packages/schemas/package.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/renown-upgrades.json
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: discord-bot, schemas

feat(murdermystery): add hero kills (#714)
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
