Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

feat(commands): add rankings command
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/rankings/games.ts
  apps/discord-bot/src/commands/rankings/positions.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/lib/format-position.ts
  locales/en-US/default.json
  packages/api-client/src/responses/post.rankings.response.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Due: api, discord-bot, schemas

fix: blitzsg kit exp leaderboard names
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: schemas

feat(commands): add rankings command (#321)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/rankings/games.ts
  apps/discord-bot/src/commands/rankings/positions.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/lib/format-position.ts
  locales/en-US/default.json
  packages/api-client/src/responses/post.rankings.response.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Due: api, discord-bot, schemas

feat(rankings): make /rankings use subcommands instead of the game option
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  locales/en-US/default.json
Due: discord-bot

feat(rankings): make /rankings use subcommands instead of game option (#322)
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  locales/en-US/default.json
Due: discord-bot

fix(rankings): make it so if your above the leaderboard limit for a ranking it won't show
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
Due: api, discord-bot, schemas

fix(rankings): if your above the lb limit it won't show (#323)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
Due: api, discord-bot, schemas

fix(leaderboards): disable useless leaderboards
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
Due: schemas

fix(leaderboards): disable useless leaderboards
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

fix(leaderboards): disable useless leaderboards (#325)
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

fix(prefixes): change a few prefix colors and refactor the system a bit
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/util.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix tkr prefixes
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

fix(prefixes): change some prefix colors & refactor the system (#326)
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/util.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix tkr tokens
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

fix(tkr): tokens (#327)
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Due: schemas

fix(rankings): level displaying exp instead of level in rankings command
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: schemas

add rankings tip
  apps/discord-bot/src/tips.ts
  locales/en-US/default.json
Due: discord-bot

feat(errors): add better premium errors/previews
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  locales/en-US/default.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
Due: discord-bot

feat(pit): add pit stats
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

fix(rankings): level displaying exp instead of level in rankings (#328)
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/tips.ts
  locales/en-US/default.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: discord-bot, schemas

feat(autocomplete): add player autocomplete
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-search.dto.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/api/src/player/search/player-search.controller.ts
  apps/api/src/player/search/player-search.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.player-search.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
Due: api

fix api operation
  apps/api/src/player/search/player-search.controller.ts
Due: api

remove commented code
  packages/discord/src/command/abstract-command.listener.ts
Due: none

update readme
  README.md
Due: none

feat(autocomplete): add player autocomplete (#329)
  README.md
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-search.dto.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/api/src/player/search/player-search.controller.ts
  apps/api/src/player/search/player-search.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.player-search.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
Due: api

feat: move events into general and change some pit stats
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/player/gamemodes/general/events.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

fix: remove autocomplete
  locales/en-US/emojis.json
  packages/discord/src/arguments/player.argument.ts
Due: none

fix(vampirez): fix vampirez prefixes once again
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Due: discord-bot, schemas

fix(arcade): remove coin conversions
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/index.ts
Due: discord-bot, schemas

fix(vampirez): fix vampirez prefixes once again (#330)
  apps/discord-bot/src/commands/arcade/tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Due: discord-bot, schemas

fix(tntgames): kdr now uses kills instead of wins
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

fix(parkour): use 2022 Lobby parkour time
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

fix(formattedgames): fix lobby text of TL and ML
  packages/schemas/src/game/game.ts
Due: schemas

fix(pit): progression and sidebar
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: discord-bot, schemas

fix: remove events from /rankings
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
Due: discord-bot

feat(pit): make sidebar items always show and remove exp
  apps/discord-bot/src/commands/pit/pit.profile.tsx
Due: discord-bot

fix(pit): rename leaderboards
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/schemas/src/player/gamemodes/pit/index.ts
Due: discord-bot, schemas

feat(commands): add language command and dutch translations
  apps/api/src/dtos/user.dto.ts
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  locales/en-US/default.json
  locales/nl/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/i18n-loader.service.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/user/index.ts
Due: api, discord-bot, schemas

chore: add one more translation
  locales/nl/default.json
Due: none
