Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

update deploy
  .github/workflows/deploy.yml
Due: none

feat(api): add route to post players (#278)
  .github/workflows/deploy.yml
  .vscode/settings.json
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/update-player.dto.ts
  apps/api/src/index.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
  yarn.lock
Due: api

ci: update deploy action
  .github/workflows/deploy.yml
Due: none

ci: update deploy action (#282)
  .github/workflows/deploy.yml
Due: none

fix(api): redoc relying on localhost:3000 instead of respecting the port/domain
  .github/workflows/deploy.yml
  apps/api/src/app.controller.ts
  apps/api/src/historical/historical.service.ts
Due: api

fix path
  .github/workflows/deploy.yml
Due: none

fix(api): redoc relying on localhost:3000 (#283)
  .github/workflows/deploy.yml
  apps/api/src/app.controller.ts
  apps/api/src/historical/historical.service.ts
Due: api

fix(sentry): make sentry not use 1 for trace sample rate
  apps/api/src/index.ts
  apps/discord-bot/src/index.ts
  apps/site/pages/index.tsx
  apps/support-bot/src/index.ts
  apps/verify-server/src/index.ts
  config.schema.js
  package.json
  packages/util/src/config.ts
  turbo.json
Due: api, discord-bot, util

fix(sentry): make sentry not use 1 for trace sample rate (#284)
  .github/workflows/deploy.yml
  apps/api/src/index.ts
  apps/discord-bot/src/index.ts
  apps/site/pages/index.tsx
  apps/support-bot/src/index.ts
  apps/verify-server/src/index.ts
  config.schema.js
  package.json
  packages/util/src/config.ts
  turbo.json
Due: api, discord-bot, util

fix(errors): make unhandled rejections and exceptions post to sentry
  .github/workflows/deploy.yml
  apps/api/src/index.ts
  apps/discord-bot/src/index.ts
  apps/support-bot/src/index.ts
  apps/verify-server/src/index.ts
  pm2.config.js
Due: api, discord-bot

fix(errors): make unhandled rejections post to sentry (#285)
  .github/workflows/deploy.yml
  apps/api/src/index.ts
  apps/discord-bot/src/index.ts
  apps/support-bot/src/index.ts
  apps/verify-server/src/index.ts
  pm2.config.js
Due: api, discord-bot

chore(pm2): update pm2 config
  pm2.config.js
Due: none

chore(pm2): update pm2 config (#286)
  pm2.config.js
Due: none

chore(actions): update deploy action (#287)
  .github/workflows/deploy.yml
Due: none

feat: add new icons and emojis
  apps/discord-bot/src/commands/reset.command.ts
  apps/site/pages/_app.tsx
  apps/site/public/embed-banner.png
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/assets/src/index.ts
  packages/discord/src/util/error.message.ts
  packages/logger/src/index.ts
Due: discord-bot, logger

update banner
  apps/site/public/embed-banner.png
Due: none

update readme
  README.md
Due: none

add twitter banner meta
  apps/site/pages/_app.tsx
Due: none

add twitter card
  apps/site/pages/_app.tsx
Due: none

feat: add new icons and emojis (#288)
  README.md
  apps/discord-bot/src/commands/reset.command.ts
  apps/site/pages/_app.tsx
  apps/site/public/embed-banner.png
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/assets/src/index.ts
  packages/discord/src/util/error.message.ts
  packages/logger/src/index.ts
Due: discord-bot, logger

fix(schemas): add better default values
  apps/scripts/src/build-watch.js
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/paintball/perks.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/progression.ts
  pm2.config.js
Due: schemas

fix(schemas): add better default values (#289)
  apps/scripts/src/build-watch.js
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/paintball/perks.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/progression.ts
  pm2.config.js
Due: schemas

feat(messages): revamp messages and fix minor issues
  .vscode/settings.json
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/reset.command.ts
  apps/support-bot/src/commands/close.command.ts
  apps/support-bot/src/events/message-create.event.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gamecounts.response.ts
  packages/discord/src/arguments/guild.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/services/api.service.ts
  packages/discord/src/util/error.message.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/player/events.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

fix various bugs
  .vscode/settings.json
  apps/api/src/auth/auth.role.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-list.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/components/HistoricalProgression.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  apps/scripts/src/api-key.js
  apps/site/pages/index.tsx
  locales/en-US/default.json
  packages/assets/src/index.ts
  packages/schemas/src/game/game.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/player/events.ts
  packages/schemas/src/player/gamemodes/events/index.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/user/footer.ts
  pm2.config.js
Due: api, discord-bot, schemas

revamp messages for support bot
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/scripts/src/api-key.js
  apps/site/next.config.js
  apps/support-bot/src/commands/premium-menu.command.ts
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  config.schema.js
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/util/src/config.ts
Due: api, discord-bot, util

fix todo
  apps/api/src/leaderboards/leaderboard.service.ts
Due: api

remove status
  README.md
  apps/site/components/Hero/index.tsx
  apps/site/pages/index.tsx
  apps/site/public/examples/status.png
Due: none

fix leaderboard bug
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/site/pages/index.tsx
  locales/en-US/default.json
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: api, discord-bot, schemas

change leaderboard errors
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  locales/en-US/default.json
Due: discord-bot

update help
  apps/discord-bot/src/commands/info/help.command.ts
  locales/en-US/default.json
Due: discord-bot

remove supprot bot
  pm2.config.js
Due: none

remove all pm2 thing
  pm2.config.js
Due: none

fix(guild): guild achievements
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
Due: schemas

fix(guild): guild achievements (#291)
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
Due: schemas

fix(rc1): fix a few of the issues found while running rc1
  apps/api/package.json
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/historical/yesterday.command.tsx
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  apps/scripts/src/api-key.js
  apps/site/next.config.js
  apps/site/pages/index.tsx
  locales/en-US/default.json
  packages/discord/src/command/command.resolvable.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  pm2.config.js
Due: api, discord-bot, schemas

fix: fix last historical lookup, player not in guild error, and update duels titles
  apps/api/src/guild/guild.service.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  locales/en-US/default.json
  packages/api-client/src/exceptions/guild.404.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: api, discord-bot, schemas

fix: remove stats from historical that don't make sense
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/tables/hole-in-the-wall.table.tsx
  apps/discord-bot/src/commands/arcade/tables/zombies.table.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/config/demo.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Exclude.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/discord-bot/src/components/Historical/index.ts
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/components/index.ts
Due: discord-bot

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
