Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat: update the new title changes in buildbattle
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
Due: schemas

feat: update the new title changes in buildbattle (#718)
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
Due: schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore: switch deploy action to new server
  .github/workflows/deploy.yml
Due: none

feat: add christmas theme
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  pnpm-lock.yaml
Due: discord-bot

feat(arcade): add santa says stats
  apps/discord-bot/src/commands/arcade/modes/hypixel-says.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

lint
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

feat(events): add christmas 2024
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat: christmas logo and footer
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

feat(events): add christmas 2024 (#723)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(arcade): add santa says stats (#722)
  apps/discord-bot/src/commands/arcade/modes/hypixel-says.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat: add christmas theme (#721)
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  pnpm-lock.yaml
Due: discord-bot

fix(events): christmas 2024 level requirement
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

feat(christmas): update christmas theme to be more accessible
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  pnpm-lock.yaml
Due: discord-bot

implement hd boxes
  apps/discord-bot/src/themes/boxes/hd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  pnpm-lock.yaml
Due: discord-bot

lint
  apps/discord-bot/src/themes/boxes/hd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/skin-renderer/src/skin_loader.rs
Due: discord-bot

feat(woolgames): add more sheep wars kills leaderboards
  packages/schemas/src/player/gamemodes/woolgames/sheepwars.ts
Due: schemas

feat(tntgames): add overall page for tntgames overview and change page order
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  packages/schemas/src/player/gamemodes/tntgames/index.ts
Due: discord-bot, schemas

feat(woolgames): add more sheep wars kills leaderboards (#726)
  packages/schemas/src/player/gamemodes/woolgames/sheepwars.ts
Due: schemas

feat(christmas): update christmas theme to be more accessible (#724)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/skin-renderer/src/skin_loader.rs
Due: discord-bot

feat(tntgames): add overall page for tntgames overview and change page order (#725)
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  packages/schemas/src/player/gamemodes/tntgames/index.ts
Due: discord-bot, schemas

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

feat(copsandcrims): add grenade kills
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

feat(cops and crims): add grenade kills (#727)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
