Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat(discord-bot): add tips
  apps/api/src/dtos/user.dto.ts
  apps/api/src/index.ts
  apps/api/src/sentry/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  apps/support-bot/src/commands/force-unverify.command.ts
  apps/support-bot/src/commands/force-verify.command.ts
  apps/support-bot/src/lib/command.listener.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
Due: api, discord-bot

feat(support-bot): add welcome messages
  apps/discord-bot/src/services/font-loader.service.ts
  apps/discord-bot/src/services/index.ts
  apps/scripts/src/build-watch.js
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/index.ts
  apps/support-bot/src/lib/welcomer.profile.tsx
  apps/support-bot/src/services/font-loader.service.ts
  apps/support-bot/src/services/index.ts
  package.json
  packages/rendering/.swcrc
  yarn.lock
Due: discord-bot

fix: make it so the serverMember field updates when joining and leaving
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
Due: none

feat(site): add styled components
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/index.tsx
  packages/api-client/package.json
  packages/assets/package.json
  packages/rendering/package.json
  yarn.lock
Due: api, discord-bot

remove button
  apps/site/pages/index.tsx
Due: none

add typescript
  apps/site/next.config.js
  apps/site/package.json
  yarn.lock
Due: none

add a box
  apps/site/components/Box.tsx
  apps/site/pages/index.tsx
Due: none

add text component
  apps/site/components/Box.tsx
  apps/site/components/Text.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
Due: none

mend
  apps/site/components/Text.tsx
Due: none

remove useless code in text component
  apps/site/components/Text.tsx
Due: none

add minecraft font to public
  apps/site/pages/_app.tsx
  apps/site/public/minecraft-bold-italic.otf
  apps/site/public/minecraft-bold.otf
  apps/site/public/minecraft-italic.otf
  apps/site/public/minecraft.otf
Due: none

move minecraft fonts to /fonts
  apps/site/pages/_app.tsx
  apps/site/public/fonts/minecraft-bold-italic.otf
  apps/site/public/fonts/minecraft-bold.otf
  apps/site/public/fonts/minecraft-italic.otf
  apps/site/public/fonts/minecraft.otf
Due: none

fix box width
  apps/site/components/Box.tsx
  apps/site/pages/index.tsx
Due: none

add _document.tsx
  apps/site/components/Box.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Layout.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/_document.tsx
Due: none

attempt at adding box shadows
  apps/site/components/Box.tsx
  apps/site/components/Layout.tsx
  apps/site/components/Navbar/Items.tsx
  apps/site/components/Navbar/index.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
Due: none

add margin to boxes
  apps/site/components/Box.tsx
  apps/site/components/Navbar/Items.tsx
  apps/site/components/Navbar/index.tsx
Due: none

fix(support-bot): make memberCount use real value & make members lose `serverMember` when leaving
  apps/discord-bot/.swcrc
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  apps/support-bot/.swcrc
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/lib/welcomer.profile.tsx
  packages/discord/src/services/guild.service.ts
  packages/discord/src/services/index.ts
  packages/rendering/.swcrc
  packages/util/src/index.ts
Due: discord-bot, util

fix(discord-bot): make premium users exempt from tips
  apps/discord-bot/src/lib/command.listener.ts
Due: discord-bot

feat(logger): add date when in prod to the logger
  packages/logger/src/index.ts
Due: logger

feat(logger): add date when in prod to the logger (#261)
  packages/logger/src/index.ts
Due: logger

feat(backgrounds): add lobby backgrounds
  apps/discord-bot/src/constants.ts
  packages/rendering/src/components/Image.ts
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

fix(support-bot): make it not respond to commands outside of the guild
  apps/support-bot/src/lib/command.listener.ts
Due: none

feat(command usage): add api routes for command usage
  apps/api/src/app.module.ts
  apps/api/src/commands/commands.controller.ts
  apps/api/src/commands/commands.module.ts
  apps/api/src/commands/commands.service.ts
  apps/api/src/commands/index.ts
  apps/api/src/dtos/command.dto.ts
  apps/api/src/dtos/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.command-usage.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/commands/index.ts
  packages/schemas/src/index.ts
Due: api, discord-bot, schemas

feat(support-bot): add top commands command
  apps/support-bot/src/commands/commands.command.ts
  packages/discord/src/command/command.decorator.ts
Due: none

feat(commands): add command usage (#263)
  apps/api/src/app.module.ts
  apps/api/src/commands/commands.controller.ts
  apps/api/src/commands/commands.module.ts
  apps/api/src/commands/commands.service.ts
  apps/api/src/commands/index.ts
  apps/api/src/dtos/command.dto.ts
  apps/api/src/dtos/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/commands/commands.command.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.command-usage.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.decorator.ts
  packages/schemas/src/commands/index.ts
  packages/schemas/src/index.ts
Due: api, discord-bot, schemas

fix(misc): change some colors around, fix tips and rename some localization keys
  apps/discord-bot/src/commands/arcade/tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix: unicorn rule
  .eslintrc
Due: none

fix(misc): change colors, fix tips (#264)
  apps/discord-bot/src/commands/arcade/tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(lint): fix lint rule
  apps/discord-bot/src/commands/general/general.profile.tsx
Due: discord-bot

add hero
  apps/site/components/Button.tsx
  apps/site/components/Divider.tsx
  apps/site/components/Hero/Navbar.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/Layout.tsx
  apps/site/components/Logo.tsx
  apps/site/components/Navbar/Items.tsx
  apps/site/components/Navbar/index.tsx
  apps/site/components/Text.tsx
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/_app.tsx
  apps/site/pages/_document.tsx
  apps/site/public/logo.svg
  yarn.lock
Due: none

add footer
  apps/site/components/Button.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/Logo.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/_document.tsx
  apps/site/pages/index.tsx
  apps/site/public/socials/discord.svg
  apps/site/public/socials/github.png
  apps/site/public/socials/patreon.png
  apps/site/public/socials/twitter.svg
Due: none

switch to local hero image
  apps/site/components/Hero/index.tsx
  apps/site/public/hero.png
Due: none

switch to next/future/image
  apps/site/components/Footer.tsx
  apps/site/components/Logo.tsx
Due: none

make hero use next/image instead of background url
  apps/site/components/Hero/index.tsx
  apps/site/package.json
  yarn.lock
Due: none

add stat circles
  apps/site/components/Button.tsx
  apps/site/components/Container.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Hero/Navbar.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/Layout.tsx
  apps/site/components/Logo.tsx
  apps/site/components/StatCircle.tsx
  apps/site/package.json
  apps/site/pages/index.tsx
  yarn.lock
Due: none

fix background
  apps/site/components/Hero/index.tsx
Due: none

feat(bwchallenges): add a command to view your completions for the 30 bw challenges
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
Due: discord-bot

docs(todo): remove the bedwars challenge todo
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
Due: schemas

fix(review): fix review items
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
Due: discord-bot, schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
