Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix lockfile
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
  packages/skin-renderer/src/model.rs
  pnpm-lock.yaml
Due: none

delete recentgames
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
Due: discord-bot

fix wgpu issue
  packages/skin-renderer/src/mesh.rs
  pnpm-lock.yaml
Due: none

update camera
  packages/skin-renderer/src/camera/orbital.rs
  packages/skin-renderer/src/model.rs
Due: none

update todo comment
  packages/skin-renderer/src/renderer/wasm.rs
Due: none

feat(schemas): add bingo stats
  packages/schemas/src/player/gamemodes/general/bingo.ts
  packages/schemas/src/player/gamemodes/general/index.ts
Due: schemas

feat(schemas): add bingo stats (#759)
  packages/schemas/src/player/gamemodes/general/bingo.ts
  packages/schemas/src/player/gamemodes/general/index.ts
Due: schemas

fix(schemas): remove _icon prefixes from skywars emblem keys
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

fix(schemas): remove _icon prefixes from skywars emblem keys (#760)
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

feat: summer 2025
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

change xp to 25k
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(events): summer 2025 (#762)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat: make command mentions copiable with a tooltip
  .vscode/settings.json
  apps/site/app/(home)/sections/guild-section.tsx
  apps/site/app/(home)/sections/leaderboard-section.tsx
  apps/site/app/(home)/sections/player-section.tsx
  apps/site/app/(home)/sections/session-section.tsx
  apps/site/app/globals.css
  apps/site/components/icons/caret.tsx
  apps/site/components/ui/command.tsx
  apps/site/components/ui/tooltip.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: none

feat: add twitter and opengraph images
  apps/site/app/opengraph-image.png
  apps/site/app/players/[slug]/general/bingo/opengraph-image.png
  apps/site/app/players/[slug]/general/bingo/twitter-image.png
  apps/site/app/twitter-image.png
Due: none

faaaa
  apps/site/app/env.tsx
  apps/site/app/layout.tsx
  apps/site/components/ui/table.tsx
Due: none

fix eslint and skins
  .vscode/settings.json
  apps/api/eslint.config.js
  apps/discord-bot/eslint.config.js
  apps/scripts/eslint.config.js
  apps/site/app/(home)/sections/player-section.tsx
  apps/site/app/(home)/sections/session-section.tsx
  apps/site/app/(home)/session-animation.tsx
  apps/site/app/api/skin/head/route.ts
  apps/site/app/api/skin/render/route.ts
  apps/site/app/layout.tsx
  apps/site/app/not-found.tsx
  apps/site/components/ui/background.tsx
  apps/site/components/ui/carousel.tsx
  apps/site/components/ui/tabs.tsx
  apps/site/eslint.config.mjs
  apps/support-bot/eslint.config.js
  apps/verify-server/eslint.config.js
  eslint.config.js
  packages/api-client/eslint.config.js
  packages/assets/eslint.config.js
  packages/discord/eslint.config.js
  packages/logger/eslint.config.js
  packages/math/eslint.config.js
  packages/rendering/eslint.config.js
  packages/schemas/eslint.config.js
  packages/util/eslint.config.js
Due: api, discord-bot, logger, math, schemas, util

fix: remove outline from tooltip
  apps/site/components/ui/tooltip.tsx
Due: none

aaa mobile
  apps/site/app/(home)/page.tsx
  apps/site/app/(home)/previews/woolwars.tsx
  apps/site/app/(home)/sections/guild-section.tsx
  apps/site/app/players/search.tsx
  package.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

fix(schemas): use new duels currentStreak field
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: schemas

fix(schemas): zombies doors opened stat incorrectly using deaths
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

fix: add stables to gtbhelper word list
  apps/discord-bot/words.json
Due: discord-bot

fix(schemas): update cops and crims parkour times
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

fix(schemas): use new duels currentStreak field (#763)
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: schemas

fix(schemas): zombies doors opened stat incorrectly using deaths (#764)
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: schemas

fix(schemas): update cops and crims parkour times (#766)
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

fix: add stables to gtbhelper word list (#765)
  apps/discord-bot/words.json
Due: discord-bot

fix: skeletons
  apps/site/app/api.ts
  apps/site/app/globals.css
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  apps/site/app/players/[slug]/general/bingo/loading.tsx
  apps/site/app/players/[slug]/general/bingo/page.tsx
  apps/site/app/players/[slug]/layout.tsx
  apps/site/app/players/search.tsx
  apps/site/components/ui/box.tsx
  apps/site/components/ui/command.tsx
  apps/site/components/ui/skeleton-box.tsx
  apps/site/hooks/use-debounce.ts
  apps/site/hooks/use-outside-click.ts
Due: none

chore(deps): update skia-canvas to v2
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

fix: skeleton box display
  apps/site/app/api.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  apps/site/app/players/[slug]/general/bingo/boards.ts
  apps/site/app/players/[slug]/general/bingo/loading.tsx
  apps/site/app/players/[slug]/general/bingo/page.tsx
  apps/site/components/ui/skeleton-box.tsx
  apps/site/components/ui/tabs.tsx
  pnpm-lock.yaml
Due: none

aa
  apps/site/app/players/search.tsx
Due: none

bb
  apps/site/app/api.ts
  apps/site/app/players/search.tsx
Due: none

feat: duels update 2025
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/bedwars-duels.table.tsx
  apps/discord-bot/src/commands/duels/tables/index.ts
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

feat: add icon and scheme
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: discord-bot, schemas

fix: linting
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas
