Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat: auth permissions
  apps/hono-api/src/auth.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
Due: none

aa
  apps/hono-api/src/auth.ts
Due: none

feat: use node typescript support
  apps/hono-api/package.json
  apps/hono-api/src/auth.ts
  apps/hono-api/src/index.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
  apps/hono-api/src/validation.ts
  apps/hono-api/tsconfig.json
Due: none

begin openapi docs
  apps/hono-api/package.json
  apps/hono-api/src/index.ts
  apps/hono-api/src/middleware/auth.ts
  apps/hono-api/src/middleware/openapi.ts
  apps/hono-api/src/middleware/validation.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
  apps/hono-api/src/validation.ts
Due: none

bump node
  .nvmrc
  pnpm-lock.yaml
Due: none

drag
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/components/ui/carousel.tsx
Due: none

add game icons
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/components/ui/carousel.tsx
  apps/site2/components/ui/game-icon.tsx
  apps/site2/public/games/ARCADE.png
  apps/site2/public/games/ARENA_BRAWL.png
  apps/site2/public/games/BEDWARS.png
  apps/site2/public/games/BLITZSG.png
  apps/site2/public/games/BUILD_BATTLE.png
  apps/site2/public/games/CLASSIC.png
  apps/site2/public/games/COPS_AND_CRIMS.png
  apps/site2/public/games/CRAZY_WALLS.png
  apps/site2/public/games/DUELS.png
  apps/site2/public/games/HOUSING.png
  apps/site2/public/games/MAIN_LOBBY.png
  apps/site2/public/games/MEGAWALLS.png
  apps/site2/public/games/MURDER_MYSTERY.png
  apps/site2/public/games/PAINTBALL.png
  apps/site2/public/games/PIT.png
  apps/site2/public/games/PROTOTYPE.png
  apps/site2/public/games/QUAKE.png
  apps/site2/public/games/REPLAY.png
  apps/site2/public/games/SKYBLOCK.png
  apps/site2/public/games/SKYCLASH.png
  apps/site2/public/games/SKYWARS.png
  apps/site2/public/games/SMASH_HEROES.png
  apps/site2/public/games/SMP.png
  apps/site2/public/games/SPEED_UHC.png
  apps/site2/public/games/TNT_GAMES.png
  apps/site2/public/games/TOURNAMENT_LOBBY.png
  apps/site2/public/games/TURBO_KART_RACERS.png
  apps/site2/public/games/UHC.png
  apps/site2/public/games/VAMPIREZ.png
  apps/site2/public/games/WALLS.png
  apps/site2/public/games/WARLORDS.png
  apps/site2/public/games/WOOLGAMES.png
Due: none

refactor: guild progression
  .vscode/settings.json
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/components/ui/carousel.tsx
  apps/site2/components/ui/progression.tsx
  pnpm-lock.yaml
Due: none

try to add responses
  apps/hono-api/src/index.ts
  apps/hono-api/src/middleware/openapi.ts
  apps/hono-api/src/routes/players.ts
Due: none

use import aliases
  apps/hono-api/package.json
  apps/hono-api/src/index.ts
  apps/hono-api/src/middleware/auth.ts
  apps/hono-api/src/middleware/validation.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
Due: none

update settings
  .vscode/settings.json
Due: none

update settings pt 2
  .vscode/settings.json
Due: none

aa
  apps/hono-api/package.json
  apps/hono-api/src/index.ts
  apps/hono-api/src/middleware/auth.ts
  apps/hono-api/src/middleware/validation.ts
  apps/hono-api/src/routes/players/handlers.ts
  apps/hono-api/src/routes/players/index.ts
  apps/hono-api/src/routes/players/routes.ts
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

COOK FOOTER and FIX SECTIONS
  apps/site2/app/(home)/interactive-logo.tsx
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/sections/base-section.tsx
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/(home)/sections/leaderboard-section.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/(home)/sections/session-section.tsx
  apps/site2/app/globals.css
  apps/site2/app/layout.tsx
  apps/site2/app/test/page.tsx
  apps/site2/components/icons/discord.tsx
  apps/site2/components/icons/github.tsx
  apps/site2/components/icons/logo.tsx
  apps/site2/components/icons/patreon.tsx
  apps/site2/components/icons/twitter.tsx
  apps/site2/components/icons/youtube.tsx
  apps/site2/components/ui/box.tsx
  apps/site2/components/ui/button.tsx
  apps/site2/components/ui/footer.tsx
Due: none

make cool button
  apps/site2/app/(home)/page.tsx
  apps/site2/app/test/page.tsx
  apps/site2/components/ui/button.module.css
  apps/site2/components/ui/button.tsx
  apps/site2/components/ui/footer.tsx
Due: none

add prefooter
  apps/site2/app/(home)/interactive-logo.tsx
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/globals.css
  apps/site2/components/ui/button.module.css
  apps/site2/components/ui/button.tsx
Due: none

feat(skywars): add new levelling and mini gamemode
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: discord-bot, schemas

feat(skywars): add all schemes and emblems and level max
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(skywars): add monthly quests
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: discord-bot, schemas

feat: bingo
  .vscode/settings.json
  apps/site2/app/test/page.tsx
  apps/site2/app/test2/page.tsx
  pnpm-lock.yaml
Due: none

feat(skywars): add bold, underline and strikethrough to schemes
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: discord-bot, schemas

aa
  apps/discord-bot/src/commands/quests/quests.command.tsx
Due: discord-bot

aa
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(skywars): add angel rebirth content (#751)
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/skywars.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: discord-bot, schemas

fix(skywars): use games played to calculate skywars mini lossses
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
Due: schemas

fix(skywars): use games played to calculate skywars mini lossses (#752)
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
Due: schemas

feat(events): add easter 2025
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(events): add easter 2025 (#753)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

a
  apps/site2/app/test2/page.tsx
Due: none

bingo was his namo
  apps/site2/app/test2/page.tsx
Due: none

styles
  apps/site2/app/test2/page.tsx
  apps/site2/app/test2/test.json
Due: none

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
