Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(i18n): update crowdin translation (#501)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/en-US/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix(sessions): add missing localization strings
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/scripts/package.json
  apps/scripts/src/command-chars.js
  apps/scripts/src/validate-commands.js
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/pit/util.ts
  yarn.lock
Due: discord-bot, schemas

fix(themes): fix validation errors when trying to change themes
  apps/api/src/dtos/user.dto.ts
  apps/api/src/user/user.controller.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: api, schemas

chore(i18n): update translations for `%language%`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

feat(woolwars): add new woolwars prestiges and icons
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

ci: force npm to build packages on install
  .github/workflows/ci.yml
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

feat(woolwars): add new woolwars prestiges and icons (#505)
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

fix(themes): fix validation errors when trying to change themes (#503)
  apps/api/src/dtos/user.dto.ts
  apps/api/src/user/user.controller.ts
Due: api

fix(sessions): add missing localization strings (#502)
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/scripts/package.json
  apps/scripts/src/command-chars.js
  apps/scripts/src/validate-commands.js
  locales/en-US/default.json
  yarn.lock
Due: discord-bot

fix(walls): fix 3rd prefix being gold instead of yellow
  packages/schemas/src/player/gamemodes/walls/index.ts
Due: schemas

fix(walls): fix 3rd prefix being gold instead of yellow (#506)
  packages/schemas/src/player/gamemodes/walls/index.ts
Due: schemas

fix(prefixes): fix issue with prefixes between two multiples of 10
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: discord-bot, schemas

fix: rounding of prefixes that aren't multiples of 10 (#507)
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  packages/schemas/src/player/gamemodes/prefixes.ts
Due: discord-bot, schemas

fix(historical): fix historical leaderboard submodes and ratios
  README.md
  apps/api/src/app.module.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  packages/schemas/src/metadata/metadata-scanner.ts
Due: api, discord-bot, schemas

fix(sessions): makes sessions staff only and fix historical reset messages
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/blitzsg/blitzsg.command.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
Due: api, discord-bot

Refactor command imports in session.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
Due: discord-bot

Refactor SessionCommand to remove unused startTime and endTime variables
  apps/discord-bot/src/commands/historical/session.command.tsx
Due: discord-bot

fix: historical leaderboard issues and sessions (#508)
  README.md
  apps/api/src/app.module.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/blitzsg/blitzsg.command.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
  packages/schemas/src/metadata/metadata-scanner.ts
Due: api, discord-bot, schemas

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
