Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, logger, math, schemas, util

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
      logger:
        flags: logger
      math:
        flags: math
      schemas:
        flags: schemas
      util:
        flags: util

flags:
  api:
    paths:
      - apps/api
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

feat(redoc): customize json tokens and fix some other colors
  .vscode/settings.json
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/views/redoc.handlebars
Due: api

docs(redoc): change Redoc from Light Theme to "Tokyo Night" vibe (#57)
  .vscode/settings.json
  apps/api/src/app.controller.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/views/redoc.handlebars
Due: api

feat(discord-bot): initial commit
  .env.schema
  apps/api/src/index.ts
  apps/api/src/module.d.ts
  apps/discord-bot/jest.config.js
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  apps/discord-bot/tests/index.spec.ts
  apps/discord-bot/tsconfig.eslint.json
  apps/discord-bot/tsconfig.json
  codecov.yml
  package.json
  yarn.lock
Due: api

test(math): add more math test such as radians and missing situations
  packages/math/tests/index.spec.ts
Due: math

chore(codecov): change codecov config
  codecov.yml
Due: none

test(math): add more math tests such as radians and missing situations (#59)
  packages/math/tests/index.spec.ts
Due: math

feat(discord-bot): initial commit (#58)
  .env.schema
  apps/api/src/index.ts
  apps/api/src/module.d.ts
  apps/discord-bot/jest.config.js
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  apps/discord-bot/tests/index.spec.ts
  apps/discord-bot/tsconfig.eslint.json
  apps/discord-bot/tsconfig.json
  codecov.yml
  package.json
  yarn.lock
Due: api

test(utils): add more util tests (noop, prettify, etc)
  packages/util/tests/index.spec.ts
Due: util

test(utils): Adding missing util tests (#60)
  packages/util/tests/index.spec.ts
Due: util

test(logger): add logger tests (finally!)
  packages/logger/src/index.ts
  packages/logger/tests/index.spec.ts
Due: logger

test(logger): add logger tests (finally!) (#61)
  packages/logger/src/index.ts
  packages/logger/tests/index.spec.ts
Due: logger

test(utils): 100% Util coverage
  packages/util/tests/index.spec.ts
Due: util

test(utils): 100% Util coverage (#62)
  packages/util/tests/index.spec.ts
Due: util

refactor(constructor): move getConstructor to utils, cleaning up code
  packages/math/src/index.ts
  packages/schemas/src/util/deserialize.ts
  packages/schemas/src/util/get-leaderboard-field.ts
  packages/schemas/src/util/get-leaderboard-fields.ts
  packages/schemas/src/util/serialize.ts
  packages/schemas/src/util/shared.ts
  packages/util/src/index.ts
Due: math, schemas, util

refactor(constructor): move getConstructor to utils (#63)
  packages/math/src/index.ts
  packages/schemas/src/util/deserialize.ts
  packages/schemas/src/util/get-leaderboard-field.ts
  packages/schemas/src/util/get-leaderboard-fields.ts
  packages/schemas/src/util/serialize.ts
  packages/schemas/src/util/shared.ts
  packages/util/src/index.ts
Due: math, schemas, util

Pin codecov/codecov-action action to v2
  .github/workflows/ci.yml
Due: none

Update actions/setup-node action to v3
  .github/workflows/ci.yml
Due: none

fix(ci): make coverage not fail the ci
  .github/workflows/ci.yml
Due: none

fix(ci): make coverage not fail the ci (#67)
  .github/workflows/ci.yml
Due: none

chore(deps): Update all non-major dependencies
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  apps/api/package.json
  package.json
  packages/schemas/package.json
  yarn.lock
Due: api, schemas

feat(guild monthly): collect monthly gexp data
  apps/api/src/guild/guild.service.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
Due: api, schemas

feat(player): adds a method of deleting players from the database
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
Due: api

feat(guild monthly, player): monthly gexp and delete route (#68)
  apps/api/src/guild/guild.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
Due: api, schemas

chore(package): add cliff functionality
  CHANGELOG.md
  cliff.toml
  package.json
Due: none

feat(guild leaderboards): add support for basic mongo leaderboards
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/index.ts
  apps/api/src/leaderboards/leaderboard.module.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/responses/index.ts
  apps/api/src/responses/post.guild-leaderboard.response.ts
  packages/schemas/src/decorators/field.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
Due: api, schemas

fix(codecov): remove codecov
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(codecov): remove codecov (#71)
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(prettier function): add more casing support to the prettier function
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
Due: util

fix/prettierFunc: add more casing support to the prettier function (#72)
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
Due: util

feat(guild leaderboards): made it possible to query surrounding documents by a filter
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
Due: api

fix: 🐛 remove CHANGELOG.md
  CHANGELOG.md
Due: none

chore(package): add cliff functionality (#69)
  cliff.toml
  package.json
Due: none

feat(guild leaderboards): add guild rankings
  apps/api/src/dtos/guild-rankings.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/api/src/responses/index.ts
  apps/api/src/responses/post.guild-rankings.response.ts
  packages/util/tests/index.spec.ts
Due: api, util

feat(guild leaderboards): add guild leaderboards and rankings (#70)
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/guild-rankings.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/src/leaderboards/index.ts
  apps/api/src/leaderboards/leaderboard.module.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/responses/index.ts
  apps/api/src/responses/post.guild-leaderboard.response.ts
  apps/api/src/responses/post.guild-rankings.response.ts
  packages/schemas/src/decorators/field.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
  packages/util/tests/index.spec.ts
Due: api, schemas, util

feat(discord): add command decorators and metadata parser
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command/command.builder.ts
  apps/discord-bot/src/lib/command/command.decorator.ts
  apps/discord-bot/src/lib/command/command.interface.ts
  apps/discord-bot/src/lib/command/command.resolvable.ts
  apps/discord-bot/src/lib/command/index.ts
  apps/discord-bot/src/lib/command/subcommand.decorator.ts
  apps/discord-bot/tsconfig.json
  yarn.lock
Due: none

refactor(discord): move discord library things into its own package
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/commands/sub/help.command.ts
  apps/discord-bot/src/index.ts
  packages/discord/jest.config.js
  packages/discord/package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/index.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/index.ts
  packages/discord/tests/index.spec.ts
  packages/discord/tsconfig.eslint.json
  packages/discord/tsconfig.json
  yarn.lock
Due: none

fix(issue template): add new packages to templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

feat(discord): added a `CommandLoader` that returns a `Map<string, CommandResolvable>`
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/commands/sub/help.command.ts
  apps/discord-bot/src/index.ts
  packages/discord/src/command/command.loader.ts
Due: none

feat(discord): added a `CommandPoster` to add slash commands
  .env.schema
  apps/discord-bot/src/commands/help.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  packages/discord/package.json
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/index.ts
  yarn.lock
Due: none
