Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @nestjs/schedule to v2
  apps/api/package.json
  yarn.lock
Due: api

ci: remove husky and git cliff
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  .husky/commit-msg
  .husky/pre-commit
  cliff.toml
  package.json
  yarn.lock
Due: none

ci: remove husky and git cliff (#177)
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  .husky/commit-msg
  .husky/pre-commit
  cliff.toml
  package.json
  yarn.lock
Due: none

feat(rendering): add `remaining` measurement and refactor components
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Background.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  packages/rendering/src/components/Image.ts
  packages/rendering/src/hooks/useComponentSize.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/jsx/util.ts
Due: discord-bot

style: change `Header` import
  apps/discord-bot/src/components/Header/Header.tsx
Due: discord-bot

perf(box): improve perf of box
  packages/rendering/src/components/Box.ts
Due: none

feat(assets): make public assets a submodule
  .gitmodules
  packages/assets/src/index.ts
Due: none

feat(assets): make public assets a submodule (#179)
  .gitmodules
  packages/assets/src/index.ts
Due: none

docs: update readme to reflect changes to public assets
  README.md
Due: none

docs: update readme to reflect changes to public assets (#180)
  README.md
Due: none

feat(leaderboards): add ASC sorting for leaderboards && points for megawall kits
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: api, schemas

feat(leaderboards): add ASC sort for lb & points for MW kits (#181)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: api, schemas

feat(rendering): add functionality to `Background` component
  .yarn/releases/yarn-3.2.1.cjs
  README.md
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Background.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/src/components/Image.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  yarn.lock
Due: api, discord-bot, schemas

feat(assets): add background randomization and gradient to boxes
  packages/assets/src/index.ts
  packages/rendering/src/components/Box.ts
Due: none

feat(rendering): add functionality to `Background` component (#182)
  .yarn/releases/yarn-3.2.1.cjs
  README.md
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Background.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/components/Image.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  yarn.lock
Due: api, discord-bot, schemas

feat: add cooldowns
  apps/discord-bot/src/command.listener.ts
  locales/en-US/discord-bot/default.json
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/messages/error.message.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

feat(components): add `Footer` component to profiles
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/verify-server/src/index.ts
  packages/assets/src/index.ts
  packages/rendering/src/components/Image.ts
  packages/rendering/src/font/tokens.ts
Due: discord-bot

feat(components): add `Footer` component to profiles (#186)
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/verify-server/src/index.ts
  packages/assets/src/index.ts
  packages/rendering/src/components/Image.ts
  packages/rendering/src/font/tokens.ts
Due: discord-bot

feat(footer): add a special premium footer
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/verify-server/src/index.ts
  packages/assets/src/index.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

feat(cooldowns): add bypass for core statsify members
  .env.schema
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/module.d.ts
Due: discord-bot

feat: add cooldowns (#185)
  .env.schema
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/module.d.ts
  locales/en-US/discord-bot/default.json
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/messages/error.message.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

feat(profiles): add support for badges within the images
  apps/discord-bot/.swcrc
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  apps/discord-bot/tsconfig.json
  packages/rendering/.swcrc
  packages/rendering/src/jsx/create-element.ts
  packages/schemas/src/user/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

feat(profiles): add badges (#187)
  apps/discord-bot/.swcrc
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/profiles/base.profile.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  apps/discord-bot/tsconfig.json
  apps/verify-server/src/index.ts
  packages/assets/src/index.ts
  packages/rendering/.swcrc
  packages/rendering/src/jsx/create-element.ts
  packages/schemas/src/user/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

feat(pagination): add labeled pagination along with format for hypixel commands
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/language.command.ts
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/index.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: discord-bot, schemas

feat(pagination): add labeled pagination (#188)
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/language.command.ts
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/index.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Due: discord-bot, schemas

feat(verification): add verify and unverify as commands
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/tsconfig.json
  apps/scripts/package.json
  apps/site/package.json
  locales/en-US/discord-bot/default.json
  package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/messages/error.message.ts
  packages/discord/src/messages/index.ts
  packages/schemas/package.json
  packages/schemas/src/metadata/deserialize.ts
  yarn.lock
Due: api, discord-bot, schemas

feat(verification): add verify and unverify as commands (#189)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/tsconfig.json
  apps/scripts/package.json
  apps/site/package.json
  locales/en-US/discord-bot/default.json
  package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/messages/error.message.ts
  packages/discord/src/messages/index.ts
  packages/schemas/package.json
  packages/schemas/src/metadata/deserialize.ts
  yarn.lock
Due: api, discord-bot, schemas

fix(verification): make it so the verification code has to be within a certain range
  apps/discord-bot/src/commands/verify.command.ts
Due: discord-bot

fix(verification): verification code is a range (#190)
  apps/discord-bot/src/commands/verify.command.ts
Due: discord-bot

feat(bedwars): add winstreak to sidebar stats
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(discord-bot): add rank emojis and localization to Api Service
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

Update bedwars.profile.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
Due: discord-bot

feat(pagination): add scrolling pagination for commands like friends or recent games
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/messages/components/action-row.builder.ts
Due: discord-bot

feat(bedwars): add winstreak to sidebar stats (#191)
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(discord-bot): add rank emojis & localization to api service (#192)
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

feat(pagination): add scrolling pagination for commands like friends or recent games (#193)
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/messages/components/action-row.builder.ts
Due: discord-bot

feat(discord-bot): command and argument localization
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.-loader.service.ts
  apps/discord-bot/src/services/i18n-loader.service.ts
  apps/discord-bot/src/services/index.ts
  locales/en-US/discord-bot/default.json
  locales/fr/discord-bot/default.json
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/messages/localize.ts
  packages/discord/tests/command.builder.spec.ts
Due: discord-bot
