Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore: update turborepo and typescript + remove commitlint
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/tsconfig.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: api, discord-bot

chore: update napi-rs/cli and @types/node and unplugin
  apps/site/package.json
  package.json
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: none

chore: add knip dead-code analysis setup
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): remove unused devDependencies
  apps/api/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  package.json
  packages/discord/package.json
  pnpm-lock.yaml
Due: api

chore(deps): remove unused runtime dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  pnpm-lock.yaml
Due: api, discord-bot, schemas

chore(deps): fix unlisted deps in apps/scripts and silence knip noise
  apps/scripts/package.json
  knip.json
  packages/rendering/src/jsx-runtime/index.ts
  pnpm-lock.yaml
Due: none

feat(api): add GET /player/stale route for worker sweeper
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-stale.dto.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
Due: api

chore(sweeper): remove hypixel sweeper script and config
  apps/scripts/package.json
  apps/scripts/src/hypixel-sweeper.js
  config.schema.js
  packages/util/src/config.ts
  pm2.config.cjs
Due: util

fix(player): update stale player retrieval query
  apps/api/src/player/player.service.ts
Due: api

feat(auth): implement rate limit exception handling
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.service.ts
Due: api

feat(quests): enhance quest progress tracking and metadata
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/scripts/src/regen-quest-targets.js
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/quests/modes/pit.ts
  packages/schemas/src/player/gamemodes/quests/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: discord-bot, schemas

build: switch type checking from tsc to tsgo
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
Due: api, discord-bot, logger, math, schemas, util

fix(compare): round delta values for accurate comparisons
  apps/discord-bot/src/commands/compare/compare.profile.tsx
Due: discord-bot

ci: use --affected instead of --filter=...[origin/main]
  .github/workflows/ci.yml
  .gitignore
Due: none

chore: add all oxlint rules
  .oxlintrc.jsonc
  apps/discord-bot/src/index.ts
  apps/verify-server/src/generate-code.ts
  package.json
  packages/api-client/src/api.service.ts
  packages/assets/src/index.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/event/event.loader.ts
  packages/discord/src/messages/components/parse-emoji.ts
  packages/discord/src/messages/embed.ts
  packages/discord/src/services/api.service.ts
  packages/discord/src/services/i18n-loader.service.ts
  packages/discord/src/services/member.service.ts
  packages/discord/src/services/paginate.service.ts
  packages/discord/src/util/error.message.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/logger/src/index.ts
  packages/math/src/index.ts
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/guild/util.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/woolgames/sheepwars.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/util/parse-fields.ts
  packages/util/src/config.ts
  packages/util/src/flatten.ts
  packages/util/src/unflatten.ts
  packages/util/src/util.ts
  turbo.json
Due: discord-bot, logger, math, schemas, util

chore: lint api
  apps/api/eslint.config.js
  apps/api/package.json
  apps/api/src/auth/auth.guard.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/user/user.service.ts
Due: api

chore: lint scripts
  apps/scripts/eslint.config.js
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  apps/scripts/src/purge.js
  apps/scripts/src/rank-emojis.js
  apps/scripts/src/timestamp.js
  apps/scripts/src/validate-commands.js
Due: none

chore: lint site
  apps/site/app/(home)/session-animation.tsx
  apps/site/app/api/skin/head/route.ts
  apps/site/app/api/skin/render/route.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  apps/site/app/players/search.tsx
  apps/site/components/ui/background.tsx
  apps/site/components/ui/carousel.tsx
  apps/site/components/ui/command.tsx
  apps/site/components/ui/minecraft-text.tsx
  apps/site/eslint.config.mjs
  apps/site/package.json
Due: none

chore: lint support-bot and site
  .oxlintrc.jsonc
  apps/api/tsconfig.json
  apps/discord-bot/tsconfig.json
  apps/scripts/tsconfig.json
  apps/site/.oxlintrc.jsonc
  apps/site/app/players/[slug]/context.tsx
  apps/site/components/ui/box.tsx
  apps/site/components/ui/carousel.tsx
  apps/site/components/ui/tabs.tsx
  apps/support-bot/eslint.config.js
  apps/support-bot/package.json
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/index.ts
  apps/support-bot/src/services/mongo-loader.service.ts
  apps/support-bot/src/services/ticket.service.ts
  apps/support-bot/tsconfig.json
  apps/verify-server/tsconfig.json
  packages/api-client/tsconfig.json
  packages/assets/tsconfig.json
  packages/discord/tsconfig.json
  packages/logger/tsconfig.json
  packages/math/tsconfig.json
  packages/rendering/tsconfig.json
  packages/schemas/tsconfig.json
  packages/util/tsconfig.json
  turbo.json
Due: api, discord-bot, logger, math, schemas, util

chore: lint rendering package
  apps/discord-bot/tsconfig.json
  packages/rendering/eslint.config.js
  packages/rendering/package.json
  packages/rendering/src/colors/index.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/hooks/useGradient.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx-runtime/convert.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/render.ts
Due: discord-bot

chore: lint discord-bot
  apps/discord-bot/eslint.config.js
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
  apps/discord-bot/src/commands/guild/guild-list.profile.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/server/server.profile.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/List.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/tsconfig.json
Due: discord-bot

fix: types
  .github/workflows/ci.yml
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/events/events.command.tsx
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/commands/commands.command.ts
  apps/support-bot/src/events/guild-member-add.event.tsx
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/services/member.service.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/util/src/config.ts
  packages/util/src/util.ts
Due: discord-bot, schemas, util

chore: remove eslint dependencies and update ci workflow
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  apps/site/package.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

chore: update node version in ci
  .github/workflows/ci.yml
Due: none

chore: add lint ci script
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/package.json
  packages/util/package.json
  turbo.json
Due: api, discord-bot, logger, math, schemas, util

chore: use lint ci script in ci
  .github/workflows/ci.yml
Due: none

chore: rename test:types to typecheck
  .github/workflows/ci.yml
  .vscode/tasks.json
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  turbo.json
Due: api, discord-bot, logger, math, schemas, util

chore: use typescript native preview
  apps/api/package.json
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

chore: update to vitest v4
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

chore: update swc version
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Due: api, discord-bot, logger, math, schemas, util

chore: update lockfile
  apps/scripts/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update tailwind
  apps/api/package.json
  apps/site/package.json
  pnpm-lock.yaml
Due: api

chore: add compose.dev.yml
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  apps/api/src/guild/guild.service.ts
  apps/site/hooks/use-measure.tsx
  compose.dev.yml
  config.schema.js
  packages/rendering/src/index.ts
  packages/util/src/types.ts
Due: api, util

chore: only test affected packages in ci
  .github/workflows/ci.yml
Due: none

chore: remove affected from test script
  .github/workflows/ci.yml
Due: none

chore: add check if rank exists for formatting display names
  packages/schemas/src/player/util.ts
Due: schemas

chore: remove commented site rules
  apps/site/.oxlintrc.jsonc
Due: none

chore: format tsconfigs
  packages/util/tsconfig.json
Due: util
