Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix: spelling of `apiService`
  apps/discord-bot/src/commands/friends/mutuals.command.tsx
Due: discord-bot

fix: spelling of apiService v2
  apps/discord-bot/src/commands/friends/friends.command.tsx
Due: discord-bot

feat(commands): add friends & mutual friends, also update parkour (#244)
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/friends/friends.command.tsx
  apps/discord-bot/src/commands/friends/friends.profile.tsx
  apps/discord-bot/src/commands/friends/mutuals.command.tsx
  apps/discord-bot/src/commands/friends/mutuals.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/exceptions/friends.404.ts
  packages/api-client/src/exceptions/index.ts
  packages/discord/src/arguments/player.argument.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/friends/index.ts
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/util/src/index.ts
Due: api, discord-bot, schemas, util

feat(commands): add reset command
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/test.command.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/rendering/src/font/font-renderer.ts
Due: api, discord-bot

feat(commands): add reset command (#245)
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/test.command.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/rendering/src/font/font-renderer.ts
Due: api, discord-bot

feat(commands): add gtb helper command
  apps/discord-bot/src/commands/gtbhelper/find-solutions.ts
  apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
  apps/discord-bot/src/commands/gtbhelper/gtbhelper.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/words.json
  locales/en-US/discord-bot/default.json
  packages/discord/package.json
  packages/discord/src/arguments/index.ts
  yarn.lock
Due: discord-bot

Update apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
  apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
Due: discord-bot

feat(commands): add gtb helper command (#248)
  apps/discord-bot/src/commands/gtbhelper/find-solutions.ts
  apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
  apps/discord-bot/src/commands/gtbhelper/gtbhelper.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/words.json
  locales/en-US/discord-bot/default.json
  packages/discord/package.json
  packages/discord/src/arguments/index.ts
  yarn.lock
Due: discord-bot

feat(commands): add /socials to view a player's socials
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
Due: discord-bot

feat(commands): add /socials to view a player's socials (#249)
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
Due: discord-bot

fix(server): fix issue with server motds
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
Due: discord-bot

fix(server): fix issue with server motds (#250)
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
Due: discord-bot

feat(sentry): add sentry to api, discord-bot and verify-server
  .env.schema
  apps/api/package.json
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/hooks/loadImage.ts
  packages/rendering/src/jsx/render.ts
  packages/schemas/src/user/index.ts
  packages/util/src/env.ts
  yarn.lock
Due: api, discord-bot, logger, schemas, util

fix(verify-server): remove 1.18 version requirement
  apps/verify-server/src/index.ts
Due: none

feat(sentry): add sentry to api, discord-bot and verify-server (#251)
  .env.schema
  apps/api/package.json
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/hooks/loadImage.ts
  packages/rendering/src/jsx/render.ts
  packages/schemas/src/user/index.ts
  packages/util/src/env.ts
  yarn.lock
Due: api, discord-bot, logger, schemas, util

Delete commands.json
  apps/support-bot/commands.json
Due: none

feat(support-bot): add force unverify and verify, user, and deleteplayer commands
  .gitignore
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/player/player.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/package.json
  apps/support-bot/src/commands/delete-player.command.ts
  apps/support-bot/src/commands/force-verify.command.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/lib/command.listener.ts
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/assets/src/index.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/arguments/user.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/util/error.message.ts
  packages/schemas/src/user/index.ts
  yarn.lock
Due: api, discord-bot, schemas

feat(support-bot): add tickets
  .env.schema
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/support-bot/package.json
  apps/support-bot/src/commands/close.command.ts
  apps/support-bot/src/commands/ticket-menu.command.ts
  apps/support-bot/src/index.ts
  apps/support-bot/src/lib/command.listener.ts
  apps/support-bot/src/services/index.ts
  apps/support-bot/src/services/mongo-loader.service.ts
  apps/support-bot/src/services/ticket.service.ts
  locales/en-US/default.json
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/base.message.ts
  packages/discord/src/services/channel.service.ts
  packages/discord/src/services/message.service.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/ticket/index.ts
  packages/util/src/env.ts
  yarn.lock
Due: discord-bot, schemas, util

feat(config): rework config system
  .gitignore
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/services/api.service.ts
  apps/verify-server/src/index.ts
  config.schema.js
  packages/util/src/env.ts
Due: api, discord-bot, util

chore(package): remove unused dotenv
  .env.schema
  packages/util/package.json
  yarn.lock
Due: util

fix(env): remove unused environment interface
  packages/util/src/env.ts
Due: util

fix(env): json config location
  packages/util/src/env.ts
Due: util

feat(support-bot): add the ability to create tags
  apps/discord-bot/src/index.ts
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/index.ts
  apps/support-bot/src/lib/command.listener.ts
  apps/support-bot/src/services/index.ts
  apps/support-bot/src/services/mongo-loader.service.ts
  apps/support-bot/src/services/tag.service.ts
  packages/discord/src/command/command.poster.ts
  packages/schemas/src/index.ts
  packages/schemas/src/tags/index.ts
Due: discord-bot, schemas

feat(support-bot): add delete and remove tags
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/services/tag.service.ts
  locales/en-US/default.json
Due: none

feat(support-bot): add events and make tickets auto close when a member leaves
  apps/support-bot/src/commands/close.command.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/index.ts
  apps/support-bot/src/services/ticket.service.ts
  packages/discord/src/event/abstract-event.listener.ts
  packages/discord/src/event/event.loader.ts
  packages/discord/src/event/index.ts
  packages/discord/src/index.ts
Due: none

chore: resolve requested changes
  .gitignore
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/services/api.service.ts
  apps/verify-server/src/index.ts
  config.schema.js
  packages/util/src/config.ts
  packages/util/src/index.ts
Due: api, discord-bot, util

feat(config): add a typescript interface for config
  apps/api/jest.config.js
  apps/api/src/hypixel/hypixel.module.ts
  apps/verify-server/src/index.ts
  config.schema.js
  packages/schemas/package.json
  packages/util/src/config.ts
  packages/util/src/flat/flatten.ts
  yarn.lock
Due: api, schemas, util

feat(config): rework config system (#254)
  .env.schema
  .gitignore
  apps/api/jest.config.js
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/services/api.service.ts
  apps/verify-server/src/index.ts
  config.schema.js
  packages/schemas/package.json
  packages/util/package.json
  packages/util/src/config.ts
  packages/util/src/env.ts
  packages/util/src/flat/flatten.ts
  packages/util/src/index.ts
  yarn.lock
Due: api, discord-bot, schemas, util

fix: update config schema
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  config.schema.js
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
Due: api, discord-bot, logger, math, schemas, util

feat(support-bot): worlds most basic welcome messages
  apps/support-bot/src/events/guild-member-add.event.ts
  config.schema.js
  packages/util/src/config.ts
Due: util

feat(support-bot): made it so when you verify you get the member role
  apps/discord-bot/src/commands/verify.command.ts
  apps/support-bot/src/events/guild-member-add.event.ts
  config.schema.js
  packages/discord/src/services/index.ts
  packages/discord/src/services/role.service.ts
  packages/util/src/config.ts
Due: discord-bot, util

feat(support-bot): start auto handling premium based off of roles
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/index.ts
  apps/support-bot/src/services/mongo-loader.service.ts
  apps/support-bot/src/services/user.service.ts
  config.schema.js
  packages/schemas/src/user/index.ts
  packages/util/src/config.ts
Due: schemas, util

feat(support-bot): make it so you lose premium role when you stop boosting
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
  packages/assets/src/index.ts
  packages/discord/src/services/role.service.ts
Due: none

feat(api): switch from `@nestjs/schedule` to `toad-scheduler`
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  yarn.lock
Due: api

feat(support-bot): add hypixel api status
  apps/discord-bot/package.json
  apps/support-bot/package.json
  apps/support-bot/src/index.ts
  apps/support-bot/src/services/hypixel-status.service.ts
  apps/support-bot/src/services/index.ts
  config.schema.js
  packages/discord/package.json
  packages/discord/src/services/channel.service.ts
  packages/discord/src/services/message.service.ts
  packages/util/src/config.ts
  yarn.lock
Due: discord-bot, util

feat(support-bot): add member nicknaming
  apps/support-bot/src/events/guild-member-add.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/events/message-create.event.ts
  packages/discord/src/services/index.ts
  packages/discord/src/services/member.service.ts
Due: none

fix(support-bot): nickname updating
  apps/support-bot/package.json
  apps/support-bot/src/events/message-create.event.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/services/member.service.ts
  yarn.lock
Due: none

feat(support-bot): add premium menu command
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/site/package.json
  apps/support-bot/package.json
  apps/support-bot/src/commands/force-unverify.command.ts
  apps/support-bot/src/commands/force-verify.command.ts
  apps/support-bot/src/commands/premium-menu.command.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/verify-server/package.json
  config.schema.js
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  packages/util/src/config.ts
  yarn.lock
Due: api, discord-bot, logger, math, schemas, util
