Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(lint): enable stricter no unused variable rules
  .oxlintrc.jsonc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  packages/util/src/config.ts
Due: api, discord-bot, util

chore: update ci
  .github/workflows/ci.yml
Due: none

chore: remove explicit cache dir for turborepo in package json
  package.json
Due: none

chore(lint): enable stricter no unused variable rules (#873)
  .github/workflows/ci.yml
  .oxlintrc.jsonc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  package.json
  packages/util/src/config.ts
Due: api, discord-bot, util

fix: use file urls for dynamic imports
  packages/discord/src/command/command.loader.ts
  packages/discord/src/event/event.loader.ts
  packages/util/src/config.ts
Due: util

chore: update ci tests
  .github/workflows/ci.yml
Due: none

fix: use file urls for dynamic imports (#874)
  .github/workflows/ci.yml
  packages/discord/src/command/command.loader.ts
  packages/discord/src/event/event.loader.ts
  packages/util/src/config.ts
Due: util

chore: let all dependencies be updatable
  renovate.json
Due: none

chore: add .DS_Store to gitignore
  .gitignore
Due: none

chore: ci run build on all packages
  .github/workflows/ci.yml
Due: none

chore: add .DS_Store to .gitignore (#833)
  .github/workflows/ci.yml
  .gitignore
Due: none

fix: add spacing between fields
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

feat(rankings): enhance leaderboard scoring and sorting
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/lib/format-position.ts
  packages/api-client/src/responses/post.rankings.response.ts
  packages/skin-renderer/index.cjs
Due: api, discord-bot

Revert "feat(rankings): enhance leaderboard scoring and sorting"
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/lib/format-position.ts
  packages/api-client/src/responses/post.rankings.response.ts
  packages/skin-renderer/index.cjs
Due: api, discord-bot

feat(leaderboards): add verified status to leaderboard items
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.module.ts
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  packages/api-client/src/responses/post.leaderboard.response.ts
Due: api, discord-bot

feat(rankings): implement interactive ranking options
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
Due: discord-bot

chore: rebase
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

fix: remove useless import
  apps/discord-bot/src/commands/duels/duels.command.tsx
Due: discord-bot

fix(copsandcrims): correct shots per kill translation key
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

feat(copsandcrims): add shots fired stats (#521)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

fix(copsandcrims): enable shots fired field for leaderboard
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: schemas

chore: update
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

feat(copsandcrims): add shots fired stats (#829)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

refactor(discord-bot): load duels command mode icons once (#847)
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

feat: add bedwars dreamfest levelling and challenges
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/deprecated/bedwars-challenges.command.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

fix: exclude bedwars challenges from session command
  apps/discord-bot/src/commands/historical/session.command.tsx
Due: discord-bot

feat: add bedwars dreamfest levelling and challenges (#887)
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/deprecated/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

fix(rendering): ignore unsupported font glyphs
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/font-renderer.spec.ts
Due: none

fix(rendering): handle zero scaled dimensions in glyphs
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/font-renderer.spec.ts
  packages/rendering/vitest.config.ts
Due: none

chore: rebase
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/font-renderer.spec.ts
Due: none

fix: remove scale property from map
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/tests/font-renderer.spec.ts
  packages/rendering/vitest.config.ts
Due: none

fix: remove unecessary checks
  packages/rendering/src/font/font-renderer.ts
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
