Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update crowdin translation (#594)
  locales/ko/default.json
Due: none

Small update README.md
  README.md
Due: none

Small update ping.command.ts
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

Update README.md
  README.md
Due: none

chore(docs): update README.md with Hypixel and Discord changes (#595)
  README.md
Due: none

feat(events): add christmas 2023
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(events): add christmas 2023 (#598)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat: add slumber stats
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

feat(christmas): add christmas theme
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: discord-bot

update lock file
  pnpm-lock.yaml
Due: none

add stats to sidebar
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/slumber.ts
  packages/skin-renderer/index.cjs
Due: discord-bot, schemas

feat(christmas): add christmas theme (#599)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: discord-bot

feat(bedwars): add wallet sizes and rename slumber stuff
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/slumber.ts
Due: discord-bot, schemas

feat(bedwars): add new slumber stats from 1.9 update (#600)
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/slumber.ts
Due: discord-bot, schemas

chore(actions): update PR labeler config
  .github/pr_labeler.yml
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
