Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix(server-mappings): revert server-mappings commit
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

fix(server-mappings): revert server-mappings commit (#480)
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

fix(historical-lbs): fix the premium condition check to exclude irons
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

feat(sessions): add ability to get session stats
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/models/index.ts
  apps/api/src/historical/models/session.model.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/types/historical-types.ts
Due: api, discord-bot

fix: properly check permissions
  apps/discord-bot/src/commands/reset.command.ts
Due: discord-bot

chore(sesssions): refine code and show headers
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/scripts/package.json
  apps/scripts/src/delete-sessions.js
  locales/en-US/default.json
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

fix(pit): correctly check pres xp reqs
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

feat(pit): support for max level
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

fix(pit): correctly check pres xp reqs (#482)
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

fix(pit): added correct level display
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

make irons be able to use historical leaderboards
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

aa
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

fix(historical-lbs): fix the premium condition (#481)
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Due: discord-bot

add link command
  apps/discord-bot/src/commands/info/links.command.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  locales/en-US/default.json
Due: discord-bot

fix(sessions): lock off creating sessions to account owners
  apps/discord-bot/src/commands/historical/historical.base.tsx
  locales/en-US/default.json
Due: discord-bot

fix(sessions): proper validation of owners
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/services/api.service.ts
Due: api, discord-bot

fix(sessions): intergrate new data format to quests
  apps/discord-bot/src/commands/quests/quests.profile.tsx
Due: discord-bot

feat: remove winter theme
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/schemas/src/color.ts
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

fix default color
  packages/rendering/src/components/Box.ts
Due: none

feat(sessions): add ability to get session stats (#484)
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/models/index.ts
  apps/api/src/historical/models/session.model.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/scripts/package.json
  apps/scripts/src/delete-sessions.js
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/types/historical-types.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

feat: remove winter theme (#492)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
  packages/schemas/src/color.ts
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

fix(pit): added correct level display (#483)
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

Update Crowdin configuration file
  crowdin.yml
Due: none

chore(i18n): update translations for `%language%`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none
