Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(deps): update actions/setup-node digest to eeb10cf
  .github/workflows/ci.yml
Due: none

feat(schemas): add formatters and remove useless leaderboards
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/services/paginate.service.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/ratios.ts
Due: api, discord-bot, schemas

fix(available): resolve requested changes
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/services/mojang-api.service.ts
Due: discord-bot

feat(leaderboards): add the ability to hide the main lb stat and added more percise time formatting
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/field/index.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
Due: api, schemas, util

fix(schemas): add a - to arcade's field name
  packages/schemas/src/player/stats.ts
Due: schemas

feat(leaderboards): add formatted game names
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/game.ts
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/stats.ts
Due: discord-bot, schemas

feat(discord-bot): add actual argument handling for badge command modes
  apps/discord-bot/src/commands/badge.command.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, logger, schemas

fix(discord-bot): fix issues that came along with merge, change playerleaderboard to leaderboard
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  packages/discord/src/command/command.context.ts
Due: discord-bot

feat(discord-bot, api-client): use lang for emojis, create actual responses for badge command
  apps/discord-bot/emojis.json
  apps/discord-bot/src/commands/badge.command.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/api-client/src/api.service.ts
  packages/assets/src/index.ts
Due: discord-bot

fix(discord-bot): actual emojis, require icon file
  apps/discord-bot/src/arguments/file.argument.ts
  apps/discord-bot/src/commands/badge.command.tsx
  locales/en-US/discord-bot/emojis.json
Due: discord-bot

feat(minecraft-commands): add verification support
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  locales/en-US/discord-bot/default.json
  packages/util/src/minecraft-colors.ts
Due: discord-bot, util

feat(commands): add server command
  .gitignore
  .gitmodules
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/components/ProgressBar.tsx
  apps/discord-bot/src/components/index.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(font): add strikethrough and underline support
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/server.argument.ts
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  locales/en-US/discord-bot/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: discord-bot, schemas

feat(commands): add cape command
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

fix(server-mappings): add function to get mappings instead of using import
  apps/discord-bot/src/arguments/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  packages/assets/src/index.ts
Due: discord-bot

feat(badges): add the ability to reset a user badge
  .env.schema
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/badge.command.tsx
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/command.context.ts
Due: api, discord-bot

feat(user tiers): add different tiers for users instead of just premium
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.command.tsx
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/module.d.ts
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/schemas/src/user/index.ts
  yarn.lock
Due: api, discord-bot, schemas

chore(env): remove core ids from env and bump assets submodule
  .env.schema
Due: none

fix(colors): move emojis to lang files
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  locales/en-US/discord-bot/emojis.json
Due: discord-bot

feat(commands): add minecraft commands (#212)
  .gitignore
  .gitmodules
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/server.argument.ts
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/colors.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/components/ProgressBar.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/assets/src/index.ts
  packages/rendering/src/colors/index.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/util/src/minecraft-colors.ts
Due: discord-bot, schemas, util

feat(commands): add info commands
  apps/discord-bot/src/commands/info/help.command.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/commands/info/links.command.ts
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(commands): add info commands (#218)
  apps/discord-bot/src/commands/info/help.command.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/commands/info/links.command.ts
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

fix(guild): rework guild searching to use a `guildId` field on the player (#219)
  apps/api/src/dtos/friend.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/commands/general/general.command.tsx
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.achievements.response.ts
  packages/api-client/src/responses/get.friends.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/achievements/game.ts
  packages/schemas/src/achievements/iachievement.ts
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/achievements/one-time-achievement.ts
  packages/schemas/src/achievements/tiered-achievement.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/friends/index.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

fix(guild): rework guild searching to use a guildId field on the player
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/guild.service.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/index.ts
Due: api, schemas

feat(friends): switch to sk1er friends
  apps/api/src/dtos/friend.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/commands/general/general.command.tsx
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.friends.response.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/friends/index.ts
Due: api, discord-bot, schemas

feat(player): only get cached data from mongo
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/player.mock.ts
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.achievements.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/achievements/game.ts
  packages/schemas/src/achievements/iachievement.ts
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/achievements/one-time-achievement.ts
  packages/schemas/src/achievements/tiered-achievement.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
Due: api, discord-bot, schemas

feat(commands): add basic guild profile
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/commands/arcade/tables/overall-arcade.table.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/rendering/src/components/Image.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/util/src/index.ts
Due: api, discord-bot, schemas, util

feat(leaderboards): add a redis limiting script and a limit option to `@Field` decorator
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  locales/en-US/discord-bot/default.json
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/tests/metadata.spec.ts
Due: schemas

feat(leaderboards): add a redis limiting script (#221)
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  locales/en-US/discord-bot/default.json
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/tests/metadata.spec.ts
Due: schemas

fix(ranked skywars): fix ranked skywars by removing it (#222)
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/exceptions/ranked-skywars.404.ts
  packages/api-client/src/responses/get.rankedskywars.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/rankedskywars/index.ts
Due: api, discord-bot, schemas

feat(guild): add guild gexp page
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/components/Multiline.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/scripts/src/limit-redis.js
  locales/en-US/discord-bot/default.json
  packages/discord/src/command/command.loader.ts
  packages/discord/src/messages/localize.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/util.ts
Due: discord-bot, schemas

fix(rankedskywars): fix rankedskywars by removing it
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/exceptions/ranked-skywars.404.ts
  packages/api-client/src/responses/get.rankedskywars.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/rankedskywars/index.ts
Due: api, discord-bot, schemas

fix(schemas): add prefixName to status
  packages/schemas/src/status/index.ts
Due: schemas

feat(utils): add accuracy field to time formatter
  packages/util/src/index.ts
Due: util

feat(api): check player actions when getting status
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
Due: api

fix(api-client): update client with new api changes
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
