Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix(rendering): ignore unsupported font glyphs (#837)
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/vitest.config.ts
Due: none

fix(skywars): add missing prestige schemes
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

fix(skywars): update prestige schemes for consistency
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(copsandcrims): add shots fired stats (#829)
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: discord-bot, schemas

refactor(discord-bot): load duels command mode icons once (#847)
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

chore: remove .turbo folder
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/560fb9e86b65f150-meta.json
  '.turbo'/560fb9e86b65f150.tar.zst
  '.turbo'/5de5b3be5565a1d4-meta.json
  '.turbo'/5de5b3be5565a1d4.tar.zst
  '.turbo'/6df68d36259bce9e-meta.json
  '.turbo'/6df68d36259bce9e.tar.zst
  '.turbo'/6e55f2172ff48f6f-meta.json
  '.turbo'/6e55f2172ff48f6f.tar.zst
  '.turbo'/87c54e168150e584-meta.json
  '.turbo'/87c54e168150e584.tar.zst
  '.turbo'/8ec1ba9b0fa0ad92-meta.json
  '.turbo'/8ec1ba9b0fa0ad92.tar.zst
  '.turbo'/928fdb17552f72c8-meta.json
  '.turbo'/928fdb17552f72c8.tar.zst
  '.turbo'/bf4fc849fd54c438-meta.json
  '.turbo'/bf4fc849fd54c438.tar.zst
  '.turbo'/c1c2543d8c410791-meta.json
  '.turbo'/c1c2543d8c410791.tar.zst
  '.turbo'/c57e3a1fe2240051-meta.json
  '.turbo'/c57e3a1fe2240051.tar.zst
  '.turbo'/dda3b3af35eb510f-meta.json
  '.turbo'/dda3b3af35eb510f.tar.zst
  '.turbo'/eb9eb96f6e1ed9be-meta.json
  '.turbo'/eb9eb96f6e1ed9be.tar.zst
  .gitignore
Due: none

chore(lint): enable stricter no unused variable rules (#873)
  .github/workflows/ci.yml
  .oxlintrc.jsonc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/site/app/players/[slug]/general/bingo/bingo.tsx
  package.json
  packages/util/src/config.ts
Due: api, discord-bot, util

fix: use file urls for dynamic imports (#874)
  .github/workflows/ci.yml
  packages/discord/src/command/command.loader.ts
  packages/discord/src/event/event.loader.ts
  packages/util/src/config.ts
Due: util

chore: add .DS_Store to .gitignore (#833)
  .github/workflows/ci.yml
  .gitignore
Due: none

fix(skywars): add missing prestige schemes (#840)
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat: add bedwars dreamfest levelling and challenges (#887)
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/deprecated/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: discord-bot, schemas

Fixed wrong rotation
  apps/site/components/ui/carousel.tsx
Due: none

chore: update lock file
  apps/verify-server/package.json
  pnpm-lock.yaml
Due: none

fix(verify-server): reject unsupported protocol logins
  apps/verify-server/src/index.ts
Due: none

chore(verify-server): log client disconnect state
  apps/verify-server/src/index.ts
Due: none

fix(verify-server): disconnect after player join
  apps/verify-server/src/index.ts
Due: none

fix(verify-server): format unsupported version disconnect
  apps/verify-server/src/index.ts
Due: none

fix(verify-server): load protocol metadata with require
  apps/verify-server/src/index.ts
Due: none

style(fishing): adjust table formatting and layout
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
Due: discord-bot

feat(fishing): add fishing game mode and related features
  apps/discord-bot/src/commands/fishing/fishing.command.tsx
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/game/constants.ts
  packages/schemas/src/player/gamemodes/general/fishing.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/stats.ts
  pnpm-lock.yaml
Due: discord-bot, schemas

fix(discord-bot): use statsify skin API for minecraft head URLs
  apps/discord-bot/src/lib/minecraft-head.ts
Due: discord-bot

Delete docs directory
  docs/rendering-components-prd.md
Due: none

Add target calculation commands
  apps/discord-bot/src/commands/target/target.command.ts
  locales/en-US/default.json
Due: discord-bot

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix(discord): import event handlers from correct file path
  packages/discord/src/event/event.loader.ts
Due: none

fix(discord): import event handlers from correct file path (#888)
  packages/discord/src/event/event.loader.ts
Due: none

chore: pin minecraft-protocol to 1.61.0
  apps/verify-server/package.json
Due: none

chore(deploy): install node modules with frozen lockfile
  .github/workflows/deploy.yml
Due: none

feat(fishing): enhance seasonal fishing data handling
  apps/discord-bot/src/commands/fishing/fishing.command.tsx
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: discord-bot, schemas

refactor(fishing): simplify field options for leaderboard - removed redundant collectionFieldOptions - updated @Field decorators to directly set leaderboard options
  packages/schemas/src/player/gamemodes/general/fishing.ts
  packages/skin-renderer/index.cjs
Due: schemas

refactor(fishing): Cleanup code, and optimize mongo storage
  apps/discord-bot/src/commands/fishing/fishing.command.tsx
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  packages/schemas/src/player/gamemodes/general/fishing.ts
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
Due: discord-bot, schemas

refactor(fishing): simplify environment stats calculations
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: discord-bot, schemas

refactor(fishing): simplify seasonal event handling
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: discord-bot, schemas

refactor(fishing): remove export from interface declarations
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: schemas

refactor(fishing): remove unused settings parameter in Fishing constructor
  packages/schemas/src/player/gamemodes/general/fishing.ts
  packages/schemas/src/player/gamemodes/general/index.ts
Due: schemas

refactor(fishing): make properties optional in Fishing classes
  apps/discord-bot/src/commands/fishing/fishing.profile.tsx
  packages/schemas/src/player/gamemodes/general/fishing.ts
Due: discord-bot, schemas

Fix(bedwars): currentLevel reference in bedwars profile
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
Due: discord-bot
