Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

lint @statsify/rendering
  packages/rendering/eslint.config.js
  packages/rendering/src/colors/index.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/hooks/loadImage.ts
  packages/rendering/src/hooks/useChildren.ts
  packages/rendering/src/hooks/useGradient.ts
  packages/rendering/src/index.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/intrinsics/Text.ts
  packages/rendering/src/jsx-runtime/convert.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/jsx/util.ts
  packages/rendering/tests/index.spec.tsx
  packages/rendering/tsconfig.json
Due: none

lint @statsify/math
  packages/math/eslint.config.js
  packages/math/src/index.ts
Due: math

lint @statsify/logger
  packages/logger/eslint.config.js
  packages/logger/src/index.ts
Due: logger

lint @statsify/discord
  eslint.config.js
  packages/discord/eslint.config.js
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/choice.argument.ts
  packages/discord/src/arguments/file.argument.ts
  packages/discord/src/arguments/guild.argument.ts
  packages/discord/src/arguments/mojang-player.argument.ts
  packages/discord/src/arguments/number.argument.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/arguments/text.argument.ts
  packages/discord/src/arguments/user.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/event/event.loader.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/base.message.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/modal.builder.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/discord/src/messages/embed.ts
  packages/discord/src/messages/localize.ts
  packages/discord/src/services/api.service.ts
  packages/discord/src/services/i18n-loader.service.ts
  packages/discord/src/services/paginate.service.ts
  packages/discord/src/util/error.message.ts
  packages/discord/src/util/parse-discord-error.ts
Due: none

lint @statsify/assets
  packages/assets/eslint.config.js
  packages/assets/src/index.ts
Due: none

lint @statsify/api-client
  packages/api-client/src/api.service.ts
  packages/api-client/src/constants.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/responses/index.ts
  packages/api-client/tsconfig.json
Due: none

update api-client eslint config
  packages/api-client/eslint.config.js
Due: none

lint verify-server
  apps/verify-server/eslint.config.js
  apps/verify-server/src/generate-code.ts
  apps/verify-server/src/index.ts
Due: none

lint support-bot
  apps/support-bot/eslint.config.js
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/ticket.service.ts
  eslint.config.js
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/math/src/index.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/hooks/useGradient.ts
  packages/rendering/src/intrinsics/Box.ts
  packages/rendering/src/jsx-runtime/convert.ts
  packages/rendering/src/jsx-runtime/index.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/util.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/field/index.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/user/index.ts
  packages/util/src/config.ts
  packages/util/src/util.ts
  turbo.json
Due: math, schemas, util

lint api
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.role.ts
  apps/api/src/dtos/session.dto.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/session/session.controller.ts
  apps/api/src/session/session.service.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/user/user.service.ts
  apps/api/tsconfig.json
Due: api

lint scripts
  apps/scripts/eslint.config.js
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  apps/scripts/src/rank-emojis.js
  pnpm-lock.yaml
Due: none

fix api eslint config
  apps/api/eslint.config.js
Due: api

chore(deps): upgrade to skia-canvas 1.0
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

chore(deps): upgrade to skia-canvas 1.0 (#667)
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

Revert "chore(deps): upgrade to skia-canvas 1.0 (#667)"
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

revert: "chore(deps): upgrade to skia-canvas 1.0" (#668)
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/rendering/package.json
  pnpm-lock.yaml
Due: api, discord-bot

feat(duels): add current kit and shots fired to sidebar
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

feat(general): show stats from 'best' game on /general
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  packages/schemas/src/player/gamemodes/vampirez/index.ts
Due: discord-bot, schemas

feat(schemas): add tommy innit custom rank
  packages/schemas/src/player/util.ts
Due: schemas

add rank emoji
  locales/en-US/emojis.json
Due: none

Feat/tommy innit rank (#672)
  locales/en-US/emojis.json
  packages/schemas/src/player/util.ts
Due: schemas

feat(discord-bot): specify verify-server versions
  locales/en-US/default.json
Due: none

feat(schemas): add tommy innit custom rank
  locales/en-US/emojis.json
  packages/schemas/src/player/util.ts
Due: schemas

feat(discord-bot): specify verify-server versions (#673)
  locales/en-US/default.json
Due: none

feat(duels): add current kit and shots fired to sidebar (#669)
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

feat(api): create trpc api
  apps/apiv2/eslint.config.js
  apps/apiv2/package.json
  apps/apiv2/src/db.ts
  apps/apiv2/src/hypixel.ts
  apps/apiv2/src/middleware/logger.ts
  apps/apiv2/src/mod.ts
  apps/apiv2/src/routers/analytics.ts
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/routers/sessions.ts
  apps/apiv2/src/routers/skins.ts
  apps/apiv2/src/routers/users.ts
  apps/apiv2/src/routing.ts
  apps/apiv2/src/trpc.ts
  apps/apiv2/src/validation.ts
  apps/apiv2/tsconfig.json
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/session.ts
  pnpm-lock.yaml
Due: api, schemas

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
