Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

feat(limiting): iNCREASE LEADERBOARD LIMITS (V1)
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/challenges/util.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/tests/metadata.spec.ts
Due: discord-bot, schemas

fix(submodules): update submodules
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
Due: discord-bot

Restore packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: schemas

Restore packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Due: schemas

Update packages/schemas/src/player/gamemodes/challenges/util.ts
  packages/schemas/src/player/gamemodes/challenges/util.ts
Due: schemas

feat(leaderboard limits): increase limit for every stat (#476)
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/challenges/util.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/tests/metadata.spec.ts
Due: discord-bot, schemas

feat(verification): make verification process less confusing
  apps/discord-bot/src/commands/verify.command.ts
  apps/verify-server/tsconfig.eslint.json
Due: discord-bot

fix(leaderboards): fix some broken glbs and q limits and possible redis script error
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: schemas

fix(historical): fix historical redis lb resetting
  apps/api/src/historical/historical.service.ts
Due: api

style(style): give the code a nice clean makeover
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/stats.ts
Due: schemas

fix(leaderboards): guild, parkour, & quests leaderboard metadata (#479)
  apps/api/src/historical/historical.service.ts
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/stats.ts
Due: api, schemas

feat(text): add alignment options to text command (#477)
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  packages/rendering/src/jsx/render.ts
Due: discord-bot

chore(i18n): update crowdin translations (#475)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
