Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

update lockfile
  pnpm-lock.yaml
Due: none

fix appostrophe
  apps/site/app/players/[slug]/general/bingo/page.tsx
Due: none

add themeColor to metadata
  apps/site/app/layout.tsx
Due: none

disable prefetch on socials
  apps/site/components/ui/footer.tsx
Due: none

disable prefetch on priv and tos
  apps/site/components/ui/footer.tsx
Due: none

bbb
  apps/site/app/players/[slug]/general/bingo/page.tsx
  apps/site/app/players/search.tsx
  apps/site/components/ui/footer.tsx
  apps/site/next.config.ts
Due: none

add speed insights
  apps/site/app/layout.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: none

simplify searching
  apps/site/app/players/layout.tsx
  apps/site/app/players/not-found.tsx
  apps/site/app/players/providers.tsx
  apps/site/app/players/search.tsx
  apps/site/next.config.ts
  apps/site/package.json
  pnpm-lock.yaml
Due: none

add dynamic player favicon
  apps/site/app/players/[slug]/general/bingo/page.tsx
Due: none

use prod url
  apps/site/app/layout.tsx
Due: none

fix lint
  apps/site/app/layout.tsx
  apps/site/app/players/[slug]/general/bingo/page.tsx
  apps/site/app/players/layout.tsx
  apps/site/app/players/providers.tsx
  apps/site/app/players/search.tsx
  apps/site/components/ui/footer.tsx
  apps/site/next.config.ts
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

feat(site): add vercel analytics
  apps/site/app/(home)/page.tsx
  apps/site/app/layout.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: none

aa
  apps/site/components/ui/command.tsx
Due: none

feat(site): add vercel analytics (#770)
  apps/site/app/(home)/page.tsx
  apps/site/app/layout.tsx
  apps/site/components/ui/command.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: none

chore: add readme examples
  README.md
  examples/arcade.png
  examples/bedwars-leaderboard.png
  examples/bedwars.png
  examples/blitzsg-leaderboard.png
  examples/buildbattle-leaderboard.png
  examples/duels.png
  examples/guild-member.png
  examples/guild-overall-gexp.png
  examples/guild-overall.png
  examples/guild-top.png
  examples/murdermystery-session.png
  examples/recentgames.png
  examples/skin.png
  examples/skywars.png
  examples/tntgames-session.png
  examples/woolwars-leaderboard.png
Due: none

chore(deps): update dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/index.cjs
  packages/skin-renderer/index.d.ts
  packages/skin-renderer/package.json
  packages/skin-renderer/src/renderer/mod.rs
  packages/skin-renderer/src/skin_loader.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api, discord-bot, logger, schemas

update node
  .nvmrc
  README.md
  apps/scripts/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies (#771)
  .nvmrc
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/index.cjs
  packages/skin-renderer/index.d.ts
  packages/skin-renderer/package.json
  packages/skin-renderer/src/renderer/mod.rs
  packages/skin-renderer/src/skin_loader.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api, discord-bot, logger, schemas

fix(guild): updating player member id
  apps/api/src/guild/guild.service.ts
Due: api

fix(verify-server): update minecraft-protocol
  apps/verify-server/package.json
  pnpm-lock.yaml
Due: none

fix(site): remove unecessary skin image optimization
  apps/site/components/ui/skin.tsx
Due: none

fix(site): remove unnecessary skin image optimization (#774)
  apps/site/components/ui/skin.tsx
Due: none

fix(schemas): store duels best parkour time in ms
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix(schemas): store duels best parkour time in ms (#781)
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix(duels): megawalls duels using wrong stat for deaths
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: schemas

feat(duels): new default scheme and halve title requirements for some games
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/util/src/minecraft-colors.ts
Due: discord-bot, schemas, util

feat(bedwars): add new One Block dreams mode
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: schemas

feat(skywars): add old emblems and update level cap
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

aa
  packages/util/src/minecraft-colors.ts
Due: util

feat(duels): default scheme and halve win requirements for some modes (#784)
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: discord-bot, schemas

add missing ones from page 3
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

feat(skywars): add old emblems and update level cap (#783)
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

add bgs for oneblock
  apps/discord-bot/src/constants.ts
Due: discord-bot

feat(bedwars): add new one block dreams mode (#782)
  apps/discord-bot/src/constants.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
Due: discord-bot, schemas

feat(duels): add new og fade prefix scheme
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: schemas

feat(duels): add new og fade prefix scheme (#785)
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: schemas

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
