Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix(lint): disable broken unicorn rule
  .eslintrc
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/select-menu.builder.ts
Due: none

fix(lint): disable broken unicorn rule (#230)
  .eslintrc
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/select-menu.builder.ts
Due: none

ci(actions): switch actions to use a single lint action
  .github/workflows/ci.yml
Due: none

make commit author `github_actions`
  .github/workflows/ci.yml
Due: none

ci(actions): switch actions to use a single lint action (#231)
  .github/workflows/ci.yml
Due: none

feat: remove short uuid
  .github/workflows/ci.yml
  apps/api/package.json
  apps/api/src/auth/auth.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/services/api.service.ts
  packages/schemas/src/player/index.ts
  yarn.lock
Due: api, discord-bot, schemas

feat: remove short uuid (#232)
  .github/workflows/ci.yml
  apps/api/package.json
  apps/api/src/auth/auth.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/services/api.service.ts
  packages/schemas/src/player/index.ts
  yarn.lock
Due: api, discord-bot, schemas

fix(pit): finish pit command and fix tag parsing
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

fix(i18n): fix mention message a
  locales/en-US/discord-bot/default.json
Due: none

refactor(discord): abstract alot of stuff to @statsify/discord
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/parkour.command.tsx
  apps/discord-bot/src/commands/status.command.tsx
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/tsconfig.json
  packages/discord/package.json
  packages/discord/src/arguments/choice.argument.ts
  packages/discord/src/arguments/file.argument.ts
  packages/discord/src/arguments/guild-leaderboard.argument.ts
  packages/discord/src/arguments/guild.argument.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/arguments/mojang-player.argument.ts
  packages/discord/src/arguments/number.argument.ts
  packages/discord/src/arguments/player-leaderboard.argument.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/arguments/server.argument.ts
  packages/discord/src/arguments/text.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/index.ts
  packages/discord/src/services/i18n-loader.service.ts
  packages/discord/src/services/index.ts
  packages/discord/src/services/paginate.service.ts
  yarn.lock
Due: discord-bot

fix(pit): finish pit command and fix tag parsing (#233)
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  locales/en-US/discord-bot/default.json
Due: discord-bot

feat(watchdog): add the watchdog stat command
  apps/discord-bot/src/commands/watchdog.command.ts
Due: discord-bot

fix(watchdog): remove useless thumbnail
  apps/discord-bot/src/commands/watchdog.command.ts
Due: discord-bot

feat(watchdog): add the watchdog stat command (#235)
  apps/discord-bot/src/commands/watchdog.command.ts
Due: discord-bot

feat(commands): add recent games
  .eslintrc
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Multiline.tsx
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/exceptions/base.404.ts
  packages/api-client/src/exceptions/recentgames.404.ts
  packages/api-client/src/exceptions/status.404.ts
  packages/schemas/src/recentgames/index.ts
  packages/schemas/src/status/index.ts
  packages/util/src/index.ts
Due: api, discord-bot, schemas, util

style(unused-imports): add eslint plugin to remove unused imports and error on unused variables
  .eslintrc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/index.ts
  package.json
  packages/discord/src/messages/localize.ts
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/guild/index.ts
  yarn.lock
Due: api, discord-bot, schemas

feat(api): remove get resource route
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
Due: api

feat(env): add better env handling that reports missing env variables to the user
  .env.schema
  apps/api/jest.config.js
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/module.d.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/module.d.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/verify-server/src/index.ts
  apps/verify-server/src/module.d.ts
  packages/util/src/env.ts
  packages/util/src/index.ts
Due: api, discord-bot, util

fix: errors
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  packages/discord/src/arguments/guild-leaderboard.argument.ts
  packages/discord/src/arguments/index.ts
Due: discord-bot

feat(api): remove get resource route (#238)
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
Due: api

style(unused-imports): add eslint plugin to remove unused imports (#237)
  .eslintrc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/index.ts
  package.json
  packages/discord/src/messages/localize.ts
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/guild/index.ts
  yarn.lock
Due: api, discord-bot, schemas

ci: change caching for node_modules
  .github/workflows/ci.yml
Due: none

fix(server argument): make the server argument only load servers on argument init
  packages/discord/src/arguments/server.argument.ts
Due: none

ci(actions): fix ci syntax
  .github/workflows/ci.yml
Due: none

refactor(imports): add new import paths to `discord-bot` to remove large paths
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/lib/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/discord-bot/tsconfig.json
Due: discord-bot

refactor(dotenv): load env in @statsify/util instead of registering it in the script
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/verify-server/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/util/package.json
  packages/util/src/env.ts
  yarn.lock
Due: api, discord-bot, util

refactor(imports): add new import paths to `discord-bot` (#241)
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/lib/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/discord-bot/tsconfig.json
Due: discord-bot

feat(env): add env handling that reports missing env variables (#239)
  .env.schema
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/hypixel/hypixel.module.ts
  apps/api/src/index.ts
  apps/api/src/module.d.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/module.d.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/scripts/package.json
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  apps/verify-server/src/module.d.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/util/package.json
  packages/util/src/env.ts
  packages/util/src/index.ts
  yarn.lock
Due: api, discord-bot, util

fix: command poster, pit backgrounds, & prettier infinite recursion
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/constants.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix: command poster, pit backgrounds, & prettier recursion (#242)
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/constants.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

feat(historical): add general historical profile and a message saying when you reset
  .eslintrc
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/rendering/src/hooks/loadImage.ts
Due: api, discord-bot

fix(historical): reset time calculation
  apps/discord-bot/src/commands/historical/historical.base.tsx
Due: discord-bot

feat(historical): add reset message and historical general profile (#243)
  .eslintrc
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/rendering/src/hooks/loadImage.ts
Due: api, discord-bot

feat(commands): add friends and mutual friends, also update parkour layout
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/friends/friends.command.tsx
  apps/discord-bot/src/commands/friends/friends.profile.tsx
  apps/discord-bot/src/commands/friends/mutuals.command.tsx
  apps/discord-bot/src/commands/friends/mutuals.profile.tsx
  apps/discord-bot/src/commands/parkour/parkour.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/exceptions/friends.404.ts
  packages/api-client/src/exceptions/index.ts
  packages/discord/src/arguments/player.argument.ts
  packages/schemas/src/friends/index.ts
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/util/src/index.ts
Due: api, discord-bot, schemas, util

feat(friends): add player heads to the image
  apps/discord-bot/src/commands/friends/friends.command.tsx
  apps/discord-bot/src/commands/friends/friends.profile.tsx
  packages/schemas/src/friends/friend.ts
Due: discord-bot, schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
