Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

feat(discord-bot): update /ping & /language with new names (#535)
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update crowdin translation (#543)
  locales/ro/default.json
Due: none

chore(deploy): update deploy script to force pnpm to reinstall node_modules
  .github/workflows/deploy.yml
Due: none

feat(skins)!: add rust skin renderer
  .gitignore
  .vscode/settings.json
  Cargo.toml
  apps/api/package.json
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/config/theme.command.tsx
  package.json
  packages/assets/src/index.ts
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/build.rs
  packages/skin-renderer/index.cjs
  packages/skin-renderer/index.d.ts
  packages/skin-renderer/models/alex.png
  packages/skin-renderer/models/classic.mtl
  packages/skin-renderer/models/classic.obj
  packages/skin-renderer/models/slim.mtl
  packages/skin-renderer/models/slim.obj
  packages/skin-renderer/models/steve.png
  packages/skin-renderer/package.json
  packages/skin-renderer/src/buffer_dimensions.rs
  packages/skin-renderer/src/camera.rs
  packages/skin-renderer/src/error.rs
  packages/skin-renderer/src/instance.rs
  packages/skin-renderer/src/lib.rs
  packages/skin-renderer/src/light.rs
  packages/skin-renderer/src/model.rs
  packages/skin-renderer/src/renderer.rs
  packages/skin-renderer/src/resources.rs
  packages/skin-renderer/src/shader.wgsl
  packages/skin-renderer/src/texture.rs
  pnpm-lock.yaml
  rustfmt.toml
Due: api, discord-bot

fmt
  .eslintrc
  apps/api/src/session/session.service.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/scripts/src/rank-emojis.js
  packages/discord/src/util/parse-discord-error.ts
  packages/math/src/index.ts
Due: api, discord-bot, math

fix(megawalls): fix inaccurate megawalls stats (final deaths, playtime, class points, and wither damage)
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: schemas

fix(config): make config commands use proper localization string
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
Due: discord-bot

remove unnecessary argument
  packages/schemas/src/player/gamemodes/megawalls/index.ts
Due: schemas

fix(config): make config commands use proper localization string (#549)
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
Due: discord-bot

update website
  apps/site/components/Hero/index.tsx
  apps/site/pages/index.tsx
Due: none

fix(megawalls): fix inaccurate megawalls stats (#548)
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Due: schemas

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none
