Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

change button emojij
  apps/discord-bot/src/commands/verify.command.ts
  locales/en-US/emojis.json
Due: discord-bot

aa
  apps/discord-bot/src/commands/verify.command.ts
Due: discord-bot

feat(socials): add tiktok and change twitter -> 𝕏
  apps/discord-bot/src/commands/socials/socials.command.ts
  locales/en-US/emojis.json
  packages/schemas/src/player/socials.ts
Due: discord-bot, schemas

feat(socials): add tiktok and change twitter -> 𝕏 (#553)
  apps/discord-bot/src/commands/socials/socials.command.ts
  locales/en-US/emojis.json
  packages/schemas/src/player/socials.ts
Due: discord-bot, schemas

fix
  .eslintrc
  pnpm-lock.yaml
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update crowdin translations (#554)
  locales/fr/default.json
Due: none

update msg for new youtube video
  apps/discord-bot/src/commands/verify.command.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
Due: discord-bot

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

make verify button last forever
  apps/api/package.json
  apps/api/src/index.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/support-bot/package.json
  apps/support-bot/src/index.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
Due: api, discord-bot

update pnpm lock
  pnpm-lock.yaml
Due: none

fix(tickets: remove discord discriminators from channel names
  apps/support-bot/src/services/ticket.service.ts
Due: none

fix(readme): update image links
  README.md
  apps/site/public/examples/session-murdermystery.png
  apps/site/public/examples/session-tntgames.png
Due: none

fix(tickets): remove discord discriminators from channel names (#559)
  apps/support-bot/src/services/ticket.service.ts
Due: none

chore(i18n): update crowdin translation (#557)
  locales/sv-SE/default.json
Due: none

fix(readme): update image links (#560)
  README.md
  apps/site/public/examples/session-murdermystery.png
  apps/site/public/examples/session-tntgames.png
Due: none

aa
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/src/lib.rs
  packages/skin-renderer/src/renderer.rs
  packages/skin-renderer/src/skin_loader.rs
  pnpm-lock.yaml
Due: none

fix: legacy skins and opaque skins
  packages/skin-renderer/Cargo.toml
  packages/skin-renderer/src/lib.rs
  packages/skin-renderer/src/renderer.rs
  packages/skin-renderer/src/skin_loader.rs
Due: none

update website previews
  apps/site/pages/index.tsx
  apps/site/public/examples/arcade.png
  apps/site/public/examples/bedwars.png
  apps/site/public/examples/duels.png
  apps/site/public/examples/friends.png
  apps/site/public/examples/guild-member.png
  apps/site/public/examples/mutuals.png
  apps/site/public/examples/recentgames.png
  apps/site/public/examples/skin.png
  apps/site/public/examples/skywars.png
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

feat(arcade): add ctw and dropper stats
  .gitignore
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/blocking-dead.tsx
  apps/discord-bot/src/commands/arcade/modes/bounty-hunters.tsx
  apps/discord-bot/src/commands/arcade/modes/capture-the-wool.tsx
  apps/discord-bot/src/commands/arcade/modes/creeper-attack.tsx
  apps/discord-bot/src/commands/arcade/modes/dragon-wars.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/ender-spleef.tsx
  apps/discord-bot/src/commands/arcade/modes/farm-hunt.tsx
  apps/discord-bot/src/commands/arcade/modes/football.tsx
  apps/discord-bot/src/commands/arcade/modes/galaxy-wars.tsx
  apps/discord-bot/src/commands/arcade/modes/hide-and-seek.tsx
  apps/discord-bot/src/commands/arcade/modes/hole-in-the-wall.tsx
  apps/discord-bot/src/commands/arcade/modes/hypixel-says.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/arcade/modes/mini-walls.tsx
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/modes/pixel-painters.tsx
  apps/discord-bot/src/commands/arcade/modes/pixel-party.tsx
  apps/discord-bot/src/commands/arcade/modes/seasonal.tsx
  apps/discord-bot/src/commands/arcade/modes/throw-out.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/arcade/tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/tables/index.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

don't show best time for historical profiles
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
Due: discord-bot

add ctw and dropper to overall arcade profile
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
Due: discord-bot

update overall arcade wins
  packages/schemas/src/player/gamemodes/arcade/index.ts
Due: schemas

update youtube link
  .gitignore
  apps/discord-bot/src/commands/verify.command.ts
Due: discord-bot

update lock file
  pnpm-lock.yaml
Due: none

add skin renderer to github documents
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pr_labeler.yml
Due: none

chore(i18n): update crowdin translation (#563)
  locales/es-ES/default.json
Due: none

clean up dropper layout
  apps/discord-bot/src/commands/arcade/dropper.command.tsx
  apps/discord-bot/src/commands/arcade/dropper.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/capture-the-wool.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/util/src/util.ts
Due: discord-bot, schemas, util

fmt
  packages/util/src/util.ts
Due: util

Update index.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
Due: schemas

cc
  pnpm-lock.yaml
Due: none

chore: update lock file
  .gitignore
  pnpm-lock.yaml
Due: none

feat(verification): modal verification process (#478)
  apps/api/package.json
  apps/api/src/index.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/info/links.command.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/support-bot/package.json
  apps/support-bot/src/index.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  pnpm-lock.yaml
Due: api, discord-bot

feat(arcade): add ctw and dropper stats (#564)
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/dropper.command.tsx
  apps/discord-bot/src/commands/arcade/dropper.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/blocking-dead.tsx
  apps/discord-bot/src/commands/arcade/modes/bounty-hunters.tsx
  apps/discord-bot/src/commands/arcade/modes/capture-the-wool.tsx
  apps/discord-bot/src/commands/arcade/modes/creeper-attack.tsx
  apps/discord-bot/src/commands/arcade/modes/dragon-wars.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/ender-spleef.tsx
  apps/discord-bot/src/commands/arcade/modes/farm-hunt.tsx
  apps/discord-bot/src/commands/arcade/modes/football.tsx
  apps/discord-bot/src/commands/arcade/modes/galaxy-wars.tsx
  apps/discord-bot/src/commands/arcade/modes/hide-and-seek.tsx
  apps/discord-bot/src/commands/arcade/modes/hole-in-the-wall.tsx
  apps/discord-bot/src/commands/arcade/modes/hypixel-says.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/arcade/modes/mini-walls.tsx
  apps/discord-bot/src/commands/arcade/modes/overall-arcade.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/modes/pixel-painters.tsx
  apps/discord-bot/src/commands/arcade/modes/pixel-party.tsx
  apps/discord-bot/src/commands/arcade/modes/seasonal.tsx
  apps/discord-bot/src/commands/arcade/modes/throw-out.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/arcade/tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/tables/index.ts
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/util/src/util.ts
Due: discord-bot, schemas, util

fix: dropper best time format
  packages/util/src/util.ts
Due: util

fix: use more percision for dropper times
  packages/util/src/util.ts
Due: util

fix lock
  pnpm-lock.yaml
Due: none

fix(bedwars): correct 4200 star prestige color
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas
