Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

add server member to the user command
  apps/support-bot/src/commands/user.command.ts
Due: none

fix(support-bot): tickets deleting when member leaves the server (#307)
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/message-create.event.ts
  apps/support-bot/src/services/ticket.service.ts
Due: none

fix(tntgames): fix overall wins
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  packages/schemas/src/player/gamemodes/tntgames/index.ts
Due: discord-bot, schemas

feat(ratios): add milestones and estimations
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/index.ts
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

fix reading type metadata
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
Due: discord-bot

feat(murdermystery): add more mode stats
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

fix(ratios): fix ratios for a few games
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

fix(tntgames): overall wins (#308)
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  packages/schemas/src/player/gamemodes/tntgames/index.ts
Due: discord-bot, schemas

feat(commands): ratios command to view milestones & estimations (#309)
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/index.ts
  locales/en-US/default.json
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

fix(embeds): escape underscores in player names
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

feat(murder-mystery): add way more MM stats
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

Update mode.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

fix(murder-mystery): fix murder mystery colors and table layout
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

style(murder-mystery): remove old code and add line breaks
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: schemas

Update uuid.command.ts
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

fix(embeds): escape underscores in player names (#311)
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
Due: discord-bot

feat(murdermystery): add more mode stats (#310)
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

fix(v0.2.0): fix bugs in v0.2.0 and add some LBs
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

fix(general): fix classic token lb
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/general/index.ts
Due: schemas

fix(v0.2.0): fix bugs in v0.2.0 and add some LBs (#312)
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

feat(prefixes): add classic game chat prefixes
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/lib/command.listener.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

feat(progression): add progression to the final games
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/util.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/ratios.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix(vampirez): fix VampireZ progression
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.command.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

feat(leaderboards): add descriptions to leaderboards for the new game with prefixes
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/stats.ts
  packages/util/src/index.ts
Due: schemas, util

fix(murdermystery): fix murder mystery overall hero wins
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
Due: schemas

fix(prefixes): fix coloring of prefixes as well as some misc changes
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/support-bot/src/commands/commands.command.ts
  locales/en-US/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix(review): fix pit and support bot review notes
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/support-bot/src/commands/commands.command.ts
  packages/schemas/src/friends/friend.ts
Due: discord-bot, schemas

fix(prefixes): fix coloring of prefixes and some misc changes (#314)
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/support-bot/src/commands/commands.command.ts
  locales/en-US/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/util/src/index.ts
Due: discord-bot, schemas, util

fix(duels): make it so duels modes without kills don't show kills in the profiles
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

fix(duels): pvpless duels modes displaying kills in commands (#316)
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: discord-bot, schemas

fix(vampirez): fix Vampire prefixes and kill leaderboards
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Due: discord-bot, schemas

fix(vampirez): fix vampirez fieldName and name fields
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Due: schemas

fix: duels kdr, hd font size 3, vz leaderboards
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Due: schemas

fix(vampirez): fix Vampire prefixes and kill leaderboards (#317)
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  locales/en-US/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Due: discord-bot, schemas

fix(vampirez): flip flop human and vampire kills
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/palette.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/user/theme.ts
Due: discord-bot, schemas

fix(vampirez): flip flop human and vampire kills (#318)
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/palette.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/user/theme.ts
Due: discord-bot, schemas

fix(leaderboards): input searching being off by 1 position
  apps/api/src/leaderboards/leaderboard.service.ts
  pm2.config.js
Due: api

fix(leaderboards): input searching being off by 1 position (#319)
  apps/api/src/leaderboards/leaderboard.service.ts
  pm2.config.js
Due: api

fix(vampirez): fix VampireZ prefix colors
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Due: schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
