Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

feat: add skywars challenges command (#618)
  apps/discord-bot/src/commands/skywars/skywars-challenges.command.tsx
  apps/discord-bot/src/commands/skywars/skywars-challenges.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
Due: discord-bot, schemas

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(i18n): update crowdin translations (#619)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix(bedwars): correct 2000 star prestige color
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

fix(challenges): add dropper challenges
  packages/schemas/src/player/gamemodes/challenges/modes/arcade.ts
Due: schemas

feat(events): add easter 2024
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

fix(bedwars): correct 2000 star prestige color (#623)
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Due: schemas

fix(challenges): add dropper challenges (#624)
  packages/schemas/src/player/gamemodes/challenges/modes/arcade.ts
Due: schemas

feat(events): add easter 2024 (#625)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(discord-bot): make the bot user installable
  apps/discord-bot/package.json
  apps/support-bot/package.json
  packages/discord/package.json
  packages/discord/src/command/command.resolvable.ts
  pnpm-lock.yaml
Due: discord-bot

chore(i18n): update crowdin translation (#627)
  locales/fr/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
