Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(deps): pin swc version
  renovate.json
Due: none

chore(i18n): update crowdin translation (#426)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

chore(deps): pin swc version (#436)
  renovate.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

fix(historical-lbs): time not showing after changing pages
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
Due: discord-bot

fix(historical-lbs): incorrect formatting to exp
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Due: schemas

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

fix(prefixes): skywars, woolwars, and walls prefixes having incorrect colors and requirements
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

fix(uhc): submodes stats not counting
  packages/schemas/src/player/gamemodes/uhc/index.ts
Due: schemas

feat(duels): add ws and kills to uhc duels profile
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
Due: discord-bot

feat(status): show last action for online players
  apps/discord-bot/src/commands/status/status.profile.tsx
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

fix(capes): remove blank whitespace at the bottom of some cape images
  apps/discord-bot/src/commands/minecraft/cape.command.ts
Due: discord-bot

feat(status): show last action for online players (#446)
  apps/discord-bot/src/commands/status/status.profile.tsx
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

fix(prefixes): skywars, woolwars, and walls prefixes having incorrect colors and requirements (#443)
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Due: schemas

feat(duels): add ws and kills to uhc duels profile (#445)
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
Due: discord-bot

fix(capes): remove blank whitespace at the bottom of cape images (#447)
  apps/discord-bot/src/commands/minecraft/cape.command.ts
Due: discord-bot

fix(uhc): submodes stats not counting (#444)
  packages/schemas/src/player/gamemodes/uhc/index.ts
Due: schemas

fix(historical-lbs): correctly get historical rankings
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
Due: api

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

fix(search): properly catch missing redisearch upon delete
  apps/api/src/player/search/player-search.service.ts
  packages/schemas/src/player/gamemodes/general/index.ts
Due: api, schemas

fix(historical-lbs): throw error upon player not being in lb
  packages/discord/src/services/api.service.ts
Due: none

fix: review comments
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/scripts/src/command-chars.js
  packages/schemas/src/util/create-historical-player.ts
  packages/schemas/src/util/index.ts
Due: api, discord-bot, schemas

chore(i18n): update crowdin translation (#441)
  locales/hu/default.json
  locales/it/default.json
  locales/pt-BR/default.json
  locales/uk/default.json
Due: none

feat(themes): add winter theme for the holiday season
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme-service.ts
Due: discord-bot

remove useless code
  apps/discord-bot/src/index.ts
Due: discord-bot

fix: remaining todos
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/winter-theme-service.ts
Due: discord-bot

feat(events): add christmas event stats
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

feat(events): add christmas event stats (#454)
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Due: discord-bot, schemas

update ice texture
  packages/rendering/src/components/Box.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
Due: none

feat(themes): add winter theme for the holiday season (#453)
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/support-bot/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/winter-theme.service.ts
Due: discord-bot

fix: historical leaderboards
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
Due: schemas

fix(smashheroes): kit names
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
Due: schemas

fix(pit): prestige color 48
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Due: schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
