Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

remove score
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
Due: discord-bot, schemas

fix(paintball): prefix color for 75,000 kills (#386)
  packages/schemas/src/player/gamemodes/paintball/index.ts
Due: schemas

fix(boxes): make different theme boxes use the correct colors
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
Due: discord-bot

fix(boxes): make different theme boxes use the correct colors (#388)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
Due: discord-bot

aa
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  packages/rendering/src/components/Text.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: discord-bot, schemas

fix(node): enforce correct node version with nvm
  .nvmrc
Due: none

fix(node): enforce correct node version with nvm (#389)
  .nvmrc
Due: none

chore(copsandcrims): make prefixes use characters from \u1a20 - \u1a5f
  apps/api/src/hypixel/hypixel.service.ts
  packages/rendering/sizes.json
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
Due: api, schemas

feat(cvc): add cops and crims overall stats (#382)
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  packages/rendering/sizes.json
  packages/rendering/src/components/Text.ts
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: api, discord-bot, schemas

aaa
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
Due: discord-bot

fix(quests): remove win a deathmatch quest from cops and crims
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Due: schemas

fix(boxes): shadows being rendered incorrectly
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
Due: discord-bot

fix(quests): remove the "win a deathmatch" quest from cvc (#390)
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Due: discord-bot, schemas

chore(i18n): update crowdin translations (#387)
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

fix(murdermystery): remove infection wins and best time
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

fix(murdermystery): remove infection wins and best time (#391)
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Due: discord-bot, schemas

feat(languages): add new languages to /language and /ping
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

aa
  apps/discord-bot/src/commands/config/language.command.tsx
Due: discord-bot

ll
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

feat(languages): add new languages to /language and /ping (#392)
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

fix(pm2): re-enable pm2 cluster mode
  apps/api/src/historical/historical.service.ts
  pm2.config.js
Due: api

fix: misc issues from v0.9.0
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/tips.ts
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  pm2.config.js
Due: api, discord-bot, schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none
