Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix skia-canvas deps
  apps/discord-bot/package.json
  apps/scripts/package.json
  packages/assets/package.json
  packages/rendering/package.json
  yarn.lock
Due: discord-bot

Update apps/site/components/StatCircle/index.tsx
  apps/site/components/StatCircle/index.tsx
Due: none

fix(hero): make black box have blur
  apps/site/components/Hero/hero.module.scss
  apps/site/components/Hero/index.tsx
Due: none

fix(discord-bot): increase tip chance
  apps/discord-bot/src/lib/command.listener.ts
Due: discord-bot

fix(hero): make black box have blur (#269)
  apps/discord-bot/src/lib/command.listener.ts
  apps/site/components/Hero/hero.module.scss
  apps/site/components/Hero/index.tsx
Due: discord-bot

feat(premium): add all the premium tiers (#266)
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
  config.schema.js
  packages/assets/src/index.ts
  packages/schemas/src/user/index.ts
  packages/util/src/config.ts
Due: api, discord-bot, schemas, util

style(packages): sort some things alphabetically and add more config examples
  packages/schemas/src/game/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/index.ts
  packages/util/src/config.ts
Due: schemas, util

style(packages): sort things alphabetically (#270)
  packages/schemas/src/game/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/index.ts
  packages/util/src/config.ts
Due: schemas, util

weird theming stuff
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/index.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/pallet.ts
  packages/assets/src/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/jsx/render.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/user/theme.ts
Due: api, discord-bot, schemas

docs(readme): improve the readme and contributing files
  .github/CONTRIBUTING.md
  README.md
Due: none

docs(readme): add showcase images
  README.md
Due: none

docs(readme): improve the readme and contributing files (#272)
  .github/CONTRIBUTING.md
  README.md
Due: none

feat(commands): add theme command
  apps/api/src/dtos/user.dto.ts
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/demo.profile.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/palette.ts
  locales/en-US/default.json
  packages/discord/src/arguments/choice.argument.ts
  packages/discord/src/arguments/guild.argument.ts
  packages/schemas/src/user/theme.ts
Due: api, discord-bot, schemas

chore(pm2): add a pm2 config file
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
Due: none

fix(themes): sorta fix ultra hd shadow
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/discord/src/util/error.message.ts
Due: discord-bot

chore(pm2): add a pm2 config file (#273)
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
Due: none

update emojis and footer colors
  apps/discord-bot/src/components/Footer.tsx
  locales/en-US/emojis.json
  packages/discord/src/services/paginate.service.ts
Due: discord-bot

fix(historical): fix historical leveling and ratios
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/components/Header/HistoricalHeader.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

fix(historical): fix historical leveling and ratios (#275)
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/components/Header/HistoricalHeader.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/ratios.ts
Due: discord-bot, schemas

update emojis in localization files
  locales/en-US/emojis.json
Due: none

fix: misc issues and add i18n keys
  .vscode/i18n-ally-custom-framework.yml
  .vscode/settings.json
  apps/api/src/dtos/guild-leaderboard.dto.ts
  apps/api/src/dtos/player-leaderboard.dto.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/arcade/tables/mini-walls.table.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/config/badge.command.tsx
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/lastDay.command.tsx
  apps/discord-bot/src/commands/historical/lastMonth.command.tsx
  apps/discord-bot/src/commands/historical/lastWeek.command.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/discord-bot/src/themes/palette.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/services/ticket.service.ts
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/services/api.service.ts
  packages/rendering/src/components/Text.ts
  pm2.config.js
Due: api, discord-bot

feat(api): add route to post players
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/update-player.dto.ts
  apps/api/src/index.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
Due: api

chore(i18n): fix i18n ally config
  .vscode/settings.json
Due: none

ci(actions): add deploy action
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: none

ci(actions): add deploy action (#279)
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: none

ci(deploy): add deploy action
  .github/workflows/deploy.yml
Due: none

update deploy
  .github/workflows/deploy.yml
  apps/scripts/src/purge.js
Due: none

update deploy rules
  .github/workflows/deploy.yml
Due: none

ci(actions): add deploy action (#280)
  .github/workflows/deploy.yml
  apps/scripts/src/purge.js
Due: none

ci: fix private assets in deploy
  .github/workflows/deploy.yml
Due: none

ci: fix private assets in deploy (#281)
  .github/workflows/deploy.yml
Due: none

change cron for redis leaderboard limiter
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
  yarn.lock
Due: none
