Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

fix(i18n): add translations for progressions
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  locales/en-US/default.json
  locales/fr/default.json
  packages/schemas/src/guild/util.ts
Due: discord-bot, schemas

fix(i18n): add translations for progressions (#346)
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  locales/en-US/default.json
  locales/fr/default.json
  packages/schemas/src/guild/util.ts
Due: discord-bot, schemas

chore(i18n): update translations for `%language%`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

fix(challenges): schema bugs
  packages/schemas/src/player/challenges/index.ts
  packages/schemas/src/player/challenges/modes/skyclash.ts
Due: schemas

feat(locale): add challenges command
  locales/en-US/default.json
Due: none

fix(constants): allow challenges to work in hypixel commands
  apps/discord-bot/src/constants.ts
Due: discord-bot

fix(challenges): remove skyclash
  packages/schemas/src/player/challenges/modes/index.ts
Due: schemas

fix(challenges): use consistent names in schema
  packages/schemas/src/player/challenges/index.ts
Due: schemas

fix(api): log errors on old redis versions
  apps/api/src/player/search/player-search.service.ts
Due: api

feat(challenges): add challenge data
  packages/schemas/src/GameChallenges.ts
  packages/schemas/src/player/challenges/index.ts
  packages/schemas/src/player/challenges/modes/arcade.ts
  packages/schemas/src/player/challenges/modes/arena.ts
  packages/schemas/src/player/challenges/modes/bedwars.ts
  packages/schemas/src/player/challenges/modes/blitz.ts
  packages/schemas/src/player/challenges/modes/buildbattle.ts
  packages/schemas/src/player/challenges/modes/cops-and-crims.ts
  packages/schemas/src/player/challenges/modes/duels.ts
  packages/schemas/src/player/challenges/modes/index.ts
  packages/schemas/src/player/challenges/modes/megawalls.ts
  packages/schemas/src/player/challenges/modes/murdermystery.ts
  packages/schemas/src/player/challenges/modes/paintball.ts
  packages/schemas/src/player/challenges/modes/quake.ts
  packages/schemas/src/player/challenges/modes/skyclash.ts
  packages/schemas/src/player/challenges/modes/skywars.ts
  packages/schemas/src/player/challenges/modes/smashheros.ts
  packages/schemas/src/player/challenges/modes/speeduhc.ts
  packages/schemas/src/player/challenges/modes/tntgames.ts
  packages/schemas/src/player/challenges/modes/turbokartracers.ts
  packages/schemas/src/player/challenges/modes/uhc.ts
  packages/schemas/src/player/challenges/modes/vampirez.ts
  packages/schemas/src/player/challenges/modes/walls.ts
  packages/schemas/src/player/challenges/modes/warlords.ts
  packages/schemas/src/player/challenges/modes/woolwars.ts
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/stats.ts
Due: schemas

fix(challenges): schema field names
  packages/schemas/src/player/challenges/index.ts
Due: schemas

feat(challenges): add challenges command
  apps/discord-bot/src/commands/challenges/challenges.command.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
Due: discord-bot

feat(challenges): make challenge profile consistent with other profiles
  apps/discord-bot/src/commands/challenges/challenges.command.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
Due: discord-bot

chore(i18n): add `stats.game-stats` translation string
  locales/en-US/default.json
Due: none

fix(challenges): extra space
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
Due: discord-bot

fix(challenges): remove sidebar formatting
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
Due: discord-bot

refactor(challenges): move challenges to general stats
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  packages/schemas/src/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arena.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/blitz.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/smashheros.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/woolwars.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/index.ts
Due: discord-bot, schemas

refactor(commands): change the method of creating subcommand groups & move classic games into groups
  apps/api/src/player/search/player-search.service.ts
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/tests/command.builder.spec.ts
  packages/schemas/src/player/challenges/game-challenges.ts
  packages/schemas/src/player/challenges/index.ts
  packages/schemas/src/player/challenges/modes/arcade.ts
  packages/schemas/src/player/challenges/modes/arena.ts
  packages/schemas/src/player/challenges/modes/bedwars.ts
  packages/schemas/src/player/challenges/modes/blitz.ts
  packages/schemas/src/player/challenges/modes/buildbattle.ts
  packages/schemas/src/player/challenges/modes/cops-and-crims.ts
  packages/schemas/src/player/challenges/modes/duels.ts
  packages/schemas/src/player/challenges/modes/megawalls.ts
  packages/schemas/src/player/challenges/modes/murdermystery.ts
  packages/schemas/src/player/challenges/modes/paintball.ts
  packages/schemas/src/player/challenges/modes/quake.ts
  packages/schemas/src/player/challenges/modes/skywars.ts
  packages/schemas/src/player/challenges/modes/smashheros.ts
  packages/schemas/src/player/challenges/modes/speeduhc.ts
  packages/schemas/src/player/challenges/modes/tntgames.ts
  packages/schemas/src/player/challenges/modes/turbokartracers.ts
  packages/schemas/src/player/challenges/modes/uhc.ts
  packages/schemas/src/player/challenges/modes/vampirez.ts
  packages/schemas/src/player/challenges/modes/walls.ts
  packages/schemas/src/player/challenges/modes/warlords.ts
  packages/schemas/src/player/challenges/modes/woolwars.ts
Due: api, discord-bot, schemas

fix(challenges): change colors on the profile
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/buildbattle.ts
Due: discord-bot, schemas

fix(challenges): move extra field to correct path
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arcade.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/arena.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/blitz.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/buildbattle.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/cops-and-crims.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/duels.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/index.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/megawalls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/murdermystery.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/paintball.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/quake.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/skywars.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/smashheros.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/speeduhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/tntgames.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/turbokartracers.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/uhc.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/vampirez.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/walls.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/warlords.ts
  packages/schemas/src/player/gamemodes/general/challenges/modes/woolwars.ts
Due: schemas

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW /default.json
Due: none
