Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

ste image height
  apps/site/components/Feature/feature.module.scss
Due: none

ci: debug deploy action
  .github/workflows/deploy.yml
Due: none

ci: remove debug deploy information
  .github/workflows/deploy.yml
Due: none

fix(dropper): change dropper color to purple
  packages/schemas/src/game/game.ts
Due: schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update crowdin translations (#572)
  locales/ko/default.json
  locales/tr/default.json
Due: none

feat(events): add halloween 2023
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(events): add halloween 2023 (#573)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

feat(halloween): halloween logos and footer
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

feat(halloween): add halloween logos and footer (#574)
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

fix(parkour): use new Arcade and BedWars parkour times
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

fix(duels): match title casing and bolding to ingame
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: schemas

fix(duels): match title casing and bolding to ingame (#576)
  packages/schemas/src/player/gamemodes/duels/util.ts
Due: schemas

fix(parkour): use new Arcade and BedWars parkour times (#575)
  packages/schemas/src/player/gamemodes/parkour/index.ts
Due: schemas

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update crowdin translation (#577)
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update crowdin translations (#578)
  locales/it/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore: repo cleanup
  README.md
  apps/api/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.cjs
Due: api

feat: add new bedwars and cops and crims quests
  packages/schemas/src/player/gamemodes/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Due: schemas

feat(quests): add new bedwars and cops and crims quests (#582)
  packages/schemas/src/player/gamemodes/quests/modes/bedwars.ts
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Due: schemas

chore(i18n): update crowdin translations (#579)
  locales/it/default.json
  locales/pt-BR/default.json
Due: none

feat(duels): add best winstreak leaderboards
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

feat(arenabrawl): add winstreaks
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/mode.ts
Due: discord-bot, schemas

chore(node): update ci and readme to use node 20
  .github/workflows/ci.yml
  README.md
Due: none

feat(arena brawl): add arena brawl winstreaks (#587)
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/mode.ts
Due: discord-bot, schemas

feat(duels): add best winstreak leaderboards (#586)
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

chore: update git submodules and lock file
  pnpm-lock.yaml
Due: none

feat(site): add vercel analytics
  apps/site/package.json
  apps/site/pages/_app.tsx
  pnpm-lock.yaml
Due: none

feat(site): add vercel analytics (#588)
  apps/site/package.json
  apps/site/pages/_app.tsx
  pnpm-lock.yaml
Due: none

feat(logger): add fatal log level to match nestjs
  packages/logger/src/index.ts
  pnpm-lock.yaml
Due: logger

feat(logger): add fatal log level to match nestjs (#592)
  packages/logger/src/index.ts
  pnpm-lock.yaml
Due: logger

feat: remove halloween logos and footer
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

feat: remove halloween logos and footer (#593)
  apps/discord-bot/src/components/Footer.tsx
Due: discord-bot

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
