Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix(duels): always show WS
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
Due: discord-bot

feat(commands): add bedwars challenges command (#265)
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
Due: discord-bot, schemas

feat(premium): add all the premium tiers
  apps/api/src/user/user.service.ts
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
  config.schema.js
  packages/assets/src/index.ts
  packages/schemas/src/user/index.ts
  packages/util/src/config.ts
Due: api, discord-bot, schemas, util

add feature component
  apps/site/components/Container.tsx
  apps/site/components/Feature.tsx
  apps/site/components/StatCircle.tsx
  apps/site/package.json
  apps/site/pages/index.tsx
  apps/site/public/bedwars.png
  apps/site/public/skywars.png
  yarn.lock
Due: none

disable autoFocus
  apps/site/components/Feature.tsx
Due: none

add slider css
  apps/site/components/Box.tsx
  apps/site/components/Text.tsx
  apps/site/pages/_app.tsx
  apps/site/public/fonts/minecraft-bold-italic.otf
  apps/site/public/fonts/minecraft-bold.otf
  apps/site/public/fonts/minecraft-italic.otf
  apps/site/public/fonts/minecraft.otf
Due: none

remove minecraft font
  apps/site/pages/_app.tsx
Due: none

change sizing
  apps/site/components/Button.tsx
  apps/site/components/Feature.tsx
  apps/site/components/Hero/index.tsx
  apps/site/pages/_app.tsx
Due: none

add messages for the features
  apps/site/components/Button.tsx
  apps/site/components/Code.tsx
  apps/site/components/Feature.tsx
  apps/site/components/Hero/index.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
Due: none

change mobile boundaries
  apps/site/components/Button.tsx
  apps/site/components/Divider.tsx
  apps/site/components/Feature.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Hero/index.tsx
  apps/site/pages/index.tsx
Due: none

add button ripple
  apps/site/components/Button.tsx
  apps/site/components/Invite.tsx
  apps/site/pages/index.tsx
Due: none

improve invite section
  apps/site/components/Container.tsx
  apps/site/components/Invite.tsx
  apps/site/pages/index.tsx
Due: none

add metadata
  apps/site/pages/_app.tsx
  apps/site/pages/_document.tsx
  apps/site/public/favicon.ico
  apps/site/public/robots.txt
Due: none

fix favicon
  apps/site/pages/_app.tsx
  apps/site/public/images/apple-touch-icon.png
  apps/site/public/images/favicon-16x16.png
  apps/site/public/images/favicon-32x32.png
  apps/site/public/images/favicon.ico
Due: none

attempt lighthouse fixes
  apps/site/components/Feature.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Hero/Navbar.tsx
  apps/site/components/Hero/index.tsx
  apps/site/pages/_app.tsx
  apps/site/pages/_document.tsx
  apps/site/pages/index.tsx
  apps/site/public/fonts/LexendDeca.ttf
  apps/site/public/hero.png
  apps/site/public/hero.webp
Due: none

fix feature typings
  apps/site/components/Feature.tsx
Due: none

fix hero quality
  apps/site/public/hero.webp
Due: none

fix Stat circles padding
  apps/site/pages/index.tsx
Due: none

make hero bigger
  apps/site/components/Footer.tsx
  apps/site/components/Hero/index.tsx
  apps/site/pages/_app.tsx
Due: none

use next/image for hero
  apps/site/components/Hero/index.tsx
Due: none

change images to be JSX components
  apps/site/pages/index.tsx
Due: none

fix font
  apps/site/components/Footer.tsx
  apps/site/components/Hero/index.tsx
  apps/site/next.config.js
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
Due: none

fix image border radius
  apps/site/components/Feature.tsx
Due: none

add more height to the hero on mobile
  apps/site/components/Hero/index.tsx
Due: none

chore(deps): update dependencies
  .swcrc
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/index.ts
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, logger, schemas

mess around with this site
  apps/site/components/Divider.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/StatCircle.tsx
  apps/site/next.config.js
  apps/site/package.json
  yarn.lock
Due: none

chore(deps): update dependencies (#267)
  .swcrc
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/index.ts
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, logger, schemas

feat(backgrounds): add new backgrounds (#262)
  apps/discord-bot/src/constants.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/rendering/src/components/Image.ts
  packages/schemas/src/game/game.ts
Due: discord-bot, schemas

add images to site
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/site/components/Feature.tsx
  apps/site/pages/index.tsx
  apps/site/public/examples/arcade.png
  apps/site/public/examples/bedwars-leaderboard.png
  apps/site/public/examples/bedwars.png
  apps/site/public/examples/blitzsg-leaderboard.png
  apps/site/public/examples/buildbattle-leaderboard.png
  apps/site/public/examples/daily-murdermystery.png
  apps/site/public/examples/daily-tntgames.png
  apps/site/public/examples/duels.png
  apps/site/public/examples/friends.png
  apps/site/public/examples/guild-member.png
  apps/site/public/examples/guild-overall-gexp.png
  apps/site/public/examples/guild-overall.png
  apps/site/public/examples/guild-top.png
  apps/site/public/examples/mutuals.png
  apps/site/public/examples/recentgames.png
  apps/site/public/examples/skin.png
  apps/site/public/examples/skywars.png
  apps/site/public/examples/status.png
  apps/site/public/examples/woolwars-leaderboard.png
Due: discord-bot

make carousel have dynamic height on mobile
  apps/site/components/Feature.tsx
  apps/site/hooks/useWindowSize.ts
Due: none

remove sharp
  apps/site/package.json
  yarn.lock
Due: none

fix useWindowSize
  apps/site/hooks/useWindowSize.ts
Due: none

updload new hero
  apps/site/components/Hero/index.tsx
  apps/site/public/hero.png
Due: none

blur hero
  apps/site/components/Hero/index.tsx
  apps/site/public/hero.png
  apps/site/public/hero.webp
Due: none

site changes
  apps/site/components/Button.tsx
  apps/site/components/Divider.tsx
  apps/site/components/Feature.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Hero/Navbar.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/StatCircle.tsx
  apps/site/hooks/useWindowSize.ts
  apps/site/pages/index.tsx
  apps/site/public/banner.svg
  apps/site/public/commands.svg
  apps/site/public/discord.svg
  apps/site/public/invite.svg
  apps/site/public/logo.svg
  apps/site/public/servers.svg
  apps/site/public/socials/github.png
  apps/site/public/socials/github.svg
  apps/site/public/socials/patreon.png
  apps/site/public/socials/patreon.svg
  apps/verify-server/src/index.ts
  package.json
  yarn.lock
Due: none

perf(site): switch to scss to improve speed of the site drastically
  .vscode/settings.json
  apps/site/components/Button/button.module.scss
  apps/site/components/Button/index.tsx
  apps/site/components/Code.tsx
  apps/site/components/Code/code.module.scss
  apps/site/components/Code/index.tsx
  apps/site/components/Container/container.module.scss
  apps/site/components/Container/index.tsx
  apps/site/components/Divider/divider.module.scss
  apps/site/components/Divider/index.tsx
  apps/site/components/Feature.tsx
  apps/site/components/Feature/feature.module.scss
  apps/site/components/Feature/index.tsx
  apps/site/components/Footer.tsx
  apps/site/components/Footer/footer.module.scss
  apps/site/components/Footer/index.tsx
  apps/site/components/Hero/Navbar.tsx
  apps/site/components/Hero/hero.module.scss
  apps/site/components/Hero/index.tsx
  apps/site/components/Hero/navbar.module.scss
  apps/site/components/Invite.tsx
  apps/site/components/Invite/index.tsx
  apps/site/components/Invite/invite.module.scss
  apps/site/components/StatCircle.tsx
  apps/site/components/StatCircle/StatCircleContainer.tsx
  apps/site/components/StatCircle/index.tsx
  apps/site/components/StatCircle/stat-circle-container.module.scss
  apps/site/components/StatCircle/stat-circle.module.scss
  apps/site/globals.scss
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/_app.tsx
  apps/site/pages/index.tsx
  yarn.lock
Due: none

fix feature and add blur to images
  apps/site/components/Feature/feature.module.scss
  apps/site/pages/index.tsx
Due: none

add redirects
  apps/site/components/Button/index.tsx
  apps/site/components/Footer/index.tsx
  apps/site/components/Hero/index.tsx
  apps/site/components/Invite/index.tsx
  apps/site/next.config.js
Due: none

switch api to run on just localhost and not /api
  apps/api/src/index.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/site/next.config.js
  apps/site/package.json
  apps/site/pages/404.tsx
  config.schema.js
  packages/util/src/config.ts
Due: api, discord-bot, util

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
