Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

fix(copsandcrims): change wrong emblem names
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

fix(copsandcrims): fixed in-game name for SMG emblem
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

feat(skywars): add perks page
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/bedwars/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/deprecated/bedwars-challenges.command.tsx
  apps/discord-bot/src/commands/deprecated/skywars-challenges.command.tsx
  apps/discord-bot/src/commands/duels/duels-titles.profile.tsx
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/index.ts
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/skywars/skywars-challenges.command.tsx
  apps/discord-bot/src/commands/skywars/skywars-challenges.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars-perks.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.command.tsx
  apps/discord-bot/src/components/WordWrap.tsx
  apps/discord-bot/src/components/index.ts
  package.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/perks.ts
  pnpm-lock.yaml
  turbo.json
Due: discord-bot, schemas

localize perk descriptions
  apps/discord-bot/src/commands/skywars/skywars-perks.profile.tsx
  locales/en-US/default.json
Due: discord-bot

add bgs for each mode
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/(home)/tabs.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/command.tsx
  apps/site2/public/arcade.png
  apps/site2/public/bedwars.png
  apps/site2/public/duels.png
  apps/site2/public/skywars.png
Due: none

leaderboard section
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/leaderboard.tsx
  apps/site2/app/(home)/sections/leaderboard-section.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/layout.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/command.tsx
  apps/site2/package.json
  apps/site2/public/buildbattle.png
Due: none

Fixed lint erroring
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

Fixed additional usage of "#1" emblem
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

fix(skywars): corrected skywars admiral prestige color
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

fix(copsandcrims): change wrong emblem names (#745)
  packages/schemas/src/player/gamemodes/copsandcrims/util.ts
Due: schemas

fix(skywars): corrected skywars admiral prestige color (#747)
  packages/schemas/src/player/gamemodes/skywars/util.ts
Due: schemas

aaa
  apps/site2/app/(home)/interactive-logo.tsx
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/leaderboard.tsx
  apps/site2/app/(home)/sections/base-section.tsx
  apps/site2/app/(home)/sections/leaderboard-section.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/(home)/sections/session-section.tsx
  apps/site2/components/icons/chevron.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/command.tsx
  apps/site2/eslint.config.mjs
  apps/site2/public/uhc.png
  pnpm-lock.yaml
Due: none

fix(arcade): fix alien arcadium difficulty
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  pnpm-lock.yaml
Due: schemas

begin session animation
  apps/site2/app/(home)/interactive-logo.tsx
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/woolwars.tsx
  apps/site2/app/(home)/sections/session-section.tsx
  apps/site2/app/(home)/session-animation.tsx
  apps/site2/components/animations/letters-pull-up.tsx
  apps/site2/components/animations/number.tsx
  apps/site2/components/icons/chevron.tsx
Due: none

fix(arcade): fix alien arcadium difficulty (#748)
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  pnpm-lock.yaml
Due: schemas

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

add icons to tabs
  apps/site2/app/(home)/previews/arcade.tsx
  apps/site2/app/(home)/previews/bedwars.tsx
  apps/site2/app/(home)/previews/duels.tsx
  apps/site2/app/(home)/previews/skywars.tsx
  apps/site2/app/(home)/previews/woolwars.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/(home)/session-animation.tsx
  apps/site2/app/globals.css
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/sidebar.tsx
  apps/site2/components/ui/table.tsx
  apps/site2/public/backgrounds/arcade.png
  apps/site2/public/backgrounds/background.png
  apps/site2/public/backgrounds/bedwars.png
  apps/site2/public/backgrounds/buildbattle.png
  apps/site2/public/backgrounds/duels.png
  apps/site2/public/backgrounds/skywars.png
  apps/site2/public/backgrounds/uhc.png
  apps/site2/public/icons/arcade.png
  apps/site2/public/icons/bedwars.png
  apps/site2/public/icons/duels.png
  apps/site2/public/icons/skywars.png
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

feat(arcade): update zombies emojis
  locales/en-US/emojis.json
Due: none

feat: add background fade and localize numbers
  apps/site2/app/(home)/previews/arcade.tsx
  apps/site2/app/(home)/previews/bedwars.tsx
  apps/site2/app/(home)/previews/duels.tsx
  apps/site2/app/(home)/previews/leaderboard.tsx
  apps/site2/app/(home)/previews/skywars.tsx
  apps/site2/app/(home)/previews/woolwars.tsx
  apps/site2/app/(home)/sections/leaderboard-section.tsx
  apps/site2/app/globals.css
  apps/site2/app/layout.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/progression.tsx
  apps/site2/localize/index.ts
Due: none

add multiple players and style fixes
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/arcade.tsx
  apps/site2/app/(home)/previews/bedwars.tsx
  apps/site2/app/(home)/previews/duels.tsx
  apps/site2/app/(home)/previews/skywars.tsx
  apps/site2/app/(home)/previews/woolwars.tsx
  apps/site2/app/(home)/sections/base-section.tsx
  apps/site2/app/(home)/sections/leaderboard-section.tsx
  apps/site2/app/(home)/sections/player-section.tsx
  apps/site2/app/(home)/sections/session-section.tsx
  apps/site2/app/(home)/session-animation.tsx
  apps/site2/components/animations/letters-pull-up.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/button.tsx
  apps/site2/components/ui/nametag.tsx
  apps/site2/components/ui/progression.tsx
  apps/site2/public/backgrounds/woolgames.png
Due: none

feat: clean up session animation and start guilds
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/previews/woolwars.tsx
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/(home)/session-animation.tsx
  apps/site2/components/ui/background.tsx
  apps/site2/components/ui/table.tsx
  apps/site2/next.config.ts
  apps/site2/package.json
  apps/site2/public/backgrounds/guild.png
Due: none

guild cards
  apps/site2/app/(home)/page.tsx
  apps/site2/app/(home)/sections/guild-section.tsx
Due: none

card stack v1
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/test/page.tsx
  apps/site2/components/ui/card-stack.tsx
Due: none

feat: hono
  apps/hono-api/.gitignore
  apps/hono-api/README.md
  apps/hono-api/eslint.config.js
  apps/hono-api/package.json
  apps/hono-api/src/db.ts
  apps/hono-api/src/index.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/guilds.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/sessions.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
  apps/hono-api/src/validation.ts
  apps/hono-api/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: guild carousel
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/test/page.tsx
  apps/site2/components/ui/card-stack.tsx
  apps/site2/components/ui/carousel.tsx
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

add player
  apps/hono-api/src/hypixel.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/validation.ts
Due: none

improve guild section on phone
  apps/site2/app/(home)/sections/guild-section.tsx
  apps/site2/app/globals.css
  apps/site2/components/icons/chevron.tsx
  apps/site2/components/ui/carousel.tsx
Due: none

skin route
  apps/hono-api/package.json
  apps/hono-api/src/index.ts
  apps/hono-api/src/project.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/validation.ts
Due: none

update lock file
  .gitignore
  pnpm-lock.yaml
Due: none

feat: add autocomplete, leaderboard and command routers
  apps/hono-api/package.json
  apps/hono-api/src/db/mongo.ts
  apps/hono-api/src/db/project.ts
  apps/hono-api/src/db/redis.ts
  apps/hono-api/src/exception.ts
  apps/hono-api/src/index.ts
  apps/hono-api/src/project.ts
  apps/hono-api/src/routes/autocomplete.ts
  apps/hono-api/src/routes/commands.ts
  apps/hono-api/src/routes/leaderboards.ts
  apps/hono-api/src/routes/players.ts
  apps/hono-api/src/routes/skins.ts
  apps/hono-api/src/routes/users.ts
  apps/hono-api/src/validation.ts
Due: none

start auth
  apps/hono-api/src/auth.ts
  apps/hono-api/src/routes/players.ts
Due: none
