Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

fix(text): make the text component get the font renderer from the `Container`
  .vscode/settings.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Sidebar.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Table.tsx
  packages/jsx/package.json
  packages/jsx/src/components/Text.tsx
  yarn.lock
Due: discord-bot

fix(key): add `GET /api/auth/key` to docs
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  packages/api-client/src/responses/get.key.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/key/index.ts
Due: api, schemas

fix: remove nvm version change
  .devcontainer/Dockerfile
Due: none

feat(errorresponse): an easy way to throw errors and return content
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/util/error.response.ts
  apps/discord-bot/src/util/index.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/components/action-row.builder.ts
  packages/discord/src/index.ts
  packages/discord/src/util/content.response.ts
  packages/discord/src/util/index.ts
Due: discord-bot

feat: use real data in example command
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Sidebar.tsx
  apps/discord-bot/src/components/Row.tsx
Due: discord-bot

chore(devcontainer): automatically add keys (#123)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
  .eslintrc
  apps/scripts/src/create-key.mjs
  tsconfig.base.json
Due: none

feat(jsx): add a basic theming api
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/services/font.service.ts
  packages/jsx/package.json
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/components/Div.tsx
  packages/jsx/src/components/Image.tsx
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/components/index.ts
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/index.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-element.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/index.ts
  packages/jsx/src/jsx/instrinsics.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Due: discord-bot

feat(jsx): add custom colors + outlines to the box component
  packages/jsx/src/colors/index.ts
  packages/jsx/src/components/Box.tsx
Due: none

feat(scripts): add purging and key management scripts
  .devcontainer/devcontainer.json
  apps/scripts/package.json
  apps/scripts/src/apikey.js
  apps/scripts/src/constants.js
  apps/scripts/src/create-key.mjs
  apps/scripts/src/purge.js
  yarn.lock
Due: none

fix(scripts): fix ALL Purge and make API Key use confirmation constants
  apps/scripts/src/apikey.js
  apps/scripts/src/constants.js
  apps/scripts/src/purge.js
Due: none

fix(jsx): outline color always having 100% opacity and added an option for outlineSize
  packages/jsx/src/components/Box.tsx
Due: none

feat(jsx): added a more responsive header and a sidebarless header
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
Due: discord-bot

fix(utils): rename constants to utils
  apps/scripts/src/apikey.js
  apps/scripts/src/purge.js
  apps/scripts/src/utils.js
Due: none

feat(jsx): add cropping to `img` and fixed the `Skin` component
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Skin.tsx
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Div.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/components/Text.ts
Due: discord-bot

feat(scripts): add purging and key management scripts (#126)
  .devcontainer/devcontainer.json
  apps/scripts/package.json
  apps/scripts/src/apikey.js
  apps/scripts/src/create-key.mjs
  apps/scripts/src/purge.js
  apps/scripts/src/utils.js
  yarn.lock
Due: none

feat(jsx): improve spacing for `Sidebar` and `HeaderBody` description
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Table.tsx
  apps/discord-bot/src/index.ts
  packages/jsx/src/components/Box.ts
Due: discord-bot

chore(deps): update actions/checkout digest to 2541b12
  .github/workflows/ci.yml
Due: none

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, schemas

fix(schemas): add duels stats
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

fix: init data for stats
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: schemas

fix(schemas): add duels stats (#127)
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Due: schemas

chore: make issue templates support multiple packages
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: make issue templates support multiple packages (#130)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

ci: add auto labeler for PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

ci: auto label prs (#131)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

ci(github): add issue labeler workflow
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Due: none

ci(github): add issue labeler workflow (#132)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Due: none

ci(github): issue labeler take 2
  .github/issue_labeler.yml
Due: none

ci(github): add issue labeler workflow (take 2) (#133)
  .github/issue_labeler.yml
Due: none

ci(github): issue labeler take THREE
  .github/issue_labeler.yml
Due: none

ci(github): add issue labeler workflow (#134)
  .github/issue_labeler.yml
Due: none

ci(github): make issue labels only change on open
  .github/workflows/issue_labeler.yml
Due: none

ci(github): make issue labels only change on open (#138)
  .github/workflows/issue_labeler.yml
Due: none

ci(github): fix `enable-versioned-regex`
  .github/workflows/issue_labeler.yml
Due: none

ci(github): auto label prs and issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Due: none

ci(github): make an issue and pr labeler
  .devcontainer/install.sh
  .husky/commit-msg
  .husky/pre-commit
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
