Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

scaffold leaderboard and autocomplete routers
  apps/apiv2/package.json
  apps/apiv2/src/mod.ts
  apps/apiv2/src/routers/analytics.ts
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/routers/sessions.ts
  apps/apiv2/src/routers/skins.ts
  apps/apiv2/src/routing.ts
  apps/apiv2/src/services/autocomplete.ts
  apps/apiv2/src/services/hypixel.ts
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/trpc.ts
  packages/schemas/src/session.ts
  pnpm-lock.yaml
Due: api, schemas

feat: implement leaderboards
  apps/apiv2/package.json
  apps/apiv2/src/mod.ts
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/services/hypixel.ts
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/trpc.ts
  apps/apiv2/src/validation.ts
  pnpm-lock.yaml
Due: api

aa
  apps/apiv2/src/middleware/sentry.ts
  apps/apiv2/src/test.ts
Due: api

feat: implement autocomplete
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/services/autocomplete.ts
  apps/apiv2/src/services/hypixel.ts
  apps/apiv2/src/test.ts
Due: api

feat: add players to leaderboards and autocomplete
  apps/apiv2/package.json
  apps/apiv2/src/db.ts
  apps/apiv2/src/instrument.ts
  apps/apiv2/src/mod.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/services/autocomplete.ts
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/test.ts
  apps/apiv2/src/trpc.ts
  pnpm-lock.yaml
Due: api

refactor player router code
  apps/apiv2/src/middleware/sentry.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/services/autocomplete.ts
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/test.ts
  apps/apiv2/src/time.ts
  apps/scripts/package.json
  package.json
  pnpm-lock.yaml
Due: api

feat: implement guild fetching
  apps/apiv2/src/instrument.ts
  apps/apiv2/src/middleware/logger.ts
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/services/hypixel.ts
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/test.ts
  apps/apiv2/src/util.ts
  apps/apiv2/src/validation.ts
Due: api

implement guild cache times
  apps/apiv2/src/routers/guilds.ts
  apps/apiv2/src/routers/players.ts
  apps/apiv2/src/util.ts
Due: api

chore(i18n): update crowdin translations (#674)
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
Due: none

aa
  apps/apiv2/src/services/leaderboards.ts
  apps/apiv2/src/test.ts
Due: api

feat: revamp party games stats and add /partygames
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
  apps/discord-bot/src/commands/arcade/party-games.command.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/constants.ts
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/en-US/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

type imports
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
Due: discord-bot

chore: switch eslint-plugin-sort-imports-es6-autofix to @j4cobi/eslint-plugin-sort-imports
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): use @j4cobi/eslint-plugin-sort-imports (#679)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

lint
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
Due: discord-bot

feat: revamp arcade/party games stats and add /partygames (#678)
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
  apps/discord-bot/src/commands/arcade/party-games.command.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/constants.ts
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/en-US/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat: add more indepth warlords mode and class stats
  apps/discord-bot/src/commands/warlords/tables/classes.table.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/warlords/mode.ts
Due: discord-bot, schemas

fix: rearrange hide and seek stats
  apps/discord-bot/src/commands/arcade/modes/hide-and-seek.tsx
Due: discord-bot

fix: rearrange hide and seek stats (#680)
  apps/discord-bot/src/commands/arcade/modes/hide-and-seek.tsx
Due: discord-bot

change colors
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  locales/en-US/default.json
Due: discord-bot

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
