Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

fix: misc issues from v0.9.0 (#398)
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/tips.ts
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  pm2.config.js
Due: api, discord-bot, schemas

chore(i18n): update crowdin translation (#393)
  locales/bg/default.json
  locales/cs/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/pt-BR/default.json
  locales/tr/default.json
Due: none

feat(logger): write all logs to file
  .gitignore
  config.schema.js
  packages/logger/src/index.ts
  packages/util/src/config.ts
Due: logger, util

fix(rankings): error when running `/rankings`
  packages/schemas/src/util/leaderboard-scanner.ts
Due: schemas

fix(rankings): error when running `/rankings` (#401)
  packages/schemas/src/util/leaderboard-scanner.ts
Due: schemas

chore(deps): update dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, logger, schemas

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

fix(leaderboards): leaderboard expire times being returned in milliseconds instead of seconds
  apps/api/src/leaderboards/leaderboard.service.ts
Due: api

fix(leaderboards): leaderboard expire times being returned in milliseconds instead of seconds (#404)
  apps/api/src/leaderboards/leaderboard.service.ts
Due: api

flat box
  apps/discord-bot/src/themes/boxes/index.ts
  packages/schemas/src/user/theme.ts
Due: discord-bot, schemas

chore(i18n): update translations for `%language%`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none
