Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

fix(leaderboards): make it so wiped players are removed from leaderboards
  apps/api/src/leaderboards/leaderboard.service.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: api, schemas

aa
  apps/api/src/leaderboards/leaderboard.service.ts
Due: api

ab
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
Due: discord-bot

fix(leaderboards): remove wiped players from leaderboards (#629)
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Due: api, discord-bot, schemas

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

update discord-api-types
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/skywars/skywars-challenges.command.tsx
  apps/support-bot/package.json
  packages/discord/package.json
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/logger/src/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/skin-renderer/src/renderer.rs
  pnpm-lock.yaml
Due: discord-bot, logger, schemas

chore(i18n): update crowdin translation (#630)
  locales/ko/default.json
Due: none

aa
  apps/support-bot/src/commands/close.command.ts
  apps/support-bot/src/commands/commands.command.ts
  apps/support-bot/src/commands/delete-player.command.ts
  apps/support-bot/src/commands/force-unverify.command.ts
  apps/support-bot/src/commands/force-verify.command.ts
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/commands/ticket-menu.command.ts
  apps/support-bot/src/commands/user.command.ts
Due: none

feat(discord-bot): make commands installable per user (#626)
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/skywars/skywars-challenges.command.tsx
  apps/support-bot/package.json
  apps/support-bot/src/commands/close.command.ts
  apps/support-bot/src/commands/commands.command.ts
  apps/support-bot/src/commands/delete-player.command.ts
  apps/support-bot/src/commands/force-unverify.command.ts
  apps/support-bot/src/commands/force-verify.command.ts
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/commands/ticket-menu.command.ts
  apps/support-bot/src/commands/user.command.ts
  packages/discord/package.json
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/logger/src/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/skin-renderer/src/renderer.rs
  pnpm-lock.yaml
Due: discord-bot, logger, schemas

feat(site): update server count to 100,000 🎉
  apps/site/pages/index.tsx
  pnpm-lock.yaml
Due: none

fix(discord): account for integration_types and contexts in command comparison
  packages/discord/src/command/command.resolvable.ts
Due: none

fix: update lockfile
  package.json
  pnpm-lock.yaml
Due: none

fix(challenges): fix arena brawl cooperation challenges
  packages/schemas/src/player/gamemodes/challenges/modes/arenabrawl.ts
Due: schemas

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update crowdin translation (#636)
  locales/it/default.json
Due: none

feat(schemas): add back heads, ultimates crafted, and extra ultimates lbs
  packages/schemas/src/player/gamemodes/uhc/mode.ts
Due: schemas

feat(schemas): add heads, ultimates crafted, & extra ultimates lbs #638)
  packages/schemas/src/player/gamemodes/uhc/mode.ts
Due: schemas

fix(mojang): replace ashcon api with cached mojang api responses
  apps/api/src/dtos/cache.dto.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/api/src/session/session.service.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.module.ts
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  apps/support-bot/src/events/message-create.event.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/constants.ts
  packages/api-client/src/exceptions/skin.404.ts
  packages/api-client/src/responses/get.skin-textures.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/skin/index.ts
Due: api, discord-bot, schemas

lint code
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/session/session.service.ts
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  apps/support-bot/src/events/message-create.event.ts
  packages/api-client/src/api.service.ts
  packages/discord/src/services/api.service.ts
Due: api, discord-bot

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update crowdin translation (#643)
  locales/pl/default.json
Due: none

fix(mojang): replace ashcon api with cached mojang api responses (#639)
  apps/api/src/dtos/cache.dto.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/api/src/session/session.service.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.module.ts
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/skin.command.tsx
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  apps/discord-bot/src/lib/minecraft-head.ts
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/mojang-api.service.ts
  apps/support-bot/src/events/message-create.event.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/constants.ts
  packages/api-client/src/exceptions/skin.404.ts
  packages/api-client/src/responses/get.skin-textures.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/skin/index.ts
Due: api, discord-bot, schemas

feat(megawalls): add new megawalls kits and update class points
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/support-bot/src/commands/tags.command.ts
  package.json
  packages/discord/src/services/api.service.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  pnpm-lock.yaml
Due: discord-bot, schemas

aa
  apps/discord-bot/src/commands/historical/historical.base.tsx
Due: discord-bot

feat(megawalls): add new megawalls kits and update class points (#644)
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/support-bot/src/commands/tags.command.ts
  package.json
  packages/discord/src/services/api.service.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  pnpm-lock.yaml
Due: discord-bot, schemas

feat(arcade): add new zombies map 'The Prison'
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/lib/convert-color-codes.ts
  apps/support-bot/src/commands/tags.command.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

feat(arcade): add new zombies map 'The Prison' (#645)
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update crowdin translation (#648)
  locales/pt-BR/default.json
Due: none

fix(disocrd-bot): dashed uuid format in /uuid
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

feat(events): add summer 2024
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

chore(i18n): update crowdin translation (#651)
  locales/ro/default.json
Due: none

fix(disocrd-bot): dashed uuid format in /uuid (#649)
  apps/discord-bot/src/commands/minecraft/uuid.command.ts
Due: discord-bot

feat(events): add summer 2024 (#652)
  packages/schemas/src/player/gamemodes/general/events.ts
Due: schemas

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
