Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

fix(gamecounts): improve mode selection handling
  apps/discord-bot/src/commands/gamecounts.command.ts
Due: discord-bot

fix(api): clean up guild exp history merge
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.service.ts
  apps/api/tsconfig.json
Due: api

Add instructions for Statsify project setup
  .github/instructions/*.instructions.md
Due: none

Potential fix for pull request finding
  .github/instructions/*.instructions.md
Due: none

Rename *.instructions.md to instructions.md
  .github/instructions/instructions.md
Due: none

perf: speed up service startup checks
  apps/api/src/app.module.ts
  packages/discord/src/command/command.poster.ts
Due: api

perf(api): bucket rate limit counters
  apps/api/src/auth/auth.service.test.ts
  apps/api/src/auth/auth.service.ts
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
Due: api

Apply suggestion from @ugcodrr
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
Due: discord-bot

feat(api): add yaw parameter to skin rendering
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/skin-render.dto.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/util/animated-webp.ts
  apps/discord-bot/src/util/count-up.ts
  packages/api-client/src/api.service.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/intrinsics/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/skin-renderer/index.d.ts
  packages/skin-renderer/src/camera/orbital.rs
  packages/skin-renderer/src/native.rs
  packages/skin-renderer/src/renderer/mod.rs
  pnpm-lock.yaml
Due: api, discord-bot

feat(bedwars): implement shine effect for boxes
  apps/discord-bot/src/commands/bedwars/bedwars.command.tsx
  apps/discord-bot/src/util/shine.ts
  packages/rendering/src/intrinsics/Box.ts
Due: discord-bot

feat(rendering): add rainbow text support and animation
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/util/count-up.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/tokens.ts
Due: discord-bot

Add rendering chart components
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/components/Badge.tsx
  apps/discord-bot/src/components/BarChart.tsx
  apps/discord-bot/src/components/Graph.tsx
  apps/discord-bot/src/components/StatDelta.tsx
  apps/discord-bot/src/components/index.ts
  docs/rendering-components-prd.md
  packages/rendering/src/intrinsics/Graph.ts
  packages/rendering/src/intrinsics/index.ts
  packages/rendering/src/jsx/instrinsics.ts
Due: discord-bot

feat(quests): source objective targets from Hypixel resource with drift check
  apps/scripts/package.json
  apps/scripts/src/regen-quest-targets.js
  packages/schemas/package.json
  packages/schemas/src/player/gamemodes/quests/objective-targets.generated.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
Due: schemas

build(deps): add oxlint and oxfmt
  package.json
  pnpm-lock.yaml
Due: none

chore(lint): add oxc fmt and lint scripts
  package.json
Due: none

chore(lint): add oxlint config mirroring eslint rules
  .oxlintrc.json
Due: none

chore(lint): add oxfmt config mirroring eslint rules
  .oxfmtrc.json
Due: none

chore(lint): disable eslint rules replaced by oxfmt
  eslint.config.js
Due: none

chore(lint): disable eslint rules replaced by oxlint
  eslint.config.js
Due: none

chore(lint): migrate license header and next/cw-vitals to oxlint
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: none

chore(lint): scope nextjs plugin to apps/site and exclude skin-renderer artifacts
  .oxlintrc.json
Due: none

docs: update CONTRIBUTING and README for oxlint/oxfmt
  .github/CONTRIBUTING.md
  README.md
Due: none

fix(ci): add supportedArchitectures for linux-x64 native bindings
  package.json
Due: none

feat(scripts): add hypixel-sweeper maintenance script
  apps/scripts/package.json
  apps/scripts/src/hypixel-sweeper.js
  config.schema.js
  packages/schemas/src/player/index.ts
  packages/util/src/config.ts
  pm2.config.cjs
Due: schemas, util

fix(sweeper): handle player expiration updates on error
  apps/scripts/src/hypixel-sweeper.js
Due: none

fix(api): validate raw hypixel player uuid
  apps/api/src/hypixel-proxy/dtos.ts
  apps/api/src/hypixel/hypixel.service.ts
Due: api

feat(compare): add /compare command with bedwars subcommand
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/compare/compare.command.tsx
  apps/discord-bot/src/commands/compare/compare.profile.tsx
  apps/discord-bot/src/components/SplitPill.tsx
  apps/discord-bot/src/components/index.ts
  locales/en-US/default.json
Due: discord-bot

feat(compare): render player heads flanking names in compare header
  apps/discord-bot/src/commands/compare/compare.command.tsx
  apps/discord-bot/src/commands/compare/compare.profile.tsx
Due: discord-bot

ci: affected-only turbo filter for PRs
  .github/workflows/ci.yml
Due: none

feat: centralize command metadata
  .gitmodules
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  locales/en-US/default.json
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
Due: discord-bot, schemas

feat(rendering): phase 1 — cross-cutting foundation
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/components/theme.ts
  apps/discord-bot/src/lib/auto-contrast.ts
  apps/discord-bot/src/lib/format-number.ts
Due: discord-bot

feat(rendering): phase 2 — seven new canvas intrinsics
  packages/rendering/src/intrinsics/Arc.ts
  packages/rendering/src/intrinsics/Donut.ts
  packages/rendering/src/intrinsics/Gradient.ts
  packages/rendering/src/intrinsics/HeatmapIntrinsic.ts
  packages/rendering/src/intrinsics/Path.ts
  packages/rendering/src/intrinsics/Radar.ts
  packages/rendering/src/intrinsics/SparkBar.ts
  packages/rendering/src/intrinsics/index.ts
  packages/rendering/src/jsx/instrinsics.ts
Due: none

feat(rendering): phase 3 — upgrade four shipped components
  apps/discord-bot/src/components/Badge.tsx
  apps/discord-bot/src/components/BarChart.tsx
  apps/discord-bot/src/components/Graph.tsx
  apps/discord-bot/src/components/StatDelta.tsx
  packages/rendering/src/intrinsics/Graph.ts
Due: discord-bot

feat(rendering): phase 4 — nine new discord-bot components
  apps/discord-bot/src/components/Gauge.tsx
  apps/discord-bot/src/components/HeatmapChart.tsx
  apps/discord-bot/src/components/LeaderboardRow.tsx
  apps/discord-bot/src/components/PrestigeIcon.tsx
  apps/discord-bot/src/components/RadarChart.tsx
  apps/discord-bot/src/components/RankTag.tsx
  apps/discord-bot/src/components/StatGrid.tsx
  apps/discord-bot/src/components/Trend.tsx
  apps/discord-bot/src/components/VersusPanel.tsx
  apps/discord-bot/src/components/index.ts
Due: discord-bot

feat(rendering): phase 5 — /demo paginated showcase command
  apps/discord-bot/src/commands/demo/demo.command.tsx
  apps/discord-bot/src/commands/demo/pages/charts-graphs.tsx
  apps/discord-bot/src/commands/demo/pages/comparison-ranking.tsx
  apps/discord-bot/src/commands/demo/pages/radial-distribution.tsx
  apps/discord-bot/src/commands/demo/pages/stat-primitives.tsx
  apps/discord-bot/src/commands/demo/pages/theming-kitchen.tsx
Due: discord-bot

fix(rendering): replace location="right" with spacer-div pattern
  apps/discord-bot/src/components/LeaderboardRow.tsx
  apps/discord-bot/src/components/VersusPanel.tsx
Due: discord-bot

chore: remove .turbo folder
  '.turbo'/0887dd989cb0df92-meta.json
  '.turbo'/0887dd989cb0df92.tar.zst
  '.turbo'/560fb9e86b65f150-meta.json
  '.turbo'/560fb9e86b65f150.tar.zst
  '.turbo'/5de5b3be5565a1d4-meta.json
  '.turbo'/5de5b3be5565a1d4.tar.zst
  '.turbo'/6df68d36259bce9e-meta.json
  '.turbo'/6df68d36259bce9e.tar.zst
  '.turbo'/6e55f2172ff48f6f-meta.json
  '.turbo'/6e55f2172ff48f6f.tar.zst
  '.turbo'/87c54e168150e584-meta.json
  '.turbo'/87c54e168150e584.tar.zst
  '.turbo'/8ec1ba9b0fa0ad92-meta.json
  '.turbo'/8ec1ba9b0fa0ad92.tar.zst
  '.turbo'/928fdb17552f72c8-meta.json
  '.turbo'/928fdb17552f72c8.tar.zst
  '.turbo'/bf4fc849fd54c438-meta.json
  '.turbo'/bf4fc849fd54c438.tar.zst
  '.turbo'/c1c2543d8c410791-meta.json
  '.turbo'/c1c2543d8c410791.tar.zst
  '.turbo'/c57e3a1fe2240051-meta.json
  '.turbo'/c57e3a1fe2240051.tar.zst
  '.turbo'/dda3b3af35eb510f-meta.json
  '.turbo'/dda3b3af35eb510f.tar.zst
  '.turbo'/eb9eb96f6e1ed9be-meta.json
  '.turbo'/eb9eb96f6e1ed9be.tar.zst
  .gitignore
Due: none
