Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

codecov.yml:

flags:
  api:
    paths:
      - apps/api
  discord-bot:
    paths:
      - apps/discord-bot
  logger:
    paths:
      - packages/logger
  math:
    paths:
      - packages/math
  schemas:
    paths:
      - packages/schemas
  util:
    paths:
      - packages/util

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 3%
        flags:
          - api
          - discord-bot
          - logger
          - math
          - schemas
          - util
      api:
        flags:
          - api
      discord-bot:
        flags:
          - discord-bot
      logger:
        flags:
          - logger
      math:
        flags:
          - math
      schemas:
        flags:
          - schemas
      util:
        flags:
          - util

chore(i18n): update translations for `Turkish`
  locales/tr/default.json
Due: none

chore(i18n): update translations for `Chinese Simplified`
  locales/zh-CN/default.json
Due: none

chore(i18n): update translations for `Chinese Traditional`
  locales/zh-TW/default.json
Due: none

chore(i18n): update translations for `Vietnamese`
  locales/vi/default.json
Due: none

chore(i18n): update translations for `Portuguese, Brazilian`
  locales/pt-BR/default.json
Due: none

chore(i18n): update translations for `Thai`
  locales/th/default.json
Due: none

chore(i18n): update translations for `Hindi`
  locales/hi/default.json
Due: none

feat(discord-bot): add page to view all duels titles
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/index.ts
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
  locales/en-US/emojis.json
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: discord-bot, schemas

feat(arcade): add in-depth zombies map stats
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

make backgrounds vary with submode
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/woolgames/woolwars.table.tsx
  apps/discord-bot/src/constants.ts
  packages/schemas/src/game/game-modes.ts
Due: discord-bot, schemas

add mode emojis to session
  apps/discord-bot/src/commands/blitzsg/blitzsg.command.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  packages/discord/src/command/command.loader.ts
Due: discord-bot

feat(discord-bot): add page to view all duels titles (#740)
  apps/discord-bot/src/commands/blitzsg/blitzsg.command.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/duels/duels.command.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/index.ts
  apps/discord-bot/src/commands/duels/tables/titles.table.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  locales/en-US/emojis.json
  packages/discord/src/command/command.loader.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
Due: discord-bot, schemas

add submode emojis to session
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/constants.ts
  packages/schemas/src/game/game-modes.ts
Due: discord-bot, schemas

feat(arcade): add in-depth zombies map stats (#741)
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/quests/quests.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/woolgames/woolwars.table.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(arcade): remove map difficulties from alien arcadium
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

fix(arcade): remove map difficulties from alien arcadium (#742)
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/zombies.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Due: discord-bot, schemas

chore(i18n): update translations for `English, United States`
  locales/en-US/default.json
Due: none

chore(i18n): update translations for `Polish`
  locales/pl/default.json
Due: none

chore(i18n): update translations for `Ukrainian`
  locales/uk/default.json
Due: none

chore(i18n): update translations for `Croatian`
  locales/hr/default.json
Due: none

chore(i18n): update translations for `Norwegian`
  locales/no/default.json
Due: none

chore(i18n): update translations for `Romanian`
  locales/ro/default.json
Due: none

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update translations for `Spanish`
  locales/es-ES/default.json
Due: none

chore(i18n): update translations for `Bulgarian`
  locales/bg/default.json
Due: none

chore(i18n): update translations for `Czech`
  locales/cs/default.json
Due: none

chore(i18n): update translations for `Danish`
  locales/da/default.json
Due: none

chore(i18n): update translations for `German`
  locales/de/default.json
Due: none

chore(i18n): update translations for `Greek`
  locales/el/default.json
Due: none

chore(i18n): update translations for `Finnish`
  locales/fi/default.json
Due: none

chore(i18n): update translations for `Hungarian`
  locales/hu/default.json
Due: none

chore(i18n): update translations for `Italian`
  locales/it/default.json
Due: none

chore(i18n): update translations for `Japanese`
  locales/ja/default.json
Due: none

chore(i18n): update translations for `Korean`
  locales/ko/default.json
Due: none

chore(i18n): update translations for `Lithuanian`
  locales/lt/default.json
Due: none

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

chore(i18n): update translations for `Russian`
  locales/ru/default.json
Due: none

chore(i18n): update translations for `Swedish`
  locales/sv-SE/default.json
Due: none
