Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

docs(readme): update readme to include note about assets
  .gitignore
  README.md
Due: none

feat(assets): add assets as a git submodule (#87)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitignore
  .gitmodules
  README.md
  apps/api/package.json
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  assets/api/defaultSkin.png
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/assets/tsconfig.eslint.json
  packages/assets/tsconfig.json
  yarn.lock
Due: api

feat(user): add `User` schema to `@statsify/schemas`
  apps/discord-bot/package.json
  packages/schemas/src/index.ts
  packages/schemas/src/user/index.ts
  yarn.lock
Due: discord-bot, schemas

feat(discord): add a getter for `locale`
  packages/discord/src/interaction/interaction.ts
Due: none

feat(skin module): add 3d skin rendering (#88)
  apps/api/package.json
  apps/api/src/skin/skin.controller.ts
  apps/api/src/skin/skin.service.ts
  packages/assets/src/index.ts
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  yarn.lock
Due: api, math

feat(user): add `User` schema to `@statsify/schemas` (#89)
  apps/discord-bot/package.json
  packages/discord/src/interaction/interaction.ts
  packages/schemas/src/index.ts
  packages/schemas/src/user/index.ts
  yarn.lock
Due: discord-bot, schemas

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  package.json
  packages/logger/package.json
  yarn.lock
Due: api, discord-bot, logger

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/site/package.json
  package.json
  packages/schemas/package.json
  yarn.lock
Due: api, schemas

fix(deps): update dependency @nestjs/config to v2
  apps/api/package.json
  yarn.lock
Due: api

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  package.json
  packages/logger/package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, logger, schemas

chore(deps): update actions/cache action to v3
  .github/workflows/ci.yml
Due: none

feat(cvc): rework data format for cvc
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: schemas

fix(quake): fix quake hkr
  packages/schemas/src/player/gamemodes/quake/mode.ts
Due: schemas

chore(deps): update actions/cache digest to 136d96b
  .github/workflows/ci.yml
Due: none

chore(deps): update actions/setup-node digest to 5b52f09
  .github/workflows/ci.yml
Due: none

chore(deps): Update all non-major dependencies
  apps/api/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  package.json
  packages/schemas/package.json
  yarn.lock
Due: api, discord-bot, schemas

fix(deps): update react monorepo to v18
  apps/site/package.json
  yarn.lock
Due: none

feat(canvas jsx): adds a JSX wrapper for canvas
  .eslintrc
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.ts
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Table.tsx
  packages/jsx/.swcrc
  packages/jsx/jest.config.js
  packages/jsx/package.json
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/components/Div.tsx
  packages/jsx/src/components/Image.tsx
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/components/index.ts
  packages/jsx/src/hooks/index.ts
  packages/jsx/src/hooks/useComponentSize.ts
  packages/jsx/src/index.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-element.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/index.ts
  packages/jsx/src/jsx/types.ts
  packages/jsx/src/jsx/util.ts
  packages/jsx/tests/index.spec.ts
  packages/jsx/tsconfig.eslint.json
  packages/jsx/tsconfig.json
  yarn.lock
Due: discord-bot

fix(cvc): use gamemode data to get wins
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
Due: schemas

feat(cvc): rework data format for cvc (#95)
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Due: schemas

feat(font): minecraft font based on the textures
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Table.tsx
  packages/jsx/package.json
  packages/jsx/positions.json
  packages/jsx/sizes.json
  packages/jsx/src/colors/index.ts
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/font/index.ts
  packages/jsx/src/font/tokens.ts
  packages/jsx/src/index.ts
  packages/schemas/package.json
  packages/schemas/src/color.ts
  packages/schemas/src/index.ts
  packages/util/src/index.ts
  packages/util/src/minecraft-colors.ts
  yarn.lock
Due: discord-bot, schemas, util

chore(lock file): fix lockfile
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18
  apps/site/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v18
  apps/site/package.json
  yarn.lock
Due: none

fix(box): fix box border radius + shadow not working with values other than 4
  apps/discord-bot/src/commands/example.command.tsx
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/font/font-renderer.ts
Due: discord-bot

chore(deps): Update all non-major dependencies
  package.json
  yarn.lock
Due: none

feat(jsx): refactor and improve perf of font rendering and some box code
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Sidebar.tsx
  apps/discord-bot/src/components/Header/Skin.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/index.ts
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/font/tokens.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-element.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Due: discord-bot

feat(redoc): add tags to each endpoint
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/skin/skin.controller.ts
Due: api

feat(redoc): add tags to each endpoint (#106)
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/leaderboards/guild-leaderboard.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/skin/skin.controller.ts
Due: api

feat(player): add player status info
  packages/schemas/src/player/index.ts
  packages/schemas/src/player/status.ts
Due: schemas

chore(deps): update actions/cache digest to 48af2dc
  .github/workflows/ci.yml
Due: none

chore(deps): update actions/checkout digest to dcd71f6
  .github/workflows/ci.yml
Due: none

chore(deps): update actions/setup-node digest to 56337c4
  .github/workflows/ci.yml
Due: none

feat(api): add key data headers to api response
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/auth.service.ts
  apps/api/tests/mocks/auth.mock.ts
Due: api

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
