Repository Statsify/statsify: changes, and which Codecov flags are due for each by the changed paths.
All: api, discord-bot, logger, math, schemas, util

New translations default.json (Hindi)
  locales/hi/default.json
Due: none

chore(crowdin): add crowdin config
  crowdin.yml
  locales/nl/default.json
Due: none

chore(i18n): add crowdin translation (#337)
  locales/bg/default.json
  locales/cz/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
Due: none

feat(locales): add french language (#335)
  locales/fr-CA/default.json
Due: none

feat(locales): add chinese simplified (#333)
  locales/zh-CN/default.json
Due: none

fix(support-bot): correctly distrubte the premium tier when the patreon role is added
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
Due: none

fix(support-bot): correctly distrubte premium tiers (#338)
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
Due: none

chore(i18n): move french to `fr`
  locales/fr-CA/default.json
  locales/fr/default.json
Due: none

Update Crowdin configuration file
  crowdin.yml
Due: none

feat(ping): add translators to the ping command
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/cs/default.json
  locales/en-US/default.json
Due: discord-bot

feat(language): add the ability to reset your language to your discord language
  apps/discord-bot/src/commands/config/language.command.tsx
  packages/api-client/src/api.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

fix(blitzsg): make prestiged kits display gold instead of dark red
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
Due: discord-bot

chore(i18n): update translations for `%locale%` (Dutch)
  locales/nl/default.json
Due: none

feat(ping): add translators to the ping command (#339)
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/cs/default.json
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/schemas/src/user/index.ts
Due: discord-bot, schemas

fix(language): make language command use native names for languages
  apps/discord-bot/src/commands/config/language.command.tsx
  locales/nl/default.json
Due: discord-bot

chore(crowdin): update crowdin pr title
  crowdin.yml
Due: none

chore(i18n): update crowdin translation (#340)
  apps/discord-bot/src/commands/config/language.command.tsx
  crowdin.yml
  locales/nl/default.json
Due: discord-bot

chore(i18n): update translations for %locale% (French)
  locales/fr/default.json
Due: none

chore(locales): remove `noPitStats`
  apps/discord-bot/src/services/pit-panda.service.ts
  crowdin.yml
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
Due: discord-bot

fix: enable player autocomplete
  apps/discord-bot/src/services/index.ts
  locales/fr/default.json
  packages/discord/src/arguments/player.argument.ts
Due: discord-bot

chore(i18n): update crowdin translation (#341)
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  crowdin.yml
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  packages/discord/src/arguments/player.argument.ts
Due: discord-bot

chore(i18n): update translations for `French`
  locales/fr/default.json
Due: none

chore(i18n): update crowdin translation (#342)
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/fr/default.json
Due: discord-bot

chore(i18n): update translations for `Dutch`
  locales/nl/default.json
Due: none

Restore default.json
  locales/nl/default.json
Due: none

chore(i18n): update crowdin translation (#343)
  locales/fr/default.json
Due: none

fix(ping): add new translators
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/fr/default.json
Due: discord-bot

fix(ping): add new translators (#344)
  apps/discord-bot/src/commands/info/ping.command.ts
Due: discord-bot

chore(i18n): update translations for `%language%`
  locales/en-US/default.json
Due: none

Path conditions:
  api: any of: apps/api
  discord-bot: any of: apps/discord-bot
  logger: any of: packages/logger
  math: any of: packages/math
  schemas: any of: packages/schemas
  util: any of: packages/util
